{% extends 'base.html' %}

{% block header %}
    <header></header> <!-- Needs custom header -->
{% endblock header %}

{% block content %}
    <div id="compare-container">
        <table> <!-- Table allows for horizontal scrolling. -->
            <tbody>
                <tr>
                    <td> <!-- Scenario 1 -->
                        <div class="compare-column"> <!-- Column containing scenario info -->

                            <div class="map-container"> <!-- Map of scenario 1 -->
                                <div class="scenario-title">
                                    <h3 class="light">Scenario 1</h3>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="chart-container"> <!-- Output charts for scenario 1 -->
                                <h3>Model Output</h3>
                                <div class="pull-right">
                                    <select class="form-control btn btn-small btn-primary"> <!-- This should update all scenario dropdowns -->
                                      <option>Runoff</option>
                                      <option>Water Quality</option>
                                    </select>
                                </div>
                                <div class="chart"></div> <!-- Place Chart Here -->
                            </div>

                            <div class="precipitation"></div> <!-- Precipitation slider.  This will update the slider position in model view. -->

                            <div class="modification-list">
                                <h3>Modifications</h3>
                                <ul> <!-- Modification list Here -->
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td> <!-- Scenario 2 -->
                        <div class="compare-column"> <!-- Column containing scenario info -->

                            <div class="map-container"> <!-- Map of scenario 2 -->
                                <div class="scenario-title">
                                    <h3 class="light">Scenario 2</h3>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="chart-container"> <!-- Output charts for scenario 2 -->
                                <h3>Model Output</h3>
                                <div class="pull-right">
                                    <select class="form-control btn btn-small btn-primary">
                                      <option>Runoff</option>
                                      <option>Water Quality</option>
                                    </select>
                                </div>
                                <div class="chart"></div> <!-- Place Chart Here -->
                            </div>

                            <div class="precipitation"></div> <!-- Precipitation slider Here -->

                            <div class="modification-list"> <!-- Modification list Here -->
                                <h3>Modifications</h3>
                                <ul>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td> <!-- Scenario 3 -->
                        <div class="compare-column"> <!-- Column containing scenario info -->

                            <div class="map-container"> <!-- Map of scenario 3 -->
                                <div class="scenario-title">
                                    <h3 class="light">Scenario 3</h3>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="chart-container"> <!-- Output charts for scenario 3 -->
                                <h3>Model Output</h3>
                                <div class="pull-right">
                                    <select class="form-control btn btn-small btn-primary">
                                      <option>Runoff</option>
                                      <option>Water Quality</option>
                                    </select>
                                </div>
                                <div class="chart"></div> <!-- Place Chart Here -->
                            </div>

                            <div class="precipitation"></div> <!-- Precipitation slider Here -->

                            <div class="modification-list"> <!-- Modification list Here -->
                                <h3>Modifications</h3>
                                <ul>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td> <!-- Scenario 4 -->
                        <div class="compare-column"> <!-- Column containing scenario info -->

                            <div class="map-container"> <!-- Map of scenario 4 -->
                                <div class="scenario-title">
                                    <h3 class="light">Scenario 4</h3>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="chart-container"> <!-- Output charts for scenario 4 -->
                                <h3>Model Output</h3>
                                <div class="pull-right">
                                    <select class="form-control btn btn-small btn-primary">
                                      <option>Runoff</option>
                                      <option>Water Quality</option>
                                    </select>
                                </div>
                                <div class="chart"></div> <!-- Place Chart Here -->
                            </div>

                            <div class="precipitation"></div> <!-- Precipitation slider Here -->

                            <div class="modification-list"> <!-- Modification list Here -->
                                <h3>Modifications</h3>
                                <ul>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                    <td> <!-- Scenario 5 -->
                        <div class="compare-column"> <!-- Column containing scenario info -->

                            <div class="map-container"> <!-- Map of scenario 5 -->
                                <div class="scenario-title">
                                    <h3 class="light">Scenario 5</h3>
                                </div>
                                <div id="map"></div>
                            </div>

                            <div class="chart-container"> <!-- Output charts for scenario 5 -->
                                <h3>Model Output</h3>
                                <div class="pull-right">
                                    <select class="form-control btn btn-small btn-primary">
                                      <option>Runoff</option>
                                      <option>Water Quality</option>
                                    </select>
                                </div>
                                <div class="chart"></div> <!-- Place Chart Here -->
                            </div>

                            <div class="precipitation"></div> <!-- Precipitation slider Here -->

                            <div class="modification-list"> <!-- Modification list Here -->
                                <h3>Modifications</h3>
                                <ul>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                    <li>Example</li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


{% endblock content %}

{% block footer %}
{% endblock footer %}
