{% extends 'base.html' %}

{% block header %}
<header> <!-- Search Header -->

    <nav id="app-header" class="navbar-watershed">
        <div class="brand"><a href="#">Model My Watershed</a></div>
        <div class="navigation">
            <ul class="main">
                <li><a href="#">Community</a></li>
                <li><a href="#">ctaylor</a></li>
            </ul>
        </div>
    </nav>

</header> <!-- End Search Header -->
{% endblock header %}

{% block content %}
<div class="container-fluid top-nav"> <!-- Container -->
    <div id="extra-header"></div> <!-- Extra Header -->
    <div id="search-map"> <!-- Search Tools -->
        <div id="geocode-search-region"></div> <!-- Search Input -->
        <div id="draw-tools-region"></div>
    </div> <!-- End Search Tools -->

    <div id="map"></div> <!-- Leaflet Map -->

</div> <!-- End Container -->

<div class="modal modal-large fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
