{% if message %}
    <div class="analyze-layermessage">
        {{ message }}
    </div>
{% else %}
    <button class="analyze-layertoggle">
        Related Layer: Weather Stations used in this model.
        <div class="on-off-toggle">
            {% if isLayerOn %}
            <i class="fa fa-times" aria-hidden="true"></i>
            Turn off
            {% else %}
            <i class="fa fa-check" aria-hidden="true"></i>
            Turn on
            {% endif %}
        </div>
    </button>
    <div class="analyze-source">
        <span>Source: USEPA National Climate Data</span>
        <a class="help" data-toggle="popover" tabindex="0" data-html="true"
            data-container="body" role="button"
            data-content="For more information on the data source, see
                          <a href='https://wikiwatershed.org/help/model-help/mmw-tech/#usepa-climate'
                             target='_blank'>MMW Technical Documentation</a>"
            data-template="<div class='popover'><div class='pull-right'
                            id='popover-close-button'><i class='fa fa-times' /></div><div
                            class='popover-content'></div><div class='arrow'></div></div>">
            <i class="fa fa-info-circle black"></i>
        </a>
    </div>
{% endif %}
