// The comments are your guide, feel free to remove them at any point.

/**
 * Import Font URL
 * Google Font Library
 * Only used if not called in head
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300,400italic);

/**
 * Vendor style importing
 * Any frameworks, javascript plugins, etc
 * Bootstrap, Foundation, Select2, etc
 */
@import
  "animate",
  "bootstrap";

/**
 * All sass tools, utilities and helpers
 * Includes Global variables, functions, mixins, placeholders
 * Does not include vendors
 */
@import
  "utils/variables",
  "utils/quick-classes",
  "utils/mixins";

/**
 * Boilerplate styling
 * Examples include browser reset, typographic rules, etc
 * General rule of thumb no user defined selectors (.classes, #ids)
 */
@import
  "base/base",
  "base/typography";

/**
 * App layout and overall structure
 * Styling the main portion of the site.
 * Grid, Navbar, footer, sidebar
 */
@import
  "base/header",
  "base/login",
  "base/map";

/**
 * Components
 * Buttons, text-input, tabs.
 */
@import
  "components/buttons",
  "components/charts",
  "components/tabs",
  "components/dropdowns",
  "components/modals",
  "components/inputs",
  "components/slider-native",
  "components/tables",
  "components/observations",
  "components/sidebar";

/**
 * Pages
 */
@import
  "pages/search-map",
  "pages/analyze",
  "pages/model",
  "pages/compare",
  "pages/projects",
  "pages/water-balance";
