//Quick Classes
.menu-right{
  right: 0;
  left: inherit;
}

.bdr-bottom{
  border-bottom: solid 1px $black-12;
}

.pad-sm{
  padding: 1rem;
}

.pad-md{
  padding: 2rem;
}

.pad-lg{
  padding: 3rem;
}
