//Base Colors
$black-12:          rgba(0,0,0,.12);
$black-24:          rgba(0,0,0,.24);
$black-54:          rgba(0,0,0,.54);
$black-74:          rgba(0,0,0,.74);
$black:             #000000;
$paper-12:          rgba(255,255,255,.12);
$paper-54:          rgba(255,255,255,.54);
$paper-74:          rgba(255,255,255,.74);
$paper:             #ffffff;

//Custom Colors
$ui-primary:        #273238; /*Dark Grey*/
$ui-secondary:      #394750; /*Medium Grey*/
$ui-light:          #eceff1; /*Light Grey*/
$ui-grey:           #d0d8dc; /*Output Tab Bar*/
$active:            #51dec2; /*Bright*/
$brand-primary:     #389b9b; /*Teal*/
$sky-blue:          #bbe5f5; /*Sky*/
$water:             #49b8ea; /*Water*/
$et:                #c2d33c; /*Evapotranspiration*/
$i:                 #f8aa00; /*Infiltration*/
$r:                 #cf4300; /*Runoff*/

//Heights
$height-lg:         44px;
$height-md:         36px;
$height-sm:         28px;
$height-xs:         18px;

//Border-radius
$radius-sm:         2px;
