[Unit]
Description=mmw-rwd
After=network.target

[Service]
User=mmw
WorkingDirectory={{ rwd_data_path }}
ExecStart=docker run --rm --volume "{{ rwd_data_path }}:{{ rwd_data_path }}:ro" --publish "{{ rwd_port }}:{{ rwd_port }}" "{{ rwd_docker_image }}"

[Install]
{% if ['development', 'test'] | some_are_in(group_names) -%}
WantedBy=opt-app.mount
{% else %}
WantedBy=multi-user.target
{% endif %}
