description "Rapid Watershed Delineation"

{% if ['development', 'test'] | some_are_in(group_names) -%}
start on (vagrant-mounted and started docker)
{% else %}
start on (filesystem and local-filesystems and started docker and rwd-ready)
{% endif %}
stop on stopping docker

kill timeout 20
kill signal CONT
respawn

pre-start script
  /usr/bin/docker kill rwd || true
  /usr/bin/docker rm rwd || true
end script

exec /usr/bin/docker run \
  --name rwd \
  --publish {{ rwd_port }}:5000 \
  --volume {{ rwd_data_path }}:{{ rwd_data_path }}:ro \
  --log-driver syslog \
  {{ rwd_docker_image }}

post-start script
  while ! nc -w0 {{ rwd_host }} {{ rwd_port }}; do sleep 1; done
end script

post-stop script
  /usr/bin/docker kill rwd
  /usr/bin/docker rm rwd
end script
