###################
# spark-jobserver #
###################

spark.jobserver {
  port = 8090
  jobdao = spark.jobserver.io.JobSqlDAO

  sqldao {
    rootdir = {{ sjs_data_dir }}
    jdbc.url = "jdbc:h2:file:/{{ sjs_data_dir }}/h2-db"
  }

  job-jar-paths {
    "geoprocessing-{{ geop_version }}" = {{ geop_home }}/mmw-geoprocessing-{{ geop_version }}.jar
  }
}

spark.contexts {
  geoprocessing {}
}

#########
# spark #
#########

spark {
  home = "/opt/spark"
  master = "local[*]"

  context-settings.passthrough.spark.serializer = "org.apache.spark.serializer.KryoSerializer"
  context-settings.passthrough.spark.kryo.registrator = "geotrellis.spark.io.hadoop.KryoRegistrator"
}

#########
# spray #
#########

spray.can.server.parsing.max-content-length = 250m
