###################
# spark-jobserver #
###################

spark.jobserver {
  port = 8090
  jar-store-rootdir = {{ sjs_jars_dir }}
  filedao.rootdir = {{ sjs_filedao_dir }}
}

spark.contexts {
  geoprocessing {}
}

#########
# spark #
#########

spark {
  home = "/opt/spark"
  master = "local[*]"

  context-settings.passthrough.spark.serializer = "org.apache.spark.serializer.KryoSerializer"
  context-settings.passthrough.spark.kryo.registrator = "geotrellis.spark.io.hadoop.KryoRegistrator"
}

#########
# spray #
#########

spray.can.server.parsing.max-content-length = 250m
