description "Spark Job Server"

start on (filesystem and started docker)
stop on stopping docker

kill timeout 20
kill signal CONT
respawn

pre-start script
  /usr/bin/docker kill spark-jobserver || true
  /usr/bin/docker rm spark-jobserver || true
end script

exec /usr/bin/docker run \
  --name spark-jobserver \
  --publish {{ sjs_port }}:{{ sjs_port }} \
  {% if ['development', 'test'] | some_are_in(group_names) -%}
  --volume /aws:/root/.aws \
  --env AWS_PROFILE={{ aws_profile }} \
  {% endif -%}
  --volume {{ sjs_home }}/spark-jobserver.conf:{{ sjs_home }}/spark-jobserver.conf \
  --volume {{ sjs_home }}/log4j.properties:{{ sjs_home }}/log4j.properties \
  --volume {{ geop_home }}:{{ geop_home }} \
  --volume {{ sjs_data_dir }}:{{ sjs_data_dir }} \
  --log-driver syslog \
  {{ sjs_container_image }} --driver-memory {{ sjs_driver_memory }} --driver-java-options "-Xss5m -Dlog4j.configuration=file:log4j.properties"

post-stop script
  /usr/bin/docker kill spark-jobserver || true
  /usr/bin/docker rm spark-jobserver || true
end script
