<div class="modal-dialog">
    <div class="modal-content entry-modal-content">
        <div class="modal-header">
            <div class="title">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="modal-body">
            <div class="rows"></div>
        </div>
        <div class="modal-footer">
            <div class="footer-content">
                <div class="total-content"></div>
                <button class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-md btn-active">Save</button>
            </div>
        </div>
    </div>
</div>
