<div class="modal-dialog">
    <div class="modal-content entry-modal-content">
        <div class="modal-header">
            <div class="title">
                <a
                    class="btn close"
                    target="_blank"
                    href="https://wikiwatershed.org/documentation/mmw-tech/#description-and-editing-of-key-model-input-data-and-parameters"
                    title="Description and Editing of Key Model Input Data and Parameters"
                >
                    <i class="fa fa-question-circle"></i>
                </a>
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="modal-body">
            <div class="rows">
                <div class="row mapshed-manual-entry">
                    <div class="col-sm-4">
                        <div class="mapshed-manual-entry-label">
                            Landcover Preset
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <select id="land-cover-preset" class="form-control">
                            <optgroup label="Default">
                                <option value="">{{ defaultLandCover.displayName }}</option>
                            </optgroup>
                            <optgroup label="NLCD">
                                {% for lc in landCovers %}
                                    {% if lc.name != defaultLandCover.name %}
                                        <option
                                            value="{{ lc.name }}"
                                            {{ 'selected' if preset == lc.name }}
                                            {{ 'disabled' if lc.status != 'complete' }}
                                        >
                                            {{ '(Loading) ' if lc.status == 'started' }}
                                            {{ '(Analysis failed) ' if lc.status == 'failed' }}
                                            {{ lc.displayName }}
                                        </option>        
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                            <optgroup label="Future Simulations{{ ' (DRB Only)' if not in_drb }}">
                                {% for drb in drbCovers %}
                                    <option
                                        value="{{ drb.name }}"
                                        {{ 'selected' if preset == drb.name }}
                                        {{ 'disabled' if not in_drb or drb.status != 'complete' }}
                                    >
                                        {{ '(Loading) ' if drb.status == 'started' }}
                                        {{ '(Analysis failed) ' if drb.status == 'failed' }}
                                        {{ drb.displayName }}
                                    </option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </div>
                <hr />
                <div id="fields-region"></div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="footer-content">
                <div class="total-content"></div>
                <button class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-md btn-active">Save</button>
            </div>
        </div>
    </div>
</div>
