<div class="modal-dialog">
    <div class="modal-content entry-modal-content">
        <div class="modal-header">
            <div class="title">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="modal-body">
            <div role="tablist" class="tab-panels-region"></div>
            <div class="tab-contents-region"></div>
        </div>
        <div class="modal-footer" style="text-align: right">
            <div class="footer-content">
                <button class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-md btn-active">Save</button>
            </div>
        </div>
    </div>
</div>
