{% extends 'base.html' %}

{% block header %}
    <header class="water-balance">

        <nav id="app-header" class="navbar-watershed">
            <div class="brand"><a href="#">Model My Watershed</a></div>
            <div class="navigation">
                <div class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Information">
                    <a class="main dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                    <i class="fa fa-info-circle"></i>
                    </a>
                    <div id="info" class="dropdown-menu menu-right" role="menu" aria-labelledby="select-area">
                        <h2>Water Balance Model</h2>
                        <p>Welcome to the Model My Watershed simple water-balance simulator. See how changes in the amount of rainfall, the surfaces on which the rain falls and the texture of the soil change where the water goes. To begin, decide how much rain will fall by using the slide bar on the upper right.  Then select the land-cover type where the rain will fall. Finally, pick a soil type. The coarsest soils (sandy soils) are on the left and the finest soils (clay loam) are on the right.  As the simulation runs, follow where the water flows.  Also, look at the column in the center that shows how much water goes in each direction.</p>
                    </div>
                </div>
            </div>
        </nav>

    </header>
{% endblock header %}

{% block content %}
    <div id="water-balance" class="container-fluid top-nav"> <!-- Container -->

        <div class="canvas"> <!-- Canvas -->

            <div class="model-container"> <!-- Model Container -->

                <!-- OUTPUT WELLS -->

                <div id="well-precip" class="well-custom text-center"> <!-- Precip Well -->
                    <h1 class="precip">8.0"</h1>
                    <label>Precipitation</label>
                </div> <!-- End Precip Well -->

                <div id="well-evapo" class="well-custom text-center"> <!-- Evapotranspiration Well -->
                    <h1 class="evapo">3.0"</h1>
                    <label>Evapotranspiration</label>
                </div> <!-- End Evapotranspiration Well -->

                <div id="well-runoff" class="well-custom text-center"> <!-- Runoff Well -->
                    <h1 class="runoff">4.0"</h1>
                    <label>Runoff</label>
                </div> <!-- End Runoff Well -->

                <div id="well-infil" class="well-custom text-center"> <!-- Infiltration Well -->
                    <h1 class="infil">3.0"</h1>
                    <label>Infiltration</label>
                </div> <!-- End Infiltration Well -->

                <!-- LANDCOVER -->

                <div class="tab-content land-container text-center"> <!-- Land Cover Type -->

                    <!-- Effects -->

                    <div id="effect-rain" class="animated fadeInDown">
                        <img src="assets/img/art_rain.png" alt="rain">
                    </div>

                    <div id="effect-evapo" class="animated fadeInUp">
                        <img src="assets/img/art_evapo.png" alt="evapotranspiration">
                    </div>

                    <!-- Land Cover -->

                    <div id="land-lir" role="tabpanel" class="tab-pane active land"> <!-- LIR -->
                        <img src="assets/img/art_land_lir.png" alt="low intensity residential">
                    </div>

                    <div id="land-hir" role="tabpanel" class="tab-pane land"> <!-- HIR -->
                        <img src="assets/img/art_land_hir.png" alt="high intensity residential">
                    </div>

                    <div id="land-commercial" role="tabpanel" class="tab-pane land"> <!-- commercial -->
                        <img src="assets/img/art_land_commercial.png" alt="commercial">
                    </div>

                    <div id="land-grassland" role="tabpanel" class="tab-pane land"> <!-- grassland -->
                        <img src="assets/img/art_land_grassland.png" alt="grassland">
                    </div>

                    <div id="land-forest" role="tabpanel" class="tab-pane land"> <!-- forest -->
                        <img src="assets/img/art_land_forest.png" alt="forest">
                    </div>

                    <div id="land-turfGrass" role="tabpanel" class="tab-pane land"> <!-- turfGrass -->
                        <img src="assets/img/art_land_turfGrass.png" alt="Turf Grass">
                    </div>

                    <div id="land-pasture" role="tabpanel" class="tab-pane land"> <!-- pasture -->
                        <img src="assets/img/art_land_pasture.png" alt="pasture">
                    </div>

                    <div id="land-rowCrops" role="tabpanel" class="tab-pane land"> <!-- rowCrops -->
                        <img src="assets/img/art_land_rowCrops.png" alt="Row Crops">
                    </div>

                    <div id="land-chaparrel" role="tabpanel" class="tab-pane land"> <!-- chaparrel -->
                        <img src="assets/img/art_land_chaparrel.png" alt="chaparrel">
                    </div>

                    <div id="land-tallGrass" role="tabpanel" class="tab-pane land"> <!-- tallGrass -->
                        <img src="assets/img/art_land_tallGrass.png" alt="Tall Grass Prairie">
                    </div>

                    <div id="land-shortGrass" role="tabpanel" class="tab-pane land"> <!-- shortGrass -->
                        <img src="assets/img/art_land_shortGrass.png" alt="Short Grass Prairie">
                    </div>

                    <div id="land-desert" role="tabpanel" class="tab-pane land"> <!-- desert -->
                        <img src="assets/img/art_land_desert.png" alt="Desert">
                    </div>

                </div> <!-- End Land Cover Type -->

                <!-- SOIL -->

                <div class="tab-content soil-container text-center"> <!-- Soil Type -->

                    <!-- Effects -->

                    <div id="effect-runoff" class="animated fadeInRight">
                        <img src="assets/img/art_runoff.png" alt="runoff">
                    </div>

                    <div id="effect-infiltration" class="animated fadeInDown">
                        <img src="assets/img/art_infiltration.png" alt="infiltration">
                    </div>

                    <!-- Land Cover -->

                    <div id="soil-sand" role="tabpanel" class="tab-pane soil active">
                        <img src="assets/img/art_soil_sand.png" alt="sand">
                    </div>

                    <div id="soil-loam" role="tabpanel" class="tab-pane soil">
                        <img src="assets/img/art_soil_loam.png" alt="loam">
                    </div>

                    <div id="soil-sandyClay" role="tabpanel" class="tab-pane soil">
                        <img src="assets/img/art_soil_sandyClay.png" alt="sandyClay">
                    </div>

                    <div id="soil-clayLoam" role="tabpanel" class="tab-pane soil">
                        <img src="assets/img/art_soil_clayLoam.png" alt="clayLoam">
                    </div>
                </div> <!-- End Soil Type -->

            </div> <!-- End Model Container -->

            <div id="water-column-container" class="well-custom"> <!-- Water Column -->
                <div id="column-overlay"></div>
                <div id="column-et" class="column" data-toggle="tooltip" data-placement="left" title="Evapotranspiration"><label>ET</label></div>
                <div id="column-r" class="column" data-toggle="tooltip" data-placement="left" title="Runoff"><label>R</label></div>
                <div id="column-i" class="column" data-toggle="tooltip" data-placement="left" title="Infiltration"><label>I</label></div>
                <label>Water Column</label>
            </div> <!-- End Water Column -->

        </div> <!-- End anvas -->

        <!-- SIDEBAR -->

        <div class="sidebar">

            <div class="row pad-sm bdr-bottom"> <!-- Rainfall Slider -->
                <div class="pull-left"><p>Precipitation</p></div>
                <br>
                <div class="well-rain">
                    <label class="pull-left">
                        <img src="assets/img/slider_min.png" alt="slider min">
                    </label>
                    <div class="slider-wrapper">
                        <input type="text" data-slider="true" data-slider-range="1,12">
                    </div>
                    <label class="pull-right">
                        <img src="assets/img/slider_max.png" alt="slider max">
                    </label>
                </div>

            </div> <!-- End Rainfall Slider -->

            <div class="row pad-sm bdr-bottom"> <!-- Land Cover -->
                <div class="pull-left"><p>Land Cover</p></div>

                <ul class="nav" role="tablist"> <!-- Landcover Thumbs -->

                    <li id="thumb-lir" class="active"> <!-- LIR Thumb -->
                        <a href="#land-lir" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_lir.png" alt="low intensity residential">
                        </a>
                        <label>LIR</label>
                    </li>

                    <li id="thumb-hir"> <!-- HIR Thumb -->
                        <a href="#land-hir" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_hir.png" alt="high intensity residential">
                        </a>
                        <label>HIR</label>
                    </li>

                    <li id="thumb-commercial"> <!-- Commercial Thumb -->
                        <a href="#land-commercial" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_commercial.png" alt="commercial">
                        </a>
                        <label>Commercial</label>
                    </li>

                    <li id="thumb-grassland"> <!-- Grassland Thumb -->
                        <a href="#land-grassland" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_grassland.png" alt="grasland">
                        </a>
                        <label>Grassland</label>
                    </li>

                    <li id="thumb-forest"> <!-- Forest Thumb -->
                        <a href="#land-forest" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_forest.png" alt="Forest">
                        </a>
                        <label>Forest</label>
                    </li>

                    <li id="thumb-turfGrass"> <!-- TurfGrass Thumb -->
                        <a href="#land-turfGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_turfGrass.png" alt="Turf Grass">
                        </a>
                        <label>Turf Grass</label>
                    </li>

                    <li id="thumb-pasture"> <!-- Pasture Thumb -->
                        <a href="#land-pasture" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_pasture.png" alt="pasture">
                        </a>
                        <label>Pasture</label>
                    </li>

                    <li id="thumb-rowCrops"> <!-- Row Crops Thumb -->
                        <a href="#land-rowCrops" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_rowCrops.png" alt="Row Crops">
                        </a>
                        <label>Row Crops</label>
                    </li>

                    <li id="thumb-chaparrel"> <!-- Chaparrel Thumb -->
                        <a href="#land-chaparrel" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_chaparrel.png" alt="Chaparrel">
                        </a>
                        <label>Chaparrel</label>
                    </li>

                    <li id="thumb-tallGrass"> <!-- TallGrass Thumb -->
                        <a href="#land-tallGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_tallGrass.png" alt="Tall Grass Prairie">
                        </a>
                        <label>Tall Grass Prairie</label>
                    </li>

                    <li id="thumb-shortGrass"> <!-- ShortGrass Thumb -->
                        <a href="#land-shortGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_shortGrass.png" alt="Short Grass prairie">
                        </a>
                        <label>Short Grass prairie</label>
                    </li>

                    <li id="thumb-desert"> <!-- Desert Thumb -->
                        <a href="#land-desert" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_desert.png" alt="Desert">
                        </a>
                        <label>Desert</label>
                    </li>

                </ul> <!-- End Landcover Thumbs-->

            </div> <!-- End Land Cover -->

            <div class="row pad-sm"> <!-- SoilS -->
                <div class="pull-left"><p>Soil</p></div>

                <ul class="nav" role="tablist"> <!-- Soil Thumbs -->

                    <li id="thumb-sand" class="active"> <!-- Sand Thumb -->
                        <a href="#soil-sand" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_sand.png" alt="Sand">
                        </a>
                        <label>Sand</label>
                    </li>

                    <li id="thumb-loam"> <!-- Loam Thumb -->
                        <a href="#soil-loam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_loam.png" alt="loam">
                        </a>
                        <label>Loam</label>
                    </li>

                    <li id="thumb-sandyClay"> <!-- Sandy Clay Thumb -->
                        <a href="#soil-sandyClay" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_sandyClay.png" alt="Sandy Clay">
                        </a>
                        <label>Sandy Clay</label>
                    </li>

                    <li id="thumb-clayLoam"> <!-- Clay Loam Thumb -->
                        <a href="#soil-clayLoam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="assets/img/thumb_clayLoam.png" alt="Clay Loam">
                        </a>
                        <label>Clay Laom</label>
                    </li>

                </ul> <!-- End Soil Thumbs-->
            </div> <!-- End Soils -->

        </div>

    </div> <!-- End Container -->

    <!-- Scripts -->
    <script type="text/javascript" src="assets/js/retina.js"></script>
    <script src="assets/js/simple-slider.js"></script>
    <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock content %}

{% block footer %}
{% endblock footer %}
