{% extends 'base.html' %}

{% load staticfiles %}

{% block metatitle %}
    <title>Model My Watershed - Micro Site Storm Model</title>
{% endblock metatitle %}

{% block header %}
    <header class="water-balance">

        <nav id="app-header" class="navbar-watershed">
            <div class="brand"><a href="/">Model My Watershed</a><a href="#">&nbsp;&dash;&nbsp;Micro Site Storm Model</a></div>
            <div class="navigation">
                <ul class="main">
                    <li class="header-link">
                        <div class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Information">
                            <a class="main dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-info-circle"></i>
                            </a>
                            <div id="info" class="dropdown-menu menu-right" role="menu" aria-labelledby="select-area">
                                <h2>Water Balance Model</h2>
                                <p>Welcome to the Model My Watershed - Micro Site Storm Model simulator. See how changes in the amount of rainfall, the surfaces on which the rain falls and the texture of the soil change where the water goes. To begin, decide how much rain will fall by using the slide bar on the upper right.  Then select the land-cover type where the rain will fall. Finally, pick a soil type. The coarsest soils (sandy soils) are on the left and the finest soils (clay loam) are on the right.  As the simulation runs, follow where the water flows.  Also, look at the column in the center that shows how much water goes in each direction.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
{% endblock header %}

{% block content %}
    <div id="water-balance" class="container-fluid"> <!-- Container -->

        <div class="canvas"> <!-- Canvas -->

            <div class="model-container"> <!-- Model Container -->

                <!-- OUTPUT WELLS -->

                <div id="well-precip" class="well-custom text-center"> <!-- Precip Well -->
                    <h1 class="precip">8.0"</h1>
                    <label>Precipitation</label>
                </div> <!-- End Precip Well -->

                <div id="well-evapo" class="well-custom text-center"> <!-- Evapotranspiration Well -->
                    <h1 class="evapo">3.0"</h1>
                    <label>Evapotranspiration</label>
                </div> <!-- End Evapotranspiration Well -->

                <div id="well-runoff" class="well-custom text-center"> <!-- Runoff Well -->
                    <h1 class="runoff">4.0"</h1>
                    <label>Runoff</label>
                </div> <!-- End Runoff Well -->

                <div id="well-infil" class="well-custom text-center"> <!-- Infiltration Well -->
                    <h1 class="infil">3.0"</h1>
                    <label>Infiltration</label>
                </div> <!-- End Infiltration Well -->

                <!-- LANDCOVER -->

                <div class="tab-content land-container text-center"> <!-- Land Cover Type -->

                    <!-- Effects -->

                    <div id="effect-precip" class="animated fadeInDown">
                        <img src="{% static 'images/water_balance/art_precip.png' %}" alt="precipitation">
                    </div>

                    <div id="effect-evapo" class="animated fadeInUp">
                        <div class="scale-wrapper">
                            <svg width="100%" height="100%">
                                <image xlink:href="{% static 'images/water_balance/art_evapo.svg' %}" src="{% static 'images/water_balance/art_evapo.png' %}" width="100%" height="100%"></image>
                            </svg>
                        </div>
                    </div>

                    <!-- Land Cover -->

                    <div id="land-lir" role="tabpanel" class="tab-pane active land"> <!-- LIR -->
                        <img src="{% static 'images/water_balance/art_land_lir.png' %}" alt="low intensity residential">
                    </div>

                    <div id="land-hir" role="tabpanel" class="tab-pane land"> <!-- HIR -->
                        <img src="{% static 'images/water_balance/art_land_hir.png' %}" alt="high intensity residential">
                    </div>

                    <div id="land-commercial" role="tabpanel" class="tab-pane land"> <!-- commercial -->
                        <img src="{% static 'images/water_balance/art_land_commercial.png' %}" alt="commercial">
                    </div>

                    <div id="land-grassland" role="tabpanel" class="tab-pane land"> <!-- grassland -->
                        <img src="{% static 'images/water_balance/art_land_grassland.png' %}" alt="grassland">
                    </div>

                    <div id="land-forest" role="tabpanel" class="tab-pane land"> <!-- forest -->
                        <img src="{% static 'images/water_balance/art_land_forest.png' %}" alt="forest">
                    </div>

                    <div id="land-turfGrass" role="tabpanel" class="tab-pane land"> <!-- turfGrass -->
                        <img src="{% static 'images/water_balance/art_land_turfGrass.png' %}" alt="Turf Grass">
                    </div>

                    <div id="land-pasture" role="tabpanel" class="tab-pane land"> <!-- pasture -->
                        <img src="{% static 'images/water_balance/art_land_pasture.png' %}" alt="pasture">
                    </div>

                    <div id="land-rowCrops" role="tabpanel" class="tab-pane land"> <!-- rowCrops -->
                        <img src="{% static 'images/water_balance/art_land_rowCrops.png' %}" alt="Row Crops">
                    </div>

                    <div id="land-chaparral" role="tabpanel" class="tab-pane land"> <!-- chaparral -->
                        <img src="{% static 'images/water_balance/art_land_chaparral.png' %}" alt="chaparral">
                    </div>

                    <div id="land-tallGrass" role="tabpanel" class="tab-pane land"> <!-- tallGrass -->
                        <img src="{% static 'images/water_balance/art_land_tallGrass.png' %}" alt="Tall Grass Prairie">
                    </div>

                    <div id="land-shortGrass" role="tabpanel" class="tab-pane land"> <!-- shortGrass -->
                        <img src="{% static 'images/water_balance/art_land_shortGrass.png' %}" alt="Short Grass Prairie">
                    </div>

                    <div id="land-desert" role="tabpanel" class="tab-pane land"> <!-- desert -->
                        <img src="{% static 'images/water_balance/art_land_desert.png' %}" alt="Desert">
                    </div>

                </div> <!-- End Land Cover Type -->

                <!-- SOIL -->

                <div class="tab-content soil-container text-center"> <!-- Soil Type -->

                    <!-- Effects -->

                    <div id="effect-runoff" class="animated fadeInRight">
                        <div class="scale-wrapper">
                            <svg width="100%" height="100%">
                                <image xlink:href="{% static 'images/water_balance/art_runoff.svg' %}" src="{% static 'images/water_balance/art_runoff.png' %}" width="100%" height="100%"></image>
                            </svg>
                        </div>
                    </div>

                    <div id="effect-infiltration" class="animated fadeInDown">
                        <div class="scale-wrapper">
                            <svg width="100%" height="100%">
                                <image xlink:href="{% static 'images/water_balance/art_infiltration.svg' %}" src="{% static 'images/water_balance/art_infiltration.png' %}" width="100%" height="100%"></image>
                            </svg>
                        </div>
                    </div>

                    <!-- Land Cover -->

                    <div id="soil-sand" role="tabpanel" class="tab-pane soil active">
                        <img src="{% static 'images/water_balance/art_soil_sand.png' %}" alt="sand">
                    </div>

                    <div id="soil-loam" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_loam.png' %}" alt="loam">
                    </div>

                    <div id="soil-sandyClay" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_sandyClay.png' %}" alt="sandyClay">
                    </div>

                    <div id="soil-clayLoam" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_clayLoam.png' %}" alt="clayLoam">
                    </div>
                </div> <!-- End Soil Type -->

            </div> <!-- End Model Container -->

            <div id="water-column-container" class="well-custom"> <!-- Water Column -->
                <div id="column-overlay"></div>
                <div id="column-et" class="column" data-toggle="tooltip" data-placement="left" title="Evapotranspiration"><label>ET</label></div>
                <div id="column-r" class="column" data-toggle="tooltip" data-placement="left" title="Runoff"><label>R</label></div>
                <div id="column-i" class="column" data-toggle="tooltip" data-placement="left" title="Infiltration"><label>I</label></div>
                <label>Water Column</label>
            </div> <!-- End Water Column -->

        </div> <!-- End anvas -->

        <!-- SIDEBAR -->

        <div class="sidebar">

            <div class="row pad-sm bdr-bottom"> <!-- Precipitation Slider -->
                <div class="pull-left"><p>Precipitation for 24-hour storm event</p></div>
                <br>
                <div class="well-precip row">
                    <label class="col-md-2">
                        <img src="{% static 'images/water_balance/slider_min.png' %}" alt="slider min">
                    </label>
                    <div class="slider-wrapper col-md-8">
                        <input id="precip-slider" class="slider" type="range" min="0" max="4" value="2">
                    </div>
                    <label class="col-md-2">
                        <img src="{% static 'images/water_balance/slider_max.png' %}" alt="slider max">
                    </label>
                </div>

            </div> <!-- End Precipitation Slider -->

            <div class="row pad-sm bdr-bottom"> <!-- Land Cover -->
                <div class="pull-left"><p>Land Cover</p></div>

                <ul id="thumbs-land" class="nav" role="tablist"> <!-- Landcover Thumbs -->

                    <li id="thumb-lir" class="active"> <!-- LIR Thumb -->
                        <a href="#land-lir" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_lir.png' %}" alt="Low Intensity Residential" data-container="body" data-toggle="popover" data-placement="left" data-title="Low Intensity Residential" data-content="Areas with a mixture of constructed materials and vegetation. Impervious surfaces account for 20% to 49% percent of total cover. These areas most commonly include single-family housing units.">
                        </a>
                        <label>LIR</label>
                    </li>

                    <li id="thumb-hir"> <!-- HIR Thumb -->
                        <a href="#land-hir" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_hir.png' %}" alt="High Intensity Residential" data-container="body" data-toggle="popover" data-placement="left" data-title="High Intensity Residential" data-content="Areas with a mixture of constructed materials and vegetation. Impervious surfaces account for 50% to 79% of the total cover. These areas most commonly include single-family housing units.">
                        </a>
                        <label>HIR</label>
                    </li>

                    <li id="thumb-commercial"> <!-- Commercial Thumb -->
                        <a href="#land-commercial" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_commercial.png' %}" alt="Commercial" data-container="body" data-toggle="popover" data-placement="left" data-title="Commercial" data-content="Highly developed areas where people reside or work in high numbers. Examples include apartment complexes, row houses and commercial/industrial. Impervious surfaces account for 80% to 100% of the total cover.">
                        </a>
                        <label>Commercial</label>
                    </li>

                    <li id="thumb-grassland"> <!-- Grassland Thumb -->
                        <a href="#land-grassland" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_grassland.png' %}" alt="Grassland" data-container="body" data-toggle="popover" data-placement="left" data-title="Grassland" data-content="Areas dominated by gramanoid or herbaceous vegetation, generally greater than 80% of total vegetation. These areas are not subject to intensive management such as tilling, but can be utilized for grazing.">
                        </a>
                        <label>Grassland</label>
                    </li>

                    <li id="thumb-forest"> <!-- Forest Thumb -->
                        <a href="#land-forest" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_forest.png' %}" alt="Forest" data-container="body" data-toggle="popover" data-placement="left" data-title="Forest" data-content="Areas dominated by trees generally greater than 5 meters tall, and greater than 20% of total vegetation cover. Neither deciduous nor evergreen species are greater than 75% of total tree cover.">
                        </a>
                        <label>Forest</label>
                    </li>

                    <li id="thumb-turfGrass"> <!-- TurfGrass Thumb -->
                        <a href="#land-turfGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_turfGrass.png' %}" alt="Turf Grass" data-container="body" data-toggle="popover" data-placement="left" data-title="Turf Grass" data-content="Areas with a mixture of some constructed materials, but mostly vegetation in the form of lawn grasses. Impervious surfaces account for less than 20% of total cover. These areas most commonly include large-lot single-family housing units, parks, golf courses, and vegetation planted in developed settings for recreation, erosion control, or aesthetic purposes.">
                        </a>
                        <label>Turf Grass</label>
                    </li>

                    <li id="thumb-pasture"> <!-- Pasture Thumb -->
                        <a href="#land-pasture" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_pasture.png' %}" alt="Pasture" data-container="body" data-toggle="popover" data-placement="left" data-title="Pasture" data-content="Areas of grasses, legumes, or grass-legume mixtures planted for livestock grazing or the production of seed or hay crops, typically on a perennial cycle. Pasture/hay vegetation accounts for greater than 20% of total vegetation.">
                        </a>
                        <label>Pasture</label>
                    </li>

                    <li id="thumb-rowCrops"> <!-- Row Crops Thumb -->
                        <a href="#land-rowCrops" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_rowCrops.png' %}" alt="Row Crops" data-container="body" data-toggle="popover" data-placement="left" data-title="Row Crops" data-content="Areas used for the production of annual crops, such as corn, soybeans, vegetables, tobacco, and cotton, and also perennial woody crops such as orchards and vineyards. Crop vegetation accounts for greater than 20% of total vegetation. This class also includes all land being actively tilled.">
                        </a>
                        <label>Row Crops</label>
                    </li>

                    <li id="thumb-chaparral"> <!-- chaparral Thumb -->
                        <a href="#land-chaparral" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_chaparral.png' %}" alt="Chaparral" data-container="body" data-toggle="popover" data-placement="left" data-title="Chaparral" data-content="Areas dominated by shrubs; less than 5 meters tall with shrub canopy typically greater than 20% of total vegetation. This class includes true shrubs, young trees in an early successional stage or trees stunted from environmental conditions.">
                        </a>
                        <label>Chaparral</label>
                    </li>

                    <li id="thumb-tallGrass"> <!-- TallGrass Thumb -->
                        <a href="#land-tallGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_tallGrass.png' %}" alt="Tall Grass Prairie" data-container="body" data-toggle="popover" data-placement="left" data-title="Tall Grass Prairie" data-content="Areas dominated by shrubs; less than 5 meters tall with shrub canopy typically greater than 20% of total vegetation. This class includes true shrubs, young trees in an early successional stage or trees stunted from environmental conditions.">
                        </a>
                        <label>Tall Grass Prairie</label>
                    </li>

                    <li id="thumb-shortGrass"> <!-- ShortGrass Thumb -->
                        <a href="#land-shortGrass" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_shortGrass.png' %}" alt="Short Grass Prairie" data-container="body" data-toggle="popover" data-placement="left" data-title="Short Grass Prairie" data-content="Areas dominated by shrubs less than 20 centimeters tall with shrub canopy typically greater than 20% of total vegetation. This type is often co-associated with grasses, sedges, herbs, and non-vascular vegetation.">
                        </a>
                        <label>Short Grass Prairie</label>
                    </li>

                    <li id="thumb-desert"> <!-- Desert Thumb -->
                        <a href="#land-desert" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_desert.png' %}" alt="Desert" data-container="body" data-toggle="popover" data-placement="left" data-title="Desert" data-content="Areas of bedrock, desert pavement, scarps, talus, slides, volcanic material, glacial debris, sand dunes, strip mines, gravel pits and other accumulations of earthen material. Generally, vegetation accounts for less than 15% of total cover.">
                        </a>
                        <label>Desert</label>
                    </li>

                </ul> <!-- End Landcover Thumbs-->

            </div> <!-- End Land Cover -->

            <div class="row pad-sm"> <!-- SoilS -->
                <div class="pull-left"><p>Soil</p></div>

                <ul id="thumbs-soil" class="nav" role="tablist"> <!-- Soil Thumbs -->

                    <li id="thumb-sand" class="active"> <!-- Sand Thumb -->
                        <a href="#soil-sand" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_sand.png' %}" alt="Sand" data-container="body" data-toggle="popover" data-placement="left" data-title="Sand" data-content="These soils have low runoff potential and high infiltration rates even when thoroughly wetted. They consist chiefly of deep, well to excessively drained sand or gravel and have a high rate of water transmission (greater than 0.30 in/hr).">
                        </a>
                        <label>Sand</label>
                    </li>

                    <li id="thumb-loam"> <!-- Loam Thumb -->
                        <a href="#soil-loam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_loam.png' %}" alt="loam" data-container="body" data-toggle="popover" data-placement="left" data-title="Loam" data-content="These soils have moderate infiltration rates when thoroughly wetted and consist chiefly of moderately deep to deep, moderately well to well drained soils with moderately fine to moderately coarse textures. These soils have a moderate rate of water transmission (0.15-0.30 in/hr).">
                        </a>
                        <label>Loam</label>
                    </li>

                    <li id="thumb-sandyClay"> <!-- Sandy Clay Thumb -->
                        <a href="#soil-sandyClay" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_sandyClay.png' %}" alt="Sandy Clay" data-container="body" data-toggle="popover" data-placement="left" data-title="Sandy Clay" data-content="These soils have low infiltration rates when thoroughly wetted and consist chiefly of soils with a layer that impedes downward movement of water and soils with moderately fine to fine texture. These soils have a low rate of water transmission (0.05-0.15 in/hr).">
                        </a>
                        <label>Sandy Clay</label>
                    </li>

                    <li id="thumb-clayLoam"> <!-- Clay Loam Thumb -->
                        <a href="#soil-clayLoam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_clayLoam.png' %}" alt="Clay Loam" data-container="body" data-toggle="popover" data-placement="left" data-title="Clay Loam" data-content="These soils have high runoff potential. They have very low infiltration rates when thoroughly wetted and consist chiefly of clay soils with a high swelling potential, soils with a permanent high water table, soils with a claypan or clay layer at or near the surface, and shallow soils over nearly impervious material. These soils have a very low rate of water transmission (0-0.05 in/hr).">
                        </a>
                        <label>Clay Loam</label>
                    </li>

                </ul> <!-- End Soil Thumbs-->
            </div> <!-- End Soils -->

        </div>

    </div> <!-- End Container -->
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor_water_balance.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main_water_balance.js' %}"></script>
    <script type="text/javascript">
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                $('[data-toggle="popover"]').popover({triggger:'click'});
                $('[data-toggle="popover"]').click(function(){
                    $('[data-toggle="popover"]').not(this).popover('hide'); //all but this
                });
            } else {
                $(function () {
            $('[data-toggle="popover"]').popover({trigger:'hover'});
        })
            }
    </script>
{% endblock javascript %}
