{% extends 'base.html' %}

{% load staticfiles %}

{% block metatitle %}
    <title>Model My Watershed - Micro Site Storm Model</title>
{% endblock metatitle %}

{% block header %}
    <header class="water-balance">

        <nav id="app-header" class="navbar-watershed">
            <div class="brand"><a href="/">Model My Watershed</a><a href="#">&nbsp;&dash;&nbsp;Micro Site Storm Model</a></div>
            <div class="navigation">
                <ul class="main">
                    <li class="header-link">
                        <div class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Information">
                            <a class="main dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-info-circle"></i>
                            </a>
                            <div id="info" class="dropdown-menu menu-right" role="menu" aria-labelledby="select-area">
                                <h2>Water Balance Model</h2>
                                <p>Welcome to the Model My Watershed - Micro Site Storm Model simulator. See how changes in the amount of rainfall, the surfaces on which the rain falls and the texture of the soil change where the water goes. To begin, decide how much rain will fall by using the slide bar on the upper right.  Then select the land-cover type where the rain will fall. Finally, pick a soil type. The coarsest soils (sandy soils) are on the left and the finest soils (clay loam) are on the right.  As the simulation runs, follow where the water flows.  Also, look at the column in the center that shows how much water goes in each direction.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
{% endblock header %}

{% block map %}
    <div id="water-balance" class="container-fluid"> <!-- Container -->

        <div class="canvas"> <!-- Canvas -->

            <div class="model-container"> <!-- Model Container -->

                <!-- OUTPUT WELLS -->

                <div id="well-precip" class="well-custom text-center"> <!-- Precip Well -->
                    <h1 class="precip">0.0 cm</h1>
                    <label>Precipitation</label>
                </div> <!-- End Precip Well -->

                <div id="well-evapo" class="well-custom text-center"> <!-- Evapotranspiration Well -->
                    <h1 class="evapo">0.0 cm</h1>
                    <label>Evapotranspiration</label>
                </div> <!-- End Evapotranspiration Well -->

                <div id="well-runoff" class="well-custom text-center"> <!-- Runoff Well -->
                    <h1 class="runoff">0.0 cm</h1>
                    <label>Runoff</label>
                </div> <!-- End Runoff Well -->

                <div id="well-infil" class="well-custom text-center"> <!-- Infiltration Well -->
                    <h1 class="infil">0.0 cm</h1>
                    <label>Infiltration</label>
                </div> <!-- End Infiltration Well -->

                <!-- LANDCOVER -->

                <div class="tab-content land-container text-center"> <!-- Land Cover Type -->

                    <!-- Effects -->

                    <div id="effect-precip" class="animated fadeInDown">
                        <img src="{% static 'images/water_balance/art_precip.png' %}" alt="precipitation">
                    </div>

                    <div id="effect-evapo" class="animated fadeInUp">
                        <svg style="width: 100%; height: 100%">
                            <image xlink:href="{% static 'images/water_balance/art_evapo.svg' %}" src="{% static 'images/water_balance/art_evapo.png' %}" width="100%" height="100%"></image>
                        </svg>
                    </div>

                    <!-- Land Cover -->

                    <div id="land-open_water" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_openwater.png' %}" alt="Open Water">
                    </div>

                    <div id="land-woody_wetlands" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_wetlands.png' %}" alt="Wetlands">
                    </div>

                    <div id="land-developed_low" role="tabpanel" class="tab-pane active land">
                        <img src="{% static 'images/water_balance/art_land_lir.png' %}" alt="Developed, Low Intensity">
                    </div>

                    <div id="land-developed_med" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_hir.png' %}" alt="Developed, Medium Intensity">
                    </div>

                    <div id="land-developed_high" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_commercial.png' %}" alt="Developed, High Intensity">
                    </div>

                    <div id="land-grassland" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_grassland.png' %}" alt="Grassland/Herbaceous">
                    </div>

                    <div id="land-deciduous_forest" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_forest.png' %}" alt="Deciduous Forest">
                    </div>

                    <div id="land-developed_open" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_turfGrass.png' %}" alt="Developed, Open Space">
                    </div>

                    <div id="land-pasture" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_pasture.png' %}" alt="Pasture/Hay">
                    </div>

                    <div id="land-cultivated_crops" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_rowCrops.png' %}" alt="Cultivated Crops">
                    </div>

                    <div id="land-shrub" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_chaparral.png' %}" alt="Shrub/Scrub">
                    </div>

                    <div id="land-barren_land" role="tabpanel" class="tab-pane land">
                        <img src="{% static 'images/water_balance/art_land_desert.png' %}" alt="Barren Land (Rock/Sand/Clay)">
                    </div>

                </div> <!-- End Land Cover Type -->

                <!-- SOIL -->

                <div class="tab-content soil-container text-center"> <!-- Soil Type -->

                    <!-- Effects -->

                    <div id="effect-runoff" class="animated fadeInRight">
                        <svg style="width: 100%; height: 100%">
                            <image xlink:href="{% static 'images/water_balance/art_runoff.svg' %}" src="{% static 'images/water_balance/art_runoff.png' %}" width="100%" height="100%"></image>
                        </svg>
                    </div>

                    <div id="effect-infiltration" class="animated fadeInDown">
                        <svg style="width: 100%; height: 100%">
                            <image xlink:href="{% static 'images/water_balance/art_infiltration.svg' %}" src="{% static 'images/water_balance/art_infiltration.png' %}" width="100%" height="100%"></image>
                        </svg>
                    </div>

                    <!-- Land Cover -->

                    <div id="soil-sand" role="tabpanel" class="tab-pane soil active">
                        <img src="{% static 'images/water_balance/art_soil_sand.png' %}" alt="sand">
                    </div>

                    <div id="soil-loam" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_loam.png' %}" alt="loam">
                    </div>

                    <div id="soil-sandyClay" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_sandyClay.png' %}" alt="sandyClay">
                    </div>

                    <div id="soil-clayLoam" role="tabpanel" class="tab-pane soil">
                        <img src="{% static 'images/water_balance/art_soil_clayLoam.png' %}" alt="clayLoam">
                    </div>
                </div> <!-- End Soil Type -->

            </div> <!-- End Model Container -->

            <div id="water-column-container" class="well-custom"> <!-- Water Column -->
                <div id="alert">
                    <svg class="ic_approach" width="40" height="40">
                        <image xlink:href="{% static 'images/water_balance/art_alert.svg' %}" src="{% static 'images/water_balance/art_alert.svg' %}" width="40" height="40"></image>
                    </svg>
                </div>
                <div id="column-overlay"></div>
                <div id="column-et" class="column" data-toggle="tooltip" data-placement="left" title="Evapotranspiration"><label>ET</label></div>
                <div id="column-r" class="column" data-toggle="tooltip" data-placement="left" title="Runoff"><label>R</label></div>
                <div id="column-i" class="column" data-toggle="tooltip" data-placement="left" title="Infiltration"><label>I</label></div>
                <label>Water Column</label>
            </div> <!-- End Water Column -->

        </div> <!-- End Canvas -->

        <!-- SIDEBAR -->

        <div class="sidebar">

            <div class="row pad-sm bdr-bottom"> <!-- Precipitation Slider -->
                <div class="pull-left"><p>Precipitation for 24-hour storm event</p></div>
                <br>
                <div class="well-precip row">
                    <label class="col-md-2">
                        <img src="{% static 'images/water_balance/slider_min.png' %}" alt="slider min">
                    </label>
                    <div class="slider-wrapper col-md-8">
                        <input id="precip-slider" class="slider" type="range" min="0" max="4" value="2">
                    </div>
                    <label class="col-md-2">
                        <img src="{% static 'images/water_balance/slider_max.png' %}" alt="slider max">
                    </label>
                </div>

            </div> <!-- End Precipitation Slider -->

            <div class="row pad-sm bdr-bottom"> <!-- Land Cover -->
                <div class="pull-left"><p>Land Cover</p></div>

                <ul id="thumbs-land" class="nav" role="tablist"> <!-- Landcover Thumbs -->

                    <li id="thumb-open_water">
                        <a href="#land-open_water" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-11">
                            <img src="{% static 'images/water_balance/thumb_openwater.png' %}" alt="Open Water" data-name="open_water" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-11">
                        </a>
                        <label>Water</label>
                    </li>

                    <li id="thumb-developed_open">
                        <a href="#land-developed_open" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-21">
                            <img src="{% static 'images/water_balance/thumb_turfGrass.png' %}" alt="Developed, Open Space" data-name="developed_open" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-21" >
                        </a>
                        <label>Developed, Open Space</label>
                    </li>

                    <li id="thumb-developed_low" class="active">
                        <a href="#land-developed_low" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-22">
                            <img src="{% static 'images/water_balance/thumb_lir.png' %}" alt="Developed, Low Intensity" data-name="developed_low" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-22" >
                        </a>
                        <label>Developed-Low</label>
                    </li>

                    <li id="thumb-developed_med">
                        <a href="#land-developed_med" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-23">
                            <img src="{% static 'images/water_balance/thumb_hir.png' %}" alt="Developed, Medium Intensity" data-name="developed_med" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-23" >
                        </a>
                        <label>Developed-Med</label>
                    </li>

                    <li id="thumb-developed_high">
                        <a href="#land-developed_high" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-24">
                            <img src="{% static 'images/water_balance/thumb_commercial.png' %}" alt="Developed High Intensity" data-name="developed_high" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-24" >
                        </a>
                        <label>Developed-High</label>
                    </li>

                    <li id="thumb-barren_land">
                        <a href="#land-barren_land" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-31">
                            <img src="{% static 'images/water_balance/thumb_desert.png' %}" alt="Barren Land (Rock/Sand/Clay)" data-name="barren_land" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-31" >
                        </a>
                        <label>Barren Land</label>
                    </li>

                    <li id="thumb-deciduous_forest">
                        <a href="#land-deciduous_forest" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-41">
                            <img src="{% static 'images/water_balance/thumb_forest.png' %}" alt="Forest" data-container="body" data-name="deciduous_forest" data-toggle="popover" data-placement="left" data-nlcd="nlcd-41" >
                        </a>
                        <label>Forest</label>
                    </li>

                    <li id="thumb-shrub">
                        <a href="#land-shrub" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-52">
                            <img src="{% static 'images/water_balance/thumb_chaparral.png' %}" alt="Shrub/Scrub" data-name="shrub" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-52" >
                        </a>
                        <label>Shrub/Scrub</label>
                    </li>

                    <li id="thumb-grassland">
                        <a href="#land-grassland" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-71">
                            <img src="{% static 'images/water_balance/thumb_grassland.png' %}" alt="Grassland/Herbaceous" data-name="grassland" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-71" >
                        </a>
                        <label>Grassland</label>
                    </li>

                    <li id="thumb-pasture">
                        <a href="#land-pasture" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-81">
                            <img src="{% static 'images/water_balance/thumb_pasture.png' %}" alt="Pasture/Hay" data-name="pasture" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-81" >
                        </a>
                        <label>Pasture/Hay</label>
                    </li>

                    <li id="thumb-cultivated_crops">
                        <a href="#land-cultivated_crops" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-82">
                            <img src="{% static 'images/water_balance/thumb_rowCrops.png' %}" alt="Cultivated Crops" data-name="cultivated_crops" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-82" >
                        </a>
                        <label>Crops</label>
                    </li>

                    <li id="thumb-woody_wetlands">
                        <a href="#land-woody_wetlands" aria-controls="filter-tab" role="tab" data-toggle="tab" class="nlcd-90">
                            <img src="{% static 'images/water_balance/thumb_wetlands.png' %}" alt="Wetlands" data-name="woody_wetlands" data-container="body" data-toggle="popover" data-placement="left" data-nlcd="nlcd-90" >
                        </a>
                        <label>Wetlands</label>
                    </li>

                </ul> <!-- End Landcover Thumbs-->

            </div> <!-- End Land Cover -->

            <div class="row pad-sm"> <!-- SoilS -->
                <div class="pull-left"><p>Hydrologic Soil Group</p></div>

                <ul id="thumbs-soil" class="nav" role="tablist"> <!-- Soil Thumbs -->

                    <li id="thumb-sand" class="active"> <!-- Sand Thumb -->
                        <a href="#soil-sand" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_sand.png' %}" alt="Sand" data-name="soil_a" data-container="body" data-toggle="popover" data-placement="left" >
                        </a>
                        <label>A - High Infiltration</label>
                    </li>

                    <li id="thumb-loam"> <!-- Loam Thumb -->
                        <a href="#soil-loam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_loam.png' %}" alt="loam" data-name="soil_b" data-container="body" data-toggle="popover" data-placement="left" >
                        </a>
                        <label>B - Moderate Infiltration</label>
                    </li>

                    <li id="thumb-sandyClay"> <!-- Sandy Clay Thumb -->
                        <a href="#soil-sandyClay" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_sandyClay.png' %}" alt="Sandy Clay" data-name="soil_c" data-container="body" data-toggle="popover" data-placement="left" >
                        </a>
                        <label>C - Slow Infiltration</label>
                    </li>

                    <li id="thumb-clayLoam"> <!-- Clay Loam Thumb -->
                        <a href="#soil-clayLoam" aria-controls="filter-tab" role="tab" data-toggle="tab">
                            <img src="{% static 'images/water_balance/thumb_clayLoam.png' %}" alt="Clay Loam" data-name="soil_d" data-container="body" data-toggle="popover" data-placement="left" >
                        </a>
                        <label>D - Very Slow Infiltration</label>
                    </li>

                </ul> <!-- End Soil Thumbs-->
            </div> <!-- End Soils -->

        </div>

    </div> <!-- End Container -->
{% endblock map %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor_water_balance.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main_water_balance.js' %}"></script>
{% endblock javascript %}
