input {
  relp {
    port => {{ relp_port }}
    codec => "json"
    tags => [ "syslog" ]
  }
  redis {
    key => "logstash"
    host => "{{ redis_host }}"
    data_type => "list"
  }
}

filter {
  if [type] == "windshaft" {
    if ![@fields] {
        drop { }
    }

    date {
      match => [ "timestamp", "E, dd MMM yyyy HH:mm:ss z" ]
    }
  }

  if [type] == "spark-jobserver" {
    grok {
      match => { "message" => "%{TIMESTAMP_ISO8601:timestamp}" }
    }

    date {
      match => [ "timestamp", "yyyy-MM-dd HH:mm:ss,SSS" ]
    }
  }
}

output {
  elasticsearch {
    embedded => false
    host => "localhost"
    protocol => "http"
    cluster => "{{ elasticsearch_cluster_name }}"
  }
}
