<table class="table custom-hover catchment-water-quality pageable-table-size" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true" data-field="nord">Id</th>
            <th data-sortable="true" data-field="areaha" data-sorter="window.noDataSort"> Area (ha)</th>
            <th class="text-right" data-field="tn_tot_kgy" data-sortable="true" data-sorter="window.noDataSort">
                Total N (kg/ha)
            </th>
            <th class="text-right" data-field="tp_tot_kgy" data-sortable="true" data-sorter="window.noDataSort">
                Total P (kg/ha)
            </th>
            <th class="text-right" data-field="tss_tot_kg" data-sortable="true" data-sorter="window.noDataSort">
                Total SS (kg/ha)
            </th>
            <th class="text-right" data-field="tn_yr_avg_" data-sortable="true" data-sorter="window.noDataSort">
                Avg TN (mg/l)
            </th>
            <th class="text-right" data-field="tp_yr_avg_" data-sortable="true" data-sorter="window.noDataSort">
                Avg TP (mg/l)
            </th>
            <th class="text-right"  data-field="tss_concmg" data-sortable="true" data-sorter="window.noDataSort">
                Avg TSS (mg/l)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot></tfoot>
</table>
