<td>
  <a
    class="catchment-water-quality-id"

    data-nord="{{ nord }}"
    data-areaha="{{ areaha }}"

    data-tn_tot_kgy="{{ tn_tot_kgy }}"
    data-tp_tot_kgy="{{ tp_tot_kgy }}"
    data-tss_tot_kg="{{ tss_tot_kg }}"

    data-tn_urban_k="{{ tn_urban_k }}"
    data-tp_urban_k="{{ tp_urban_k }}"
    data-tss_urban_="{{ tss_urban_ }}"

    data-tn_riparia="{{ tn_riparia }}"
    data-tp_riparia="{{ tp_riparia }}"
    data-tss_rip_kg="{{ tss_rip_kg }}"

    data-tn_ag_kgyr="{{ tn_ag_kgyr }}"
    data-tp_ag_kgyr="{{ tp_ag_kgyr }}"
    data-tss_ag_kgy="{{ tss_ag_kgy }}"

    data-tn_natural="{{ tn_natural }}"
    data-tp_natural="{{ tp_natural }}"
    data-tss_natura="{{ tss_natura }}"

    data-tn_pt_kgyr="{{ tn_pt_kgyr }}"
    data-tp_pt_kgyr="{{ tp_pt_kgyr }}"

    data-tn_yr_avg_="{{ tn_yr_avg_ }}"
    data-tp_yr_avg_="{{ tp_yr_avg_ }}"
    data-tss_concmg="{{ tss_concmg }}"
  >
    {{ nord }}
  </a>
</td>
<td class="strong text-right">
    {{ areaha|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ (tn_tot_kgy/areaha)|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ (tp_tot_kgy/areaha)|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ (tss_tot_kg/areaha)|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ tn_yr_avg_|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ tp_yr_avg_|filterNoData()|toLocaleString(3) }}
</td>
<td class="strong text-right">
    {{ tss_concmg|filterNoData()|toLocaleString(3) }}
</td>
