<div class="bar-chart">
    <span class="bar half"><label>Water</label></span>
    <span class="bar full"><label>Developed: Open</label></span>
    <span class="bar half"><label>Developed: Low</label></span>
    <span class="bar full"><label>Developed: Medium</label></span>
    <span class="bar half"><label>Developed: High</label></span>
    <span class="bar full"><label>Bare Soil</label></span>
    <span class="bar half"><label>Forest</label></span>
</div>
