<table class="table custom-hover" data-toggle="table">
    <thead>
    <tr>
        <th data-visible="false" data-field="monthidx">Month Index</th>
        <th data-sortable="true" data-field="month" data-sort-name="monthidx">Month</th>
        <th class="text-right" data-field="ppt" data-sortable="true" data-sorter="window.numericSort">
            Mean Precip. (cm)
        </th>
        <th class="text-right" data-field="tmean" data-sortable="true" data-sorter="window.numericSort">
            Mean Temp. (&deg;C)
        </th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th>Annual</th>
        <th class="text-right">{{ totalPpt|round(1)|toLocaleString(1) }}</th>
        <th class="text-right">{{ avgTmean|round(1)|toLocaleString(1) }}</th>
    </tr>
    </tfoot>
</table>
