<table class="table custom-hover point-source pageable-table-size" data-toggle="table">
    <thead>
      <tr>
          <th data-field="npdes_id" data-sortable="true">NPDES Code</th>
          <th data-field="city" data-sortable="true">City</th>
          <th data-field="mgd" class="text-right" data-sortable="true">
              Discharge (MGD)
          </th>
          <th data-field="kgn_yr" class="text-right" data-sortable="true">
              TN Load (kg/yr)
          </th>
          <th data-field="kgp_yr" class="text-right" data-sortable="true">
              TP Load (kg/yr)
          </th>
      </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    <tr class="ptsrc-table-footer">
        <td class="strong text-right" colspan="2">
            Total For Area of Interest
        </td>
        <td class="ptsrc-footer-item strong text-right">
            {{ totalMGD|filterNoData()|toLocaleString(3) }}
        </td>
        <td class="ptsrc-footer-item strong text-right">
            {{ totalKGN|filterNoData()|toLocaleString(3) }}
        </td>
        <td class="ptsrc-footer-item strong text-right">
            {{ totalKGP|filterNoData()|toLocaleString(3) }}
        </td>
    </tr>
    </tfoot>
</table>
