<div class="pageable-table-container">
  <table class="table custom-hover point-source pageable-table-size" data-toggle="table">
      <thead>
          <tr>
              <th data-sortable="true">NPDES Code</th>
              <th data-sortable="true">City</th>
              <th class="text-right" data-sortable="true" data-sorter="window.noDataSort">
                  Discharge (MGD)
              </th>
              <th class="text-right" data-sortable="true" data-sorter="window.noDataSort">
                  TN Load (kg/yr)
              </th>
              <th class="text-right" data-sortable="true" data-sorter="window.noDataSort">
                  TP Load (kg/yr)
              </th>
          </tr>
      </thead>
      <tbody>
      </tbody>
      <tfoot>
          <tr class="ptsrc-table-footer">
              <td></td>
              <td class="strong text-right">
                  Total
              </td>
              <td class="ptsrc-footer-item strong text-right">
                  {{ totalMGD|filterNoData()|toLocaleString(3) }}
              </td>
              <td class="ptsrc-footer-item strong text-right">
                  {{ totalKGN|filterNoData()|toLocaleString(3) }}
              </td>
              <td class="ptsrc-footer-item strong text-right">
                  {{ totalKGP|filterNoData()|toLocaleString(3) }}
              </td>
          </tr>
      </tfoot>
  </table>
</div>
<div class="row paging-ctl-row">
  <button class="btn-prev-page btn btn-primary">
    <span aria-hidden="true">&larr;</span>
  </button>
  <button class="btn-next-page btn btn-primary">
    <span aria-hidden="true">&rarr;</span>
  </button>
</div>
