<td>
  <a
    class="point-source-id"
    data-npdes_id="{{ npdes_id }}"
    data-lat="{{ latitude }}"
    data-lng="{{ longitude }}"
    data-city="{{ city|title if city else '' }}"
    data-state="{{ state|upper if state else '' }}"
    data-mgd="{{ mgd }}"
    data-facilityname="{{ facilityname if facilityname else '' }}"
    data-kgn_yr="{{ kgn_yr }}"
    data-kgp_yr="{{ kgp_yr }}"
  >
    {{ npdes_id }}
  </a>
</td>
<td>{{ city|title if city else noData }}</td>
<td class="strong text-right">{{ mgd|filterNoData()|toLocaleString(3) }}</td>
<td class="strong text-right">{{ kgn_yr|filterNoData()|toLocaleString(3) }}</td>
<td class="strong text-right">{{ kgp_yr|filterNoData()|toLocaleString(3) }}</td>
