<div class="sidebar-tab-header output-tabs-wrapper" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="false"
                               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                <div class="sidebar-tab-header-label">
                    Analyze
                </div>
            </a>
        </li>
        <li role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#monitor-tab-contents" role="tab">
                <div class="sidebar-tab-header-label">
                    {{ 'Data' if data_catalog_enabled else 'Monitor' }}
                </div>
            </a>
        </li>
        <li role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#model-tab-contents" role="tab">
                <div class="sidebar-tab-header-label">
                    Model
                </div>
            </a>
        </li>
    </ul>
</div>

<div class="tab-contents-region">
    <div class="tab-content">
        <div class="aoi-region"></div>
        <div role="tabpanel" id="analyze-tab-contents"
            class="tab-pane analyze-stage-results-tab-pane"></div>
        <div role="tabpanel" id="monitor-tab-contents"
             class="tab-pane analyze-stage-monitor-tab-pane">
            {% if not isInConus %}
                <div class="output-tabs-wrapper">
                    <div class="tab-content">
                        <h3 style="margin: 12px 0">Monitoring Unavailable</h3>
                        <p>
                            Monitoring is only available within the Continental United States.
                            To monitor a watershed, please change the area of interest to be
                            contained within the Continental United States.
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div role="tabpanel" id="model-tab-contents"
             class="tab-pane analyze-stage-model-tab-pane">
            <div class="output-tabs-wrapper">
                <div class="tab-content">
                    {% if isInConus %}
                        <h3>Select a Model</h3>
                        <p>
                            Chose one of two models to simulate stormwater runoff
                            and water quality, to create different conservation and
                            development scenarios, and to compare human impacts of
                            these scenarios.
                        </p>
                        {% for model_package in model_packages %}
                            <div class="model-package">
                                {% if model_package.disabled %}
                                    <a href="#" data-id="{{ model_package.name }}"
                                    class="analyze-model-package-link disabled"
                                    >
                                        {{ model_package.display_name }}
                                        (Coming Soon)
                                    </a>
                                {% else %}
                                    <a href="#" data-id="{{ model_package.name }}"
                                    class="analyze-model-package-link"
                                    >
                                        <div class="analyze-model-name">
                                            {{ model_package.display_name }}
                                        </div>
                                        <p>{{ model_package.description }}</p>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <hr />
                    {% else %}
                        <h3 style="margin: 12px 0">Modeling Unavailable</h3>
                        <p>
                            Modeling is only available within the Continental United States.
                            To model a watershed, please change the area of interest to be
                            contained within the Continental United States.
                        </p>
                    {% endif %}
                    <div id="worksheet-export-region"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navigation-footer {{ 'data-catalog' if data_catalog_enabled }}">
    <button id="change-area-button" class="btn btn-lg btn-primary" type="button" data-action="change-area">
        Change area
    </button>
</div>
