<div class="sidebar-tab-header" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                <div> Analyze </div>
            </a>
        </li>
        <li>
            <a aria-controls="home" aria-expanded="false">
                <button type="button" class="btn btn-lg" data-url="/">
                    Back
                </button>
                <button type="button" class="btn btn-lg btn-active" data-url="/project">
                    Model
                </button>
            </a>
        </li>
    </ul>
</div>

<div class="tab-contents-region">
    <div class="tab-content">
        <div role="tabpanel" id="analyze-tab-contents" class="tab-pane"></div>
    </div>
</div>
