<div class="sidebar-tab-header" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                <div> Analyze </div>
            </a>
        </li>
        <li>
            <a class="back-button" aria-controls="home" aria-expanded="false">
                <button type="button" class="btn btn-lg" data-url="/">
                    Draw
                </button>
            </a>

            <div class="dropdown">
              <button class="btn btn-lg btn-active dropdown-toggle" type="button" data-toggle="dropdown">Model
              <span class="caret"></span></button>
              <ul class="dropdown-menu dropdown-menu-right">
                {% for modelPackage in modelPackages %}
                    <li>
                        {% if modelPackage.disabled %}
                            <a class="disabled" class="model-package" href="#" data-id="{{ modelPackage.name }}">
                                {{ modelPackage.display_name }} (Coming Soon)
                            </a>
                        {% else %}
                            <a href="#" class="model-package" data-id="{{ modelPackage.name }}">
                                {{ modelPackage.display_name }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
              </ul>
            </div>
        </li>
    </ul>
</div>

<div class="tab-contents-region">
    <div class="tab-content">
        <div role="tabpanel" id="analyze-tab-contents" class="tab-pane"></div>
    </div>
</div>
