<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true" data-field="displayOrder" data-sorter="window.ordinalNumericSort">
                Stream Order
            </th>
            <th class="text-right" data-field="lengthkm" data-sortable="true" data-sorter="window.numericSort">
                Total Length ({{ lengthUnit }})
            </th>
            <th class="text-right" data-field="avgslope" data-sortable="true" data-sorter="window.noDataSort" data-formatter="window.percentFormatter">
                Mean Channel Slope (%)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Combined
            </th>
            <th class="text-right">
                {{ totalLength|round(2)|toLocaleString(2) }}
            </th>
            <th class="text-right">
                {{ (avgChannelSlope * 100)|round(2)|toLocaleString(2) }}%
            </th>
        </tr>
    </tfoot>
</table>
{% if conusOnly %}
<div id="streams-tab-ag-section">
    <div class="streams-tab-ag-line-item">
        Length in agricultural areas = {{ lengthInAg|round(2)|toLocaleString(2) }} {{ lengthUnit }}
        {% include "./streamLengthPopover.html" %}
    </div>
    <div class="streams-tab-ag-line-item">
        Length in non-agricultural areas = {{ lengthInNonAg|round(2)|toLocaleString(2) }} {{ lengthUnit }}
        {% include "./streamLengthPopover.html" %}
    </div>
</div>
{% endif %}
