<a class="help" data-toggle="popover" tabindex="0"
   data-html="true" data-container="body" role="button"
   data-content="Derived using a uniform one-pixel ({{ '30m' if lengthUnit == 'km' else '98.5ft' }}) riparian width for flowlines. <br> See our <a href='https://wikiwatershed.org/documentation/mmw-tech/#analyze-area-of-interest-aoi' target='_blank'>documentation on streams</a>."
   data-template="<div class='popover'><div class='pull-right'
     id='popover-close-button'><i class='fa fa-times' /></div><div
     class='popover-content'></div><div class='arrow'></div></div>">
   <i class="fa fa-info-circle black"></i>
</a>
