<td>
    {{ displayOrder }}
    {% if helpText %}
        <a class="help" data-toggle="popover" tabindex="0"
           data-html="true" data-container="body" role="button"
           data-content="{{helpText}}"
           data-template="<div class='popover'><div class='pull-right'
             id='popover-close-button'><i class='fa fa-times' /></div><div
             class='popover-content'></div><div class='arrow'></div></div>">
           <i class="fa fa-info-circle black"></i>
        </a>
    {% endif %}
</td>
<td class="strong text-right">
    {{ length|round(2)|toLocaleString(2) }}
</td>
<td class="strong text-right">
    {% if avgslope %}
        {{ (avgslope * 100)|round(2)|toLocaleString(2) }}
    {% else %}
        {{ noData }}
    {% endif %}
</td>
