<div class="modal-dialog contribute-modal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Contribute Data</h2>
        </div>
        <div class="modal-body">
            <p>
                Add your own datasets to the catalogs below to share them with
                a wide audience. Datasets added there are included in searches
                performed in Monitor My Watershed.
            </p>
            <div class="contribute-group">
                <div class="contribute-description">
                    <h3>EnviroDIY</h3>
                    <p>
                        A community for do-it-yourself environmental science
                        and monitoring.
                    </p>
                </div>
                <div class="contribute-link">
                    <a target="_blank" rel="noreferrer noopener"
                       href="https://www.envirodiy.org/"
                       class="btn btn-active"
                    >
                        Go
                    </a>
                </div>
            </div>
            <div class="contribute-group">
                <div class="contribute-description">
                    <h3>HydroShare</h3>
                    <p>
                        HydroShare is an online collaboration environment for
                        sharing data, models, and code.
                    </p>
                </div>
                <div class="contribute-link">
                    <a target="_blank" rel="noreferrer noopener"
                       href="https://www.hydroshare.org/"
                       class="btn btn-active"
                    >
                        Go
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
