<div class="modal-dialog contribute-modal" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Contribute Your Data</h2>
        </div>
        <div class="modal-body">
            <p>
                Add your own datasets to these data repositories to share them
                with a wide audience, including by searches performed in
                Monitor My Watershed.
            </p>
            <div class="contribute-group">
                <div class="contribute-row">
                    <div class="contribute-description">
                        <h3>WikiWatershed Data Sharing Portal</h3>
                        <p>
                            Share real-time sensor data or aquatic
                            macroinvertebrate data using the easy-to-use
                            WikiWatershed Data Sharing Portal for
                            do-it-yourself environmental science and monitoring
                            communities. Learn these protocols at <a
                            target="_blank" rel="noreferrer noopener"
                            href="https://www.envirodiy.org">
                            https://www.envirodiy.org</a> and <a
                            target="_blank" rel="noreferrer noopener"
                            href="https://leafpacknetwork.org">
                            https://leafpacknetwork.org</a>.
                        </p>
                    </div>
                    <div class="contribute-link">
                        <a target="_blank" rel="noreferrer noopener"
                           href="https://data.wikiwatershed.org"
                           class="btn btn-active"
                        >
                            Contribute
                        </a>
                    </div>
                </div>
                <div class="contribute-logos">
                    <a target="_blank" rel="noreferrer noopener"
                       href="https://www.envirodiy.org"
                    >
                        <img src="/static/images/logo-envirodiy.png"
                             alt="EnviroDIY Logo" />
                    </a>
                    <a target="_blank" rel="noreferrer noopener"
                       href="https://leafpacknetwork.org"
                    >
                        <img src="/static/images/logo-leafpacknetwork.png"
                             alt="Leaf Pack Network Logo" />
                    </a>
                </div>
            </div>
            <div class="contribute-group">
                <div class="contribute-row">
                    <div class="contribute-description">
                        <h3>HydroShare</h3>
                        <p>
                            Share any type of dataset, using the HydroShare
                            online collaboration environment for sharing data,
                            models, and code. You can select different levels
                            of public permissions, similar to Google Docs, and
                            even publish your datasets with a Digital Object
                            Identifier.
                        </p>
                    </div>
                    <div class="contribute-link">
                        <a target="_blank" rel="noreferrer noopener"
                           href="https://www.hydroshare.org/"
                           class="btn btn-active"
                        >
                            Contribute
                        </a>
                    </div>
                </div>
                <div class="contribute-logos">
                    <a target="_blank" rel="noreferrer noopener"
                       href="https://www.hydroshare.org/"
                    >
                        <img src="/static/images/logo-hydroshare.png"
                             alt="HydroShare Logo" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
