<h3 class="resource-title">
    {{ id }}
</h3>
<div class="resource-detail">
    <i class="fa fa-map-marker"></i> {{ title }}
</div>
<div class="resource-detail">
    <i class="fa fa-eyedropper"></i> {{ sample_mediums }}
</div>
<div class="resource-detail">
    <i class="fa fa-subscript"></i> {{ concept_keywords }}
</div>
<div class="resource-detail">
    <i class="fa fa-file-text-o"></i> {{ service_org }}<!-- , {{ service_code }} -->
</div>
<div class="resource-detail">
    {% if begin_date == end_date %}
        <i class="fa fa-calendar"></i> {{ begin_date|toFriendlyDate }}
    {% else %}
        <i class="fa fa-calendar"></i> {{ begin_date|toFriendlyDate }}-{{ end_date|toFriendlyDate }}
    {% endif %}
</div>
