<h3 class="resource-title">
    {{ title }}
</h3>
<div class="resource-description">
    {{ summary }}
</div>
{% if created_at %}
    <div class="resource-date">
        {{ created_at|toDateFullYear }}
    </div>
{% endif %}
{% if author %}
    <div class="resource-author">
        {{ author }}
    </div>
{% endif %}
<div class="resource-details_url">
    {{ details_url }}
</div>
<div class="resource-sample_medium">
    {{ sample_medium }}
</div>
<div class="resource-concept_keyword">
    {{ concept_keyword }}
</div>
<div class="resource-service_org">
    {{ service_org }}
</div>
<div class="resource-service_code">
    {{ service_code }}
</div>
<div class="resource-service_url">
    {{ service_url }}
</div>
<div class="resource-begin_date">
    {{ begin_date }}
</div>
<div class="resource-end_date">
    {{ end_date }}
</div>
