<h3 class="resource-title">
    {{ id }}
</h3>
<div>
    {% if details_url %}
        <a href="{{ details_url }}" target="_blank" rel="noreferrer noopener">
        {{ title }}</a>.
    {% else %}
        {{ title }}.
    {% endif %}
    Observations on {{ sample_mediums }}.
</div>
<div>
    Variables: {{ concept_keywords }}
</div>
<div>
    From <a href="{{ service_url }}" target="_blank" rel="noreferrer noopener">
    {{ service_org }} - {{ service_code }}</a> web service.
</div>
<div>
    {% if begin_date == end_date %}
        Date for site: {{ begin_date|toFriendlyDate }}
    {% else %}
        Date range for site: {{ begin_date|toFriendlyDate }} - {{ end_date|toFriendlyDate }}
    {% endif %}
</div>
