<div class="data-catalog-search">
    <div class="search-group">
        <input type="text" class="form-control"
               value="{{ query }}" placeholder="Search data sources" />
        <button class="btn btn-active btn-search" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="search-options-group">
        <button class="btn btn-search-option filter-sidebar-toggle">
            <i class="fa fa-filter"></i>
            Filters {{filterNumText}}
        </button>
    </div>
</div>

<div class="dropdown">
    <button class="{{ 'hidden' if not downloadVisible }}" data-toggle="dropdown">
        <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a role="menuitem" tabindex="-1" id="bigcz-catalog-results-download">
                Download results
            </a>
        </li>
    </ul>
</div>

<div class="filter-sidebar-region"></div>
