<button class="btn
               {% if filterNumText %}
               btn-secondary
               {% else %}
               btn-active
               {% endif %}
               btn-md filter-sidebar-toggle">
    Filters {{filterNumText}}
</button>

<div class="data-catalog-search-component">
    <i class="data-catalog-search-icon fa fa-search"></i>
    <input
        class="data-catalog-search-input"
        type="text"
        placeholder="Search data sources"
        value="{{query}}"
    />
</div>

<button id="bigcz-catalog-results-download" class="{{ 'hidden' if not downloadVisible }}"
        title="Download Results as JSON">
    <i class="fa fa-download"></i>
</button>

<div class="filter-sidebar-region"></div>
