<header id="model-header" class="bigcz">
    <div id="project-menu-region">
        <div class="project">
            <div class="project-left">
                <div class="project-title">
                    <button class="btn dropdown-toggle project-dropdown" type="button" data-toggle="dropdown" aria-expanded="true">
                        {{ aoiName }}
                    </button>
                </div>
                <div class="model-analyze-toggle-tab-header" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a aria-controls="home" aria-expanded="false"
                               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                                <div> Analyze </div>
                            </a>
                        </li>
                        <li class="active" role="presentation">
                            <a aria-controls="home" aria-expanded="true"
                               data-toggle="tab" href="#data-catalog-tab-contents" role="tab">
                                <div> Data </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
