<div class="result">
    <div id="cuahsi-status-region"></div>
    <div class="result-detail-header">
        <button type="button" class="close" aria-label="Close">
            <i class="fa fa-arrow-left black"></i> Back
        </button>
        <h2>
            Site: {{ location }} {{ title }}
        </h2>
        <table class="table-data-detail">
            <tr>
                <th>Site Description</th>
                <td>
                    {% if description %}
                        {{ description }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Organization</th>
                <td>
                    {{ service_orgname }} ({{ service_org }})
                    <a data-toggle="popover" tabindex="0"
                       data-html="true" data-container="body" role="button"
                       data-content="<a href='https://www.waterqualitydata.us/provider/{{ provider_name }}/{{ service_org }}/' target='_blank'>{{ service_orgname }} ({{ service_org }})</a>"
                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-info-circle black"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Site Type</th>
                <td>{{ monitoring_type }}</td>
            </tr>
{#            <tr>#}
{#                <th>Source</th>#}
{#                <td>{{ service_org }}<br>{{ title }}#}
{#                    <a data-toggle="popover" tabindex="0"#}
{#                       data-html="true" data-container="body" role="button"#}
{#                       data-content="{{ description }}"#}
{#                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">#}
{#                        <i class="fa fa-info-circle black"></i>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
            {% if author %}
                <tr>
                    <th>Author</th>
                    <td>
                        {{ author }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                {% if begin_date and begin_date|toDateWithoutTime == end_date|toDateWithoutTime %}
                    <th>Data collected on</th>
                    <td>{{ begin_date|toDateWithoutTime }}</td>
                {% elif beign_date %}
                    <th>Data collected between</th>
                    <td>{{ begin_date|toDateWithoutTime }}&ensp;&ndash;&ensp;{{ end_date|toDateWithoutTime }}</td>
                {% else %}
                    <th>Data collected on</th>
                    <td>Unknown Time Period</td>
                {% endif %}
            </tr>
{#            <tr>#}
{#                <th>Medium</th>#}
{#                <td>#}
{#                    {{ sample_mediums|join(", ") }}#}
{#                </td>#}
{#            </tr>#}
            <tr>
                <th>Provider</th>
                <td>
                    {{ provider_name }}
                    <a data-toggle="popover" tabindex="0"
                       data-html="true" data-container="body" role="button"
                       data-content="<a href='https://www.waterqualitydata.us/provider/{{ provider_name }}/' target='_blank'>{{ provider_name }}</a>"
                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-info-circle black"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Catalog</th>
                <td>
                    USGS Water Quality Portal (WQP)
                    <a data-toggle="popover" tabindex="0"
                       data-html="true" data-container="body" role="button"
                       data-content="The Water Quality Portal (WQP) is a cooperative service sponsored
                       by the United States Geological Survey (USGS), the Environmental Protection Agency (EPA),
                       and the National Water Quality Monitoring Council (NWQMC).
                       It serves data collected by over 400 state, federal, tribal, and local agencies."
                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-info-circle black"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        {% if details_url %}
            <a class="btn btn-secondary" href="{{ details_url }}"
               target="_blank" rel="noreferrer noopener">
                <i class="fa fa-external-link-square"></i>&nbsp;Site Page
            </a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ service_url }}"
           rel="noreferrer noopener" download="{{ id }}.zip">
            <i class="fa fa-download"></i>&nbsp;Download Sample Results
        </a>
    </p>
    <hr />
{#    <h3>Source Data</h3>#}
{#    <div id="cuahsi-switcher-region"></div>#}
{#    <div id="cuahsi-table-region" class="{{ 'hidden' if mode != 'table' }}"></div>#}
{#    <div id="cuahsi-chart-region" class="{{ 'hidden' if mode != 'chart' }}"></div>#}
{#    <hr />#}
    <h3>Citation</h3>
    <p>{{ service_citation }}</p>
</div>