<div class="result">
    <div class="result-detail-header">
        <button type="button" class="close" aria-label="Close">
            <i class="fa fa-arrow-left black"></i> Back
        </button>
        <h2>
            Resource: {{ title }}
        </h2>
        <table class="table-data-detail">
            <tr>
                <th>Author</th>
                <td>
                    {% for creator in creators %}
                        {{ creator.name }}{% if creator.organization %}, {{ creator.organization }} {% endif %}<br />
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Period</th>
                <td>
                    {% if begin_date %}
                        {{ begin_date|toDateWithoutTime }}&thinsp;&ndash;&thinsp;{{ end_date|toDateWithoutTime }}
                    {% else %}
                        Unknown
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>
                    {{ subjects }}
                </td>
            </tr>
            <tr>
                <th>Resource Type</th>
                <td>
                    {{ resource_type }}
                    <a data-toggle="popover" tabindex="0"
                       data-html="true" data-container="body" role="button"
                       data-content="The fundamental unit of digital content in HydroShare is a <strong>Resource</strong>. For more information see <a href='https://help.hydroshare.org/hydroshare-resource-types/' target='_blank' rel='noreferrer noopener'>https://help.hydroshare.org/hydroshare-resource-types/</a>"
                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-info-circle black"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <th>Catalog</th>
                <td>
                    CUAHSI HydroShare
                    <a data-toggle="popover" tabindex="0"
                       data-html="true" data-container="body" role="button"
                       data-content="HydroShare is an online collaborative environment for sharing hydrologic data and models. Its goal is to facilitate creation, collaboration around, discovery and access to data and model resources shared by members of the Hydrology community. See <a href='https://www.hydroshare.org/' target='_blank' rel='noreferrer noopener'>https://www.hydroshare.org/</a>"
                       data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-info-circle black"></i>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <p>
        {% if details_url %}
        <a class="btn btn-secondary" href="{{ details_url }}"
           target="_blank" rel="noreferrer noopener">
            <i class="fa fa-external-link-square"></i>&nbsp;Source Data
        </a>
        {% endif %}
        <a class="btn btn-secondary" href="https://www.hydroshare.org/hsapi/#/hsapi"
           target="_blank" rel="noreferrer noopener">
            <i class="fa fa-globe"></i>&nbsp;Web Services
        </a>
    </p>
    <div class="spinner {{ 'hidden' if not fetching }}"></div>
    <div class="error {{ 'hidden' if not error }}">
        <i class="fa fa-exclamation-triangle"></i>
    </div>
    <hr />
    <div>
        <ul class="nav hydroshare-nav-tabs nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#hydroshare-abstract" role="tab" data-toggle="tab">
                    Abstract
                </a>
            </li>
            <li role="presentation">
                <a href="#hydroshare-content" role="tab" data-toggle="tab">
                    Content
                </a>
            </li>
        </ul>
        <div class="hydroshare-tab-content tab-content">
            <div role="tabpanel" class="tab-pane active" id="hydroshare-abstract">
                <p>
                    {{ abstract }}
                </p>
            </div>
            <div role="tabpanel" class="tab-pane" id="hydroshare-content">
                <p>
                    Last Updated {{ updated_at|toDateWithoutTime }}
                </p>
                <table class="table custom-hover" data-toggle="table">
                    <thead>
                    <tr>
                        <th data-width="75%">File Name</th>
                        <th>File Size</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr>
                                <td>
                                    {{ file.name }}
                                </td>
                                <td>
                                    {{ file.size|toFriendlyBytes }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr />
    <h3>Citation</h3>
    <p>
        {% set comma = joiner() %}
        {% for creator in creators %}{{ comma() }} {{ creator.name }}{% endfor %}
        ({{ updated_at|toDateFullYear }}).
        {{ title }}, HydroShare,
        <a href="{{ details_url }}" target="_blank" rel="noreferrer noopener"
           style="word-wrap: break-word;">
            {{ details_url }}
        </a>
    </p>
</div>
