<div class="result">
    <div class="result-detail-header">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h2>
            Site: {{ location }} {{ title }}
        </h2>
        <p>
            Source: {{ service_org }} {{ service_title }}
            <a data-toggle="popover" tabindex="0"
               data-html="true" data-container="body" role="button"
               data-content="{{ description }}"
               data-template="<div class='popover'><div class='pull-right' id='popover-close-button' onclick='closePopover()'><i class='fa fa-times' /></div><div class='popover-content'></div><div class='arrow'></div></div>">
                <i class="fa fa-info-circle black"></i>
            </a>
        </p>
    </div>
    {% if author %}
        <p>
            <i class="fa fa-user"></i>{{ author }}
        </p>
    {% endif %}
    {% if begin_date == end_date %}
        <p>
            Data collected on: {{ begin_date|toDateWithoutTime }}
        </p>
    {% else %}
        <p>
            Data collected between: {{ begin_date|toDateWithoutTime }} - {{ end_date|toDateWithoutTime }}
        </p>
    {% endif %}
    <p>
        Medium: {{ sample_mediums|join(", ") }}
    </p>
    <p>
        {% if details_url %}
            <a class="btn btn-secondary" href="{{ details_url }}"
               target="_blank" rel="noreferrer noopener">
                <i class="fa fa-external-link-square"></i>&nbsp;Source Data
            </a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ service_url }}"
           target="_blank" rel="noreferrer noopener">
            <i class="fa fa-globe"></i>&nbsp;Web Services
        </a>
    </p>
    <div class="spinner {{ "hidden" if not fetching }}"></div>
    <div class="error {{ "hidden" if not error }}">
        <i class="fa fa-exclamation-triangle"></i>
    </div>
    <hr />
    <div class="cuahsi-buttons pull-right {{ "hidden" if fetching }}">
        <button id="cuahsi-button-chart" class="{{ 'active' if mode == 'chart' }}"><i class="fa fa-bar-chart"></i></button>
        <button id="cuahsi-button-table" class="{{ 'active' if mode == 'table' }}"><i class="fa fa-table"></i></button>
    </div>
    <p>
        Last collected value {{ last_date|toTimeAgo }}:
    </p>
    <div id="cuahsi-values-region"></div>
    <!-- TODO Insert Chart https://github.com/WikiWatershed/model-my-watershed/issues/2238 -->
    <hr />
    <p>Citation: {{ service_citation }}</p>
</div>
