<select class="cuahsi-variable-select form-control btn btn-small btn-primary">
    {% for v in variables %}
        <option value="{{ v.id }}" {{ 'selected' if v.id == selected }}>
            {{ v.concept_keyword }}
            {% if v.data_type and v.data_type != 'Unknown' and v.data_type != 'Instantaneous' %}
                ({{ v.data_type }})
            {% endif %}
            {% if v.units %}
                ({{ v.units }})
            {% endif %}
        </option>
    {% endfor %}
</select>
<div id="cuahsi-variable-chart"></div>
