<div class="resource-wrapper {{ 'active' if active }}">
    <h3 class="resource-title">
        {{ title }}
    </h3>
    {% if not (summary == "REQUIRED FIELD") %}
    <div class="resource-description">
        {{ summary }}
    </div>
    {% endif %}
    {% if created_at %}
    <div class="resource-date">
        <i class="fa fa-calendar"></i> {{ created_at|toDateFullYear }}
    </div>
    {% endif %}
    {% if author %}
    <div class="resource-author">
        <i class="fa fa-user"></i> {{ author }}
    </div>
    {% endif %}
</div>
