{% if isSearching %}
    <p>Searching...</p>
{% endif %}

{% if results.length > 0 %}
    {% for model in results %}
    <div class="resource" data-cid="{{ model.cid }}">
        <h3 class="resource-title">
            {{ model.get('title') }}
        </h3>
        <div class="resource-description-short">
            {{ model.getShortDescription() }}
            {% if model.showExpandLink() %}
            <a href="#" data-action="expand">More</a>
            {% endif %}
        </div>
        <div class="resource-description">
            {{ model.get('description') }}
        </div>
        <div class="resource-details">
            {% if model.getDetailUrl() %}
            <a href="{{ model.getDetailUrl() }}" target="_blank">Source</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}

{% elif not searchText %}
    <p>eg: Turbidity, Fixed Shore, USGS, more stuff</p>

{% elif not isSearching %}
    <p>No results!</p>

{% endif %}
