<div class="result-details-region"></div>

<div class="form-region"></div>

<div class="intro-text">
    <p>
        <strong>Sample search terms: "turbidity", "water" &amp; "MODIS".</strong>
    </p>
    <p>
        Start typing to find some datasets that would be useful
        for your research. You can add filters if dates are important.
    </p>
</div>

<div class="output-tabs-wrapper hide">
    <div role="tabpanel" class="tab-panels-region"></div>
    <div class="tab-contents-region"></div>
</div>
