---
app_home: /opt/app
app_deploy_branch: "master"

app_config:
  DJANGO_TEST_DB_NAME: "{{ django_test_database }}"
  DJANGO_SETTINGS_MODULE: "{{ django_settings_module }}"
  DJANGO_STATIC_ROOT: "/tmp/static"
  DJANGO_MEDIA_ROOT: "/tmp/media"
  DJANGO_POSTGIS_VERSION: "{{ app_postgis_version }}"
  DJANGO_SECRET_KEY: "{{ app_secret_key }}"

app_postgis_version: 3.1.4
app_secret_key: "{{ postgresql_password | md5 }}"

celery_pid_dir: "/run/celery"
celery_log_dir: "/var/log/celery"
celery_pid_files: "{{ celery_pid_dir }}/%n.pid"
celery_logs: "{{ celery_log_dir }}/%n.log"
celery_number_of_workers: 2
celery_processes_per_worker: 1
celery_log_level: "INFO"
