{% if shape %}
<div class="aoi-header-wrapper title-row">
    {% if can_go_back %}
    <div class="back">
        <a data-url="/" class="btn btn-lg btn-icon light"><i class="fa fa-arrow-left"></i></a>
    </div>
    {% endif %}

    <div class="title">
        <h2 class="light">{{ place }}</h2>
        {% if area > 0 %}
        <label class="light">{{ area|round|toLocaleString }} {{ units }}</label>
        {% endif %}
    </div>
    {% if isValidForAnalysis %}
    <div class="cta-wrapper">
        <a data-url="/{{ url }}" class="btn btn-lg btn-cta"><i class="fa fa-arrow-right"></i></a>
        <label class="paper center-block text-center">{{ next_label }}</label>
    </div>
    {% endif %}
</div>
{% endif %}
