<nav id="app-header" class="navbar-watershed">
    <ul class="global-navigation">
        <li class="global-navigation-item"><button data-url="/">Model My Watershed</button></li>
    </ul>
    <div class="navigation">
        <ul class="main">
            <li class="header-link"><a target="_blank" href="http://www.stroudcenter.org/"><img src="/static/images/stroud-logo.png" alt="Logo" /></a></li>
            <li class="header-link"><a target="_blank" href="http://www.wikiwatershed.org">About</a></li>
            {% if guest %}
                <li class="header-link"><a class="show-login" href="javascript:void(0);">Login</a></li>
            {% else %}
                <li class="dropdown header-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        {{ username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if itsi %}
                            <li><a href="#" class="clone-project">Clone Project</a></li>
                        {% endif %}
                        {% if not itsi_embed %}
                            <li><a data-url="/projects/">My Projects</a></li>
                        {% endif %}
                        <li><a href="/user/logout" class="user-logout">Logout</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
