<nav id="app-header" class="navbar-watershed">
    <ul class="global-navigation">
        <li class="global-navigation-item"><button data-url="/">{{ title }}</button></li>
    </ul>
    <div class="navigation">
        <ul class="main">
            <li class="header-link"><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
            <li class="header-link"><a href="https://wikiwatershed.org/help/" target="_blank">Help</a></li>
            {% if guest %}
                <li class="header-link"><a class="show-login" href="javascript:void(0);">Login</a></li>
            {% else %}
                <li class="dropdown header-link">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        {{ username }}
                    </a>
                    {% if not profile_is_complete %}
                    <a href="/account"
                       {% if show_profile_popover %}
                       title="No problem"
                       data-toggle="popover" tabindex="0"
	                     data-content="You can click on this little blue circle whenever you are ready to fill out the user survey. We'd really appreciate it."
	                     data-template="<div class='popover profile-popover'><h2 class='popover-title'></h2><div class='popover-content'></div><div class='btn btn-md btn-active btn-block' id='popover-close-button'>Okay</div><div class='arrow'></div></div>"
                       {% endif %}
                    ><div class="profile-reminder-dot"></div></a>
                    {% endif %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if itsi %}
                            <li><a href="#" class="clone-project">Clone Project</a></li>
                        {% endif %}
                        {% if not itsi_embed %}
                            <li><a data-url="/projects/">My Projects</a></li>
                        {% endif %}
                        <li><a data-url="/account/">My Account</a></li>
                        <li><a href="/user/logout" class="user-logout">Logout</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="modal modal-about fade" id="about-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title">Model My Watershed</h2>
                <p class="version">
                    <!-- TODO Add Version Number Here -->
                    <!-- https://github.com/WikiWatershed/model-my-watershed/issues/2591 -->
                    Version X.XX (<a href="https://github.com/WikiWatershed/model-my-watershed/releases/latest">Release Notes</a>)
                </p>
            </div>
            <div class="modal-body">
                <p>
                    Model My Watershed is part of <a href="http://www.stroudcenter.org/" target="_blank">
                    Stroud Water Research Center</a>'s <a href="https://wikiwatershed.org/" target="_blank">
                    WikiWatershed</a> initiative. WikiWatershed is a web
                    toolkit designed to support citizens, conservation
                    practitioners, municipal decision-makers, researchers,
                    educators, and students to collaboratively advance
                    knowledge and stewardship of fresh water.
                </p>
                <ul>
                    <li>Read more <a href="https://wikiwatershed.org/model/" target="_blank">about Model My Watershed</a></li>
                    <li>Meet <a href="https://wikiwatershed.org/about/" target="_blank">the development team</a></li>
                </ul>
                <hr />
                <h5>With major funding from:</h5>
                <p>
                    <a target="_blank" href="http://www.williampennfoundation.org/"><img class="splash-sponsor-logo" src="/static/images/logo-wpf.png" alt="William Penn Foundation Logo" /></a>
                    <a target="_blank" href="https://www.nsf.gov/"><img class="splash-sponsor-logo" src="/static/images/logo-nsf.png" alt="National Science Foundation Logo" /></a>
                </p>
            </div>
        </div>
    </div>
</div>

{% if show_profile_popover %}
<div class="modal profile-fade-background" tabindex="-1">
{% endif %}
