<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="modal-body">
            <div class="custom-input-group">
                <input type="text" required value="{{ initial }}"/>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{ fieldLabel }}</label>
            </div>
            <label class="error"></label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-md btn-default save">Save</button>
        </div>
    </div>
</div>
