<div class="layerpicker-layer">
    <button
        class="{{layerClass}}"
        {% if isDisabled %} disabled {% endif %}
    >
        {{ layerDisplay }}
    </button>
    {% if not isDisabled and legendMapping %}
        <a
            tabindex="-1"
            role="presentation"
            data-html="true"
            data-toggle="popover"
            data-trigger="focus"
            class="layerpicker-info"
            data-layer-help-icon="{{layerDisplay}}"
        >
        </a>
    {% endif %}
</div>
