<div>
    <div class="layer-control-button-container leaflet-control leaflet-bar">
        <a class="leaflet-bar-part leaflet-bar-part-single" href="#" title="Show layer control">
            <span class="fa fa-globe"></span>
        </a>
    </div>
    <div class="leaflet-control-layers">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Layers</h4>
          </div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#basemap-layer-list" aria-controls="basemap" role="tab" data-toggle="tab">Basemap</a></li>
            <li role="presentation"><a href="#overlays-layer-list" aria-controls="overlays" role="tab" data-toggle="tab">Overlays</a></li>
        </ul>
        <form class="leaflet-control-layers-list">
           <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="basemap-layer-list"></div>
              <div role="tabpanel" class="tab-pane" id="overlays-layer-list"></div>
            </div>
        </form>
    </div>
</div>
