<h3>{{ value|modName }}</h3>
<table class='table'>
    <tr>
        <td>Total Area</td>
        <td class='strong text-right'>{{ area|round(2)|toLocaleString(2) }} {{ units }}</td>
    </tr>
    <tr>
        <td>Effective Area</td>
        <td class='strong text-right'>{{ effectiveArea|round(2)|toLocaleString(2) }} {{ effectiveUnits }}</td>
    </tr>
</table>
<span>
    <button class="btn btn-sm btn-icon dark delete-modification" type="button">
        <i class="fa fa-trash"></i> Remove modification
    </button>
</span>
