<div class="measurements-platform"> {{ platform_type }} </div>
<div class="measurements-name"> {{ name }} </div>
<div class="measurements-updated"> {{ lastUpdated }} </div>

{% if measurements.length == 0 %}
    No measurements available.
{% endif %}
<div class="measurements-region"></div>

<div>Data from <a href="{{ provider_url }}" target="_blank">{{ provider }}</a></div>
{% if url %}
    <a href="{{ url }}" target="_blank">Original source data</a>
{% endif %}

{% if measurements.length > 0 %}
    <button class="show-plot btn btn-md">Historical Data</button>
{% endif %}
