<h2 class="measurements-name">NPDES Code: {{ npdes_id }}</h2>
<div class="measurements-platform">
    {{ facilityname if facilityname else '' }}
</div>
<div class="measurements-platform">
    {{ city if city else '' }}{{ ', ' + state if state else '' }}
</div>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th class="text-right">Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Discharge (MGD)</td>
            <td class="text-right">
                {{ mgd|filterNoData()|toLocaleString() }}
            </td>
        </tr>
        <tr>
            <td>TN Load (kg/yr)</td>
            <td class="text-right">
                {{ kgn_yr|filterNoData()|toLocaleString() }}
            </td>
        </tr>
        <tr>
            <td>TP Load (kg/yr)</td>
            <td class="text-right">
                {{ kgp_yr|filterNoData()|toLocaleString() }}
            </td>
        </tr>
    </tbody>
</table>
