<div id="compare-scenarios-region"></div>
<div id="compare-footer">
    <div class="back">
        <a data-url="/project" class="btn btn-back-compare"><i class="fa fa-arrow-left"></i> Back </a>
    </div>
    <div id="slide-controls">
        Navigate Scenarios
        <div class="btn-group">
            <button id="slide-left" type="button" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i></button>
            <button id="slide-right" type="button" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i></button>
        </div>
    </div>
</div>
