<div id="compare-scenarios-region"></div>
<div id="compare-footer">
    <div class="back"> <!-- Back -->
      <a data-url="/project" class="btn btn-md btn-icon"><i class="fa fa-arrow-left"></i></a>
    </div> <!-- End Back -->
    <h3>Navigate Scenarios</h3>
    <div id="slide-controls">
        <div class="btn-group">
            <button id="slide-left" type="button" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i></button>
            <button id="slide-right" type="button" class="btn btn-primary"><i class="fa fa-long-arrow-right"></i></button>
        </div>
    </div>
</div>
