<div class="compare-scenario-gradient"></div>
<div class="compare-header">
    <div class="compare-title">
        <h1>Compare</h1>
    </div>
    <div class="compare-close">
        <button>
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="compare-actions">
        <div class="compare-tabs">
        </div>
        <div class="compare-inputs">
        </div>
    </div>
</div>
<div class="compare-scenarios">
    <div class="compare-scenario-row-description">
        <h2>Scenarios</h2>
    </div>
    <div class="compare-scenario-row-content-container">
        <div class="compare-scenario-row-content">
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 1</h3>
            </div>
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 2</h3>
            </div>
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 3</h3>
            </div>
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 4</h3>
            </div>
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 5</h3>
            </div>
            <div class="compare-column">
                <div class="compare-mapplaceholder"></div>
                <h3><span class="scenario-badge"></span>Scenario 6</h3>
            </div>
        </div>
    </div>
    <div class="compare-scenario-buttons">
        <button class="visible">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button class="visible active">
            <i class="fa fa-arrow-right"></i>
        </button>
    </div>
</div>
<div class="compare-sections">
    <div class="compare-table-row">
        <div class="compare-scenario-row-description">
            <h2>Runoff</h2>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-column">
                    14,251km
                </div>
                <div class="compare-column">
                    14,251km
                </div>
                <div class="compare-column">
                    14,251km
                </div>
                <div class="compare-column">
                    14,251km
                </div>
                <div class="compare-column">
                    14,251km
                </div>
                <div class="compare-column">
                    14,251km
                </div>
            </div>
        </div>
    </div>
    <div class="compare-section">
        <div class="compare-scenario-row-description">
            <h2>Combined Hydrology</h2>
            <ul>
                <li>Evapotranspiration</li>
                <li>Runoff</li>
                <li>Infiltration</li>
            </ul>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-scenario-samplechartplaceholder"></div>
            </div>
        </div>
    </div>
    <div class="compare-section">
        <div class="compare-scenario-row-description">
            <h2>Combined Hydrology</h2>
            <ul>
                <li>Evapotranspiration</li>
                <li>Runoff</li>
                <li>Infiltration</li>
            </ul>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-scenario-samplechartplaceholder"></div>
            </div>
        </div>
    </div>
    <div class="compare-section">
        <div class="compare-scenario-row-description">
            <h2>Evapotranspiration</h2>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-scenario-samplechartplaceholder"></div>
            </div>
        </div>
    </div>
    <div class="compare-section">
        <div class="compare-scenario-row-description">
            <h2>Runoff</h2>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-scenario-samplechartplaceholder"></div>
            </div>
        </div>
    </div>
    <div class="compare-section">
        <div class="compare-scenario-row-description">
            <h2>Infiltration</h2>
        </div>
        <div class="compare-scenario-row-content-container">
            <div class="compare-scenario-row-content">
                <div class="compare-scenario-samplechartplaceholder"></div>
            </div>
        </div>
    </div>
</div>
