{% macro modificationsTable(caption, modifications) %}
<table class="compare-modifications-table">
    {% if modifications.length > 0 %}
        <h5>{{ caption }}</h5>
    {% endif %}
    <tbody>
        {% for mod in modifications %}
            <tr>
                <td class="modification-value">
                    {{ modConfigUtils.getHumanReadableShortName(mod.get('value')) }}
                </td>
                <td class="modification-area">
                    +{{ mod.get('area').toFixed(1) }} {{ mod.get('units') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

<h3>Modifications</h3>
{{ modificationsTable('Land Cover', landCovers) }}
{{ modificationsTable('Conservation Practices', conservationPractices) }}
