{% macro modificationsTable(caption, modifications) %}
<table class="modifications-table">
    <caption>{{ caption }}</caption>
    <tbody>
        {% for mod in modifications %}
            <tr>
                <td class="modification-value">
                    {{ modConfigUtils.getHumanReadableShortName(mod.get('value')) }}
                </td>
                <td class="modification-area">
                    +{{ mod.get('area').toFixed(1) }} {{ mod.get('units') }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{{ modificationsTable('Land Cover', landCovers) }}
{{ modificationsTable('Conservation Practices', conservationPractices) }}
