<div id="compare-new-dialog" class="modal-dialog">
    <div class="modal-content compare-modal-content">
        <div class="compare-header">
            <div class="compare-title">
                <h1>Compare</h1>
            </div>
            <div class="spinner hidden"></div>
            <div class="compare-close">
                <button>
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="compare-actions">
                <div class="compare-tabs">
                </div>
                <div class="compare-inputs">
                </div>
            </div>
        </div>
        <div class="compare-scenario-gradient"></div>
        <div class="compare-scenarios">
            <div class="compare-scenario-row-description">
                <h2>Scenarios</h2>
            </div>
            <div id="compare-title-row" class="compare-scenario-row-content-container">
            </div>
            <div class="compare-scenario-buttons">
                <button class="visible btn-prev-scenario">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button class="visible btn-next-scenario">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
        <div class="compare-sections polling"></div>
    </div>
</div>
