<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Model My Watershed</h2>
            <p class="version">
                Version {{ version }} (<a href="{{ releaseNotesUrl }}">Release Notes</a>)
            </p>
        </div>
        <div class="modal-body">
            <p>
                Model My Watershed is part of <a target="_blank" rel="noopener noreferrer" href="http://www.stroudcenter.org/">
                Stroud Water Research Center</a>'s <a target="_blank" rel="noopener noreferrer" href="https://wikiwatershed.org/">
                WikiWatershed</a> initiative. WikiWatershed is a web
                toolkit designed to support citizens, conservation
                practitioners, municipal decision-makers, researchers,
                educators, and students to collaboratively advance
                knowledge and stewardship of fresh water.
            </p>
            <ul>
                <li>Read more <a target="_blank" rel="noopener noreferrer" href="https://wikiwatershed.org/model/">about Model My Watershed</a></li>
                <li>Meet <a target="_blank" rel="noopener noreferrer" href="https://wikiwatershed.org/about/">the development team</a></li>
            </ul>
            <hr />
            <h5>With major funding from:</h5>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="http://www.williampennfoundation.org/"><img class="splash-sponsor-logo" src="/static/images/logo-wpf.png" alt="William Penn Foundation Logo" /></a>
                <a target="_blank" rel="noopener noreferrer" href="https://www.nsf.gov/"><img class="splash-sponsor-logo" src="/static/images/logo-nsf.png" alt="National Science Foundation Logo" /></a>
            </p>
            <p class="about-footer">
                <a class="open-tos-modal" href="#">Terms of Use</a> | <a class="open-privacy-modal" href="#">Privacy Policy</a> | <a class="open-cookie-modal" href="#">Cookie Policy</a>
            </p>
        </div>
    </div>
</div>
