<div class="modal-dialog modal-dialog-sm modal-popup">
    <div class="modal-content">
        <div class="modal-header">
          <h2>
            <i class={{ alertIcon }}></i>
            {{ alertHeader }}
          </h2>
        </div>
        <div class="modal-body">
          <p>{{ alertMessage }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-md btn-default" data-dismiss="modal">{{ dismissLabel }}</button>
        </div>
    </div>
</div>
