<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content {{ className }}">
        <div class="modal-body">
            {% if titleText %}
            <h2 class="modal-header">{{ titleText }}</h2>
            {% endif %}
            <p>{{ question }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">{{ cancelLabel }}</button>
            <button type="button" class="btn btn-md btn-active confirm" data-dismiss="modal">{{ confirmLabel }}</button>
        </div>
    </div>
</div>
