<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Model My Watershed® Cookie Policy</h2>
        </div>
        <div class="modal-body">
            <p>
                Our <a class="open-privacy-modal" href="#">Privacy Policy</a>
                explains our principles when it comes to the collection,
                processing, and storage of your information. This cookie policy
                specifically explains how we deploy cookies, as well as the
                options you have to control them.
            </p>
            <h2>What Are Cookies?</h2>
            <p>
                Cookies are small pieces of data, stored in text files, that
                are stored on your computer or other device when websites are
                loaded in a browser. They are widely used to “remember” you and
                your preferences, either for a single visit (through a “session
                cookie”) or for multiple repeat visits (using a “persistent
                cookie”). They ensure a consistent and efficient experience for
                visitors, and perform essential functions such as allowing
                users to register and remain logged in. Cookies may be set by
                the site that you are visiting (known as “first-party
                cookies”), or by third parties, such as those who serve content
                or provide advertising or analytics services on the website
                (“third-party cookies”).
            </p>
            <h2>Cookies Set by ModelMyWatershed.org</h2>
            <p>
                We use cookies for a number of different purposes. Some cookies
                are necessary for technical reasons, some enable a personalized
                experience for both visitors and registered users. Some of
                these cookies may be set when a page is loaded, or only when a
                visitor takes a particular action.
            </p>
            <h3>Forms-Related Cookies</h3>
            <p>
                When you submit data through a form, cookies may be set to
                remember your user details.
            </p>
            <h3>Third-Party Cookies</h3>
            <p>
                This site uses Google Analytics which is one of the most
                widespread and trusted analytics solutions on the web for
                helping us to understand how you use the site and ways that we
                can improve your experience. These cookies may track things
                such as how long you spend on the site and the pages that you
                visit so we can continue to produce engaging content. To ensure
                that Google Analytics does not store personally-identifying
                information from our websites, IP address anonymization is
                enabled and tracking of demographic and User-ID information is
                disabled. <a target="_blank" rel="noopener noreferrer"
                href="https://support.google.com/analytics/answer/6004245?hl=en">Visit
                this page</a> for more information on Google Analytics cookies.
            </p>
            <h2>Controlling Cookies</h2>
            <p>
                Visitors may wish to restrict the use of cookies, or completely
                prevent them from being set. Most browsers provide for ways to
                control cookie behavior such as the length of time they are
                stored &mdash; either through built-in functionality or by
                utilizing third-party plugins.
            </p>
            <p>
                <strong><em>
                    It’s important to note that restricting or disabling the
                    use of cookies can limit the functionality of websites, or
                    prevent them from working correctly at all.
                </em></strong>
            </p>
            <p>
                To find out more on how to manage and delete cookies, visit
                <a target="_blank" rel="noopener noreferrer"
                href="https://aboutcookies.org">aboutcookies.org</a>. For more
                details on advertising cookies, and how to manage them, visit
                <a target="_blank" rel="noopener noreferrer"
                href="https://youronlinechoices.eu">youronlinechoices.eu</a>
                (EU-based), or
                <a target="_blank" rel="noopener noreferrer"
                href="https://aboutads.info">aboutads.info</a> (US-based).
            </p>
            <p>
                Some specific opt-out programs are available here:
                <ul>
                    <li>
                        Quantcast - <a target="_blank" rel="noopener noreferrer"
                        href="https://www.quantcast.com/opt-out/">www.quantcast.com/opt-out/</a>
                    </li>
                    <li>
                        Google Analytics - <a target="_blank" rel="noopener noreferrer"
                        href="https://tools.google.com/dlpage/gaoptout">tools.google.com/dlpage/gaoptout</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>
