<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Create a free account to save your project!</h2>
        </div>
        <div class="modal-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">
                No thanks
            </button>
            <button type="button" class="btn btn-md btn-default" data-action="login">
                Login
            </button>
            <button type="button" class="btn btn-md btn-active" data-action="signup">
                Create an account
            </button>
        </div>
    </div>
</div>
