<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <form class="cwd-upload-form" action="/mmw/modeling/projects/{{ id }}/custom-weather-data/" method="POST" target="_blank">
        <div class="modal-header">
            <h2 class="light">Custom Weather Data</h2>
        </div>
        <div class="modal-body">
            <p>Select a file to upload.</p>
            <!-- TODO Add link to sample weather data -->
            <!-- https://github.com/WikiWatershed/model-my-watershed/issues/3287 -->
            <div class="custom-input-group">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
                <label class="modal-file-input-label">Select Weather CSV</label>
                <input class="modal-file-input" name="weather" type="file" required />
            </div>
            <label class="error"></label>
        </div>
        <div class="modal-footer" style="text-align: right;">
            <div class="footer-content">
                <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-md btn-active upload" data-dismiss="modal">Upload</button>
            </div>
        </div>
        </form>
    </div>
</div>
