<div class="hydroshare-modal modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="light">Export to HydroShare</h2>
        </div>
        <div class="modal-body">
            <p>
                To publish this project on HydroShare, please confirm the title
                and write an abstract.
            </p>
            <div>
                <label class="modal-text-input-label" for="hydroshare-title">Title</label>
                <input class="modal-text-input" name="hydroshare-title" type="text" id="hydroshare-title" required value="{{ title }}">
                {% if titleError %}
                    <span class="modal-text-input-error" id="hydroshare-title-error">Title is required.</span>
                {% endif %}
            </div>
            <div>
                <label class="modal-text-input-label" for="hydroshare-abstract">Abstract</label>
                <textarea class="modal-text-input" name="hydroshare-abstract" id="hydroshare-abstract" required rows="4">{{ abstract }}</textarea>
                {% if abstractError %}
                    <span class="modal-text-input-error" id="hydroshare-abstract-error">Abstract is required.</span>
                {% endif %}
            </div>
            <div>
                <label class="modal-text-input-label" for="hydroshare-keyword">Keywords <small>(optional)</small></label>
                <div class="input-group">
                    <input class="form-control modal-text-input" name="hydroshare-keyword" id="hydroshare-keyword" type="text">
                    <span class="input-group-btn">
                        <button class="btn btn-active" type="button" id="hydroshare-add-keyword">
                            Add keyword
                        </button>
                    </span>
                </div>
                <div id="hydroshare-keywords">
                    {% for keyword in keywords %}
                        <span class="hydroshare-keyword">
                            {{ keyword }}
                            <i class="fa fa-times hydroshare-keyword-delete" data-keyword="{{ keyword }}"></i>
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="modal-footer" style="text-align:right;">
            <div class="footer-content">
                <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-md btn-active" id="hydroshare-export-button">Export</button>
            </div>
        </div>
    </div>
</div>
