<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h2>{{ title }}</h2>
        </div>
        <div class="modal-body">
            <div class="custom-input-group">
                <label class="modal-text-input-label">{{ fieldLabel }}</label>
                <input class="modal-text-input" type="text" required value="{{ initial }}"/>
            </div>
            <label class="error"></label>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-md btn-active save">Save</button>
        </div>
    </div>
</div>
