<div class="multi-share-modal modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="light">Share your project</h2>
        </div>
        <div class="modal-body">
            <div class="custom-input-group">
                <div class="row toggle-row">
                    <h3>Link Sharing</h3>
                    <label class="pull-right toggle">
                        <input type="checkbox" id="share-enabled" {{ "checked" if not is_private }} />
                        <div class="toggle-switch"></div>
                    </label>
                </div>
                {% if not is_private %}
                    <p>Anyone with this link will be able to view this project</p>
                {% endif %}
                <div class="input-group {{ 'hidden' if is_private }}">
                    <input class="form-control" id="share-url" type="text" value="{{  url }}">
                    <span class="input-group-btn">
                        <button class="btn btn-primary copy" type="button" data-clipboard-target="#share-url">
                            <i class="fa fa-clipboard"></i> Copy
                        </button>
                    </span>
                </div>
            </div>
            <hr />
            <div class="custom-input-group">
                <div class="row toggle-row">
                    <h3>HydroShare Export</h3>
                    <label class="pull-right toggle">
                        <input type="checkbox" id="hydroshare-enabled" />
                        <div class="toggle-switch"></div>
                    </label>
                </div>
                <p>HydroShare is an online collaboration environment for sharing data, models, and code.</p>
                <p id="hydroshare-notification" class="{{ 'hidden' if user_has_authorized_hydroshare }}">
                    You will need to connect your HydroShare account to your
                    Model My Watershed account, or create a new HydroShare
                    account.
                </p>
            </div>
        </div>
        <div class="modal-footer" style="text-align:right;">
            <div class="footer-content">
                <button type="button" class="btn btn-md btn-active" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
