<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Model My Watershed® Privacy Policy</h2>
        </div>
        <div class="modal-body">
            <h2>Who We Are</h2>
            <p>
                Stroud™ Water Research Center operates <a target="_blank"
                rel="noopener noreferrer"
                href="http://modelmywatershed.org/">https://ModelMyWatershed.org</a>
                and may operate other websites. Stroud Water Research Center is
                located in Avondale, Pennsylvania, USA; for more information
                visit <a target="_blank" rel="noopener noreferrer"
                href="http://www.stroudcenter.org/">https://www.stroudcenter.org</a>.
            </p>
            <p>
                It is our policy to respect your privacy regarding any
                information we may collect while operating our websites.
            </p>
            <h2>What Personal Data We Collect and Why We Collect It</h2>
            <h3>Non-Personally-Identifying Information</h3>
            <p>
                Like most website operators, Stroud Water Research Center
                collects non-personally-identifying information of the sort
                that web browsers and servers typically make available, such as
                the browser type, language preference, referring site, and the
                date and time of each visitor request.
            </p>
            <p>
                Our purpose in collecting non-personally-identifying
                information is to better understand how our visitors use the
                website. From time to time, Stroud Water Research Center may
                release non-personally-identifying information in the
                aggregate, e.g., by publishing a report on trends in the usage
                of its website.
            </p>
            <h3>Personally-Identifying Information</h3>
            <p>
                Certain visitors to our websites choose to interact with Stroud
                Water Research Center in ways that require us to gather
                personally-identifying information. The amount and type of
                information that we gather depends on the nature of the
                interaction. For example, we ask visitors who sign up at
                <a target="_blank" rel="noopener noreferrer"
                href="http://modelmywatershed.org/">https://ModelMyWatershed.org</a>
                to provide a username and email address.
            </p>
            <p>
                Those who engage in transactions with Stroud Water Research
                Center are asked to provide additional information, including
                as necessary the personal and financial information required to
                process those transactions. In each case, Stroud Water Research
                Center collects such information only insofar as is necessary
                or appropriate to fulfill the purpose of the visitor's
                interaction with Stroud Water Research Center.
            </p>
            <p>
                Stroud Water Research Center does not disclose
                personally-identifying information other than as described
                below. Visitors can always refuse to supply
                personally-identifying information, with the caveat that it may
                prevent them from engaging in certain website-related
                activities.
            </p>
            <h4>Sharing Models</h4>
            <p>
                Members who register on ModelMyWatershed.org have the option of
                making their projects publicly accessible. If you want your
                project to be private, make sure to save it without choosing
                the “Make Public” option.
            </p>
            <h4>Media</h4>
            <p>
                If you upload images to the website, you should avoid uploading
                images with embedded location data (EXIF GPS) included.
                Visitors to the website can download and extract any location
                data from images on the website.
            </p>
            <h4>Contact Forms/Email Communications</h4>
            <p>
                Some visitors to Stroud Water Research Center websites choose
                to interact with us by submitting personally-identifying
                information through a contact form or by emailing an address
                administered by Stroud Water Research Center. Contact data is
                not stored in the website database but is transmitted via email
                to select Stroud Water Research Center employees and affiliated
                individuals who need to know that information in order to
                respond on Stroud Water Research Center’s behalf.
            </p>
            <h4>Cookies</h4>
            <p>
                A cookie is a string of information that a website stores on a
                visitor's computer, and that the visitor's browser provides to
                the website each time the visitor returns. Stroud Water
                Research Center uses cookies to help us identify and track
                visitors, their usage of our websites, and their website access
                preferences. For more information, please see our <a
                class="open-cookie-modal" href="#">Cookie Policy</a>.
            </p>
            <h4>Analytics</h4>
            <p>
                Stroud Water Research Center uses Google Analytics to collect
                statistics about the behavior of visitors to their websites. To
                ensure that Google Analytics does not store
                personally-identifying information from our websites, IP
                address anonymization is enabled and tracking of demographic
                and User-ID information is disabled. Stroud Water Research
                Center may display aggregated statistics publicly or provide
                them to others. Google Analytics data is retained indefinitely.
                To prevent your data from being used by Google Analytics, you
                may install a <a target="_blank" rel="noopener noreferrer"
                href="https://tools.google.com/dlpage/gaoptout">Google
                Analytics Opt-Out Browser Add-On</a>.
            </p>
            <h3>Protection of Certain Personally-Identifying Information</h3>
            <p>
                Stroud Water Research Center discloses potentially
                personally-identifying and personally-identifying information
                only to those of its employees, contractors, and affiliated
                organizations that (i) need to know that information in order
                to process it on our behalf or to provide services available at
                our websites, and (ii) that have agreed not to disclose it to
                others. Some of those employees, contractors, and affiliated
                organizations may be located outside of your home country; by
                using Stroud Water Research Center's website, you consent to
                the transfer of such information to them.
            </p>
            <p>
                Stroud Water Research Center will not rent or sell potentially
                personally-identifying and personally-identifying information
                to anyone. Other than to its employees, contractors, and
                affiliated organizations, as described above, Stroud Water
                Research Center discloses potentially personally-identifying
                and personally-identifying information only in response to a
                subpoena, court order or other governmental request, or when we
                believe in good faith that disclosure is reasonably necessary
                to protect the property or rights of Stroud Water Research
                Center, third parties, or the public at large.
            </p>
            <p>
                If you are a registered user of a Stroud Water Research Center
                website and have supplied your email address, we may
                occasionally send you an email to tell you about new features,
                solicit your feedback, or just keep you up to date with what's
                going on with us and our products. If you send us a request
                (for example via email or via one of our feedback mechanisms),
                we reserve the right to publish it in order to help us clarify
                or respond to your request or to help us support other users.
            </p>
            <p>
                Stroud Water Research Center takes all measures reasonably
                necessary to protect against the unauthorized access, use,
                alteration, or destruction of potentially
                personally-identifying and personally-identifying information.
            </p>
            <h3>Business Transfers</h3>
            <p>
                If Stroud Water Research Center, or substantially all of its
                assets, were acquired, or in the unlikely event that Stroud
                Water Research Center goes out of business or enters
                bankruptcy, user information would be one of the assets that is
                transferred or acquired by a third party. You acknowledge that
                such transfers may occur, and that any acquirer of Stroud Water
                Research Center may continue to use your personal information
                as set forth in this policy.
            </p>
            <h3>Privacy Policy Changes</h3>
            <p>
                Although most changes are likely to be minor, Stroud Water
                Research Center may change the Privacy Policy from time to
                time, and at our sole discretion. Stroud Water Research Center
                encourages visitors to frequently check this page for any
                changes to the Privacy Policy. If you have a
                ModelMyWatershed.org account, you might also receive an alert
                informing you of these changes. Your continued use of this site
                after any change in this Privacy Policy will constitute your
                acceptance of such change.
            </p>
            <p>
                For concerns about our privacy policy, please contact <a
                href="mailto:privacy@modelmywatershed.org">privacy@modelmywatershed.org</a>.
            </p>
        </div>
    </div>
</div>
