<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Model My Watershed® Terms of Use</h2>
        </div>
        <div class="modal-body">
            <p>
                The following terms and conditions govern all use of the <a
                target="_blank" rel="noopener noreferrer"
                href="http://modelmywatershed.org/">https://ModelMyWatershed.org</a>
                website and all content, services, and products available at or
                through the website (taken together, the Website). The Website
                is owned and operated by <a target="_blank" rel="noopener
                noreferrer" href="https://wikiwatershed.org/">Stroud™ Water
                Research Center</a>. The Website is offered subject to your
                acceptance without modification of all of the terms and
                conditions contained herein and all other operating rules,
                policies (including, without limitation, our <a
                class="open-privacy-modal" href="#">Privacy Policy</a>) and
                procedures that may be published from time to time on this
                Website by Stroud Water Research Center (collectively, the
                "Agreement").
            </p>
            <p>
                Please read this Agreement carefully before accessing or using
                the Website. By accessing or using any part of the Website, you
                agree to become bound by the terms and conditions of this
                agreement. If you do not agree to all the terms and conditions
                of this agreement, then you may not access the Website or use
                any services.
            </p>
            <ol>
                <li>
                    <strong>Your ModelMyWatershed.org account.</strong>
                    If you create an account on the Website, you are
                    responsible for maintaining the security of your account,
                    and you are fully responsible for all activities that occur
                    under your account. You must not describe or assign
                    keywords to your account in a misleading or unlawful
                    manner, including in a manner intended to trade on the name
                    or reputation of others, and Stroud Water Research Center
                    may change or remove any description or keyword that it
                    considers inappropriate or unlawful, or otherwise likely to
                    cause Stroud Water Research Center liability. You must
                    immediately notify Stroud Water Research Center of any
                    unauthorized uses of your account or any other breaches of
                    security. Stroud Water Research Center will not be liable
                    for any acts or omissions by You, including any damages of
                    any kind incurred as a result of such acts or omissions.
                </li>
                <li>
                    <strong>Responsibility of Contributors.</strong>
                    If you post material to the Website or otherwise make (or
                    allow any third party to make) material available by means
                    of the Website (any such material, "Content"), You are
                    entirely responsible for the content of, and any harm
                    resulting from, that Content. That is the case regardless
                    of whether the Content in question constitutes text,
                    graphics, an audio file, or computer software. By making
                    Content available, you represent and warrant that:
                    <ul>
                        <li>
                            all of the data you post to this site will be made
                            public according to the Creative Commons
                            Attribution ShareAlike License (CC BY-SA).
                        </li>
                        <li>
                            the downloading, copying, and use of the Content
                            will not infringe the proprietary rights, including
                            but not limited to the copyright, patent, trademark
                            or trade secret rights, of any third party;
                        </li>
                        <li>
                            if your employer has rights to intellectual
                            property you create, you have either (i) received
                            permission from your employer to post or make
                            available the Content, including but not limited to
                            any software, or (ii) secured from your employer a
                            waiver as to all rights in or to the Content;
                        </li>
                        <li>
                            you have fully complied with any third-party
                            licenses relating to the Content, and have done all
                            things necessary to successfully pass through to
                            end users any required terms;
                        </li>
                        <li>
                            the Content does not contain or install any
                            viruses, worms, malware, Trojan horses, or other
                            harmful or destructive content;
                        </li>
                        <li>
                            the Content is not spam, is not machine- or
                            randomly-generated, and does not contain unethical
                            or unwanted commercial content designed to drive
                            traffic to third-party sites or boost the search
                            engine rankings of third-party sites, or to further
                            unlawful acts (such as phishing) or mislead
                            recipients as to the source of the material (such
                            as spoofing);
                        </li>
                        <li>
                            the Content is not pornographic, does not contain
                            threats or incite violence towards individuals or
                            entities, and does not violate the privacy or
                            publicity rights of any third party;
                        </li>
                        <li>
                            your account is not getting advertised via unwanted
                            electronic messages such as spam links on
                            newsgroups, email lists, other blogs and web sites,
                            and similar unsolicited promotional methods;
                        </li>
                        <li>
                            your account is not named in a manner that misleads
                            your readers into thinking that you are another
                            person or company. For example, your account's URL
                            or name is not the name of a person other than
                            yourself or company other than your own; and
                        </li>
                        <li>
                            you have, in the case of Content that includes
                            computer code, accurately categorized and/or
                            described the type, nature, uses, and effects of
                            the materials, whether requested to do so by Stroud
                            Water Research Center or otherwise.
                        </li>
                    </ul>
                </li>
                <li>
                    By submitting Content to Stroud Water Research Center for
                    inclusion on your account, you grant Stroud Water Research
                    Center a world-wide, royalty-free, and non-exclusive
                    license to reproduce, modify, adapt, and publish the
                    Content solely for the purpose of displaying, distributing,
                    and promoting the Website. If you delete Content, Stroud
                    Water Research Center will use reasonable efforts to remove
                    it from the Website, but you acknowledge that caching or
                    references to the Content may not be made immediately
                    unavailable.
                </li>
                <li>
                    Without limiting any of those representations or
                    warranties, Stroud Water Research Center has the right
                    (though not the obligation) to, in Stroud Water Research
                    Center's sole discretion (i) refuse or remove any content
                    that, in Stroud Water Research Center's reasonable opinion,
                    violates any Stroud Water Research Center policy or is in
                    any way harmful or objectionable, or (ii) terminate or deny
                    access to and use of the Website to any individual or
                    entity for any reason, in Stroud Water Research Center's
                    sole discretion. Stroud Water Research Center will have no
                    obligation to provide a refund of any amounts previously
                    paid.
                </li>
                <li>
                    <strong>Responsibility of Website Visitors.</strong>
                    Stroud Water Research Center has not reviewed, and cannot
                    review, all of the material, including computer software,
                    posted to the Website, and cannot therefore be responsible
                    for that material's content, use or effects. By operating
                    the Website, Stroud Water Research Center does not
                    represent or imply that they endorse the material there
                    posted, or that they believe such material to be accurate,
                    useful, or non-harmful. You are responsible for taking
                    precautions as necessary to protect yourself and your
                    computer systems from viruses, worms, Trojan horses, and
                    other harmful or destructive content. The Website may
                    contain content that is offensive, indecent, or otherwise
                    objectionable, as well as content containing technical
                    inaccuracies, typographical mistakes, and other errors. The
                    Website may also contain material that violates the privacy
                    or publicity rights, or infringes the intellectual property
                    and other proprietary rights, of third parties, or the
                    downloading, copying or use of which is subject to
                    additional terms and conditions, stated or unstated. Stroud
                    Water Research Center disclaims any responsibility for any
                    harm resulting from the use by visitors of the Website, or
                    from any downloading by those visitors of content there
                    posted.
                </li>
                <li>
                    <strong>Content Posted on Other Websites.</strong>
                    We have not reviewed, and cannot review, all of the
                    material, including computer software, made available
                    through the websites and web pages to which
                    ModelMyWatershed.org links, and that link to
                    ModelMyWatershed.org. Stroud Water Research Center does not
                    have any control over those non-Stroud Water Research
                    Center websites and web pages, and are not responsible for
                    their contents or their use. By linking to a non-Stroud
                    Water Research Center website or web page, Stroud Water
                    Research Center does not represent or imply that it
                    endorses such website or web page. You are responsible for
                    taking precautions as necessary to protect yourself and
                    your computer systems from viruses, worms, Trojan horses,
                    and other harmful or destructive content. Stroud Water
                    Research Center disclaims any responsibility for any harm
                    resulting from your use of non-Stroud Water Research Center
                    websites and web pages.
                </li>
                <li>
                    <strong>Copyright Infringement and DMCA Policy.</strong>
                    As Stroud Water Research Center asks others to respect its
                    intellectual property rights, they respect the intellectual
                    property rights of others. If you believe that material
                    located on or linked to by ModelMyWatershed.org violates
                    your copyright, you are encouraged to notify Stroud Water
                    Research Center in accordance with Stroud Water Research
                    Center's <a target="_blank" rel="noopener noreferrer"
                    href="https://wikiwatershed.org/dmca/">Digital
                    Millennium Copyright Act ("DMCA") Policy</a>. Stroud Water
                    Research Center will respond to all such notices, including
                    as required or appropriate by removing the infringing
                    material or disabling all links to the infringing material.
                    Stroud Water Research Center will terminate a visitor's
                    access to and use of the Website if, under appropriate
                    circumstances, the visitor is determined to be a repeat
                    infringer of the copyrights or other intellectual property
                    rights of Stroud Water Research Center or others. In the
                    case of such termination, Stroud Water Research Center will
                    have no obligation to provide a refund of any amounts
                    previously paid to Stroud Water Research Center.
                </li>
                <li>
                    <strong>Intellectual Property.</strong>
                    This Agreement does not transfer from Stroud Water Research
                    Center to you any Stroud Water Research Center or
                    third-party intellectual property, and all right, title,
                    and interest in and to such property will remain (as
                    between the parties) solely with Stroud Water Research
                    Center. Stroud Water Research Center, EnviroDIY, Leaf Pack
                    Network, Model My Watershed, Monitor My Watershed,
                    WikiWatershed, and all other trademarks, service marks,
                    graphics, and logos used in connection with the websites
                    named above are trademarks or registered trademarks of
                    Stroud Water Research Center. Other trademarks, service
                    marks, graphics, and logos used in connection with the
                    Website are the property of their respective holders. Your
                    use of the Website grants you no right or license to
                    reproduce or otherwise use any Stroud Water Research Center
                    or third-party trademarks.
                </li>
                <li>
                    <strong>Changes.</strong>
                    Stroud Water Research Center reserves the right, at its
                    sole discretion, to modify or replace any part of this
                    Agreement. It is your responsibility to check this
                    Agreement periodically for changes. Your continued use of
                    or access to the Website following the posting of any
                    changes to this Agreement constitutes acceptance of those
                    changes. Stroud Water Research Center may also, in the
                    future, offer new services and/or features through the
                    Website (including the release of new tools and resources).
                    Such new features and/or services shall be subject to the
                    terms and conditions of this Agreement.
                </li>
                <li>
                    <strong>Termination.</strong>
                    Stroud Water Research Center may terminate your access to
                    all or any part of the Website at any time, with or without
                    cause, with or without notice, effective immediately. If
                    you wish to terminate this Agreement or your
                    ModelMyWatershed.org account (if you have one), you may
                    simply discontinue using the Website. Notwithstanding the
                    foregoing, if you have a paid services account, such
                    account can only be terminated by Stroud Water Research
                    Center if you materially breach this Agreement and fail to
                    cure such breach within thirty (30) days from Stroud Water
                    Research Center's notice to you thereof; provided that,
                    Stroud Water Research Center can terminate the Website
                    immediately as part of a general shut down of our service.
                    All provisions of this Agreement which by their nature
                    should survive termination shall survive termination,
                    including, without limitation, ownership provisions,
                    warranty disclaimers, indemnity and limitations of
                    liability.
                </li>
                <li>
                    <strong>Disclaimer of Warranties.</strong>
                    The Website is provided "as is." Stroud Water Research
                    Center and its suppliers and licensors hereby disclaim all
                    warranties of any kind, express or implied, including,
                    without limitation, the warranties of merchantability,
                    fitness for a particular purpose and non-infringement.
                    Neither Stroud Water Research Center, nor its suppliers and
                    licensors, make any warranty that the Website will be error
                    free or that access thereto will be continuous or
                    uninterrupted. You understand that you download from, or
                    otherwise obtain content or services through, the Website
                    at your own discretion and risk.
                </li>
                <li>
                    <strong>Limitation of Liability.</strong>
                    In no event will Stroud Water Research Center, or its
                    suppliers or licensors, be liable with respect to any
                    subject matter of this agreement under any contract,
                    negligence, strict liability, or other legal or equitable
                    theory for: (i) any special, incidental, or consequential
                    damages; (ii) the cost of procurement for substitute
                    products or services; (iii) for interruption of use or loss
                    or corruption of data; or (iv) for any amounts that exceed
                    the fees paid by you to Stroud Water Research Center under
                    this agreement during the twelve (12) month period prior to
                    the cause of action. Stroud Water Research Center shall
                    have no liability for any failure or delay due to matters
                    beyond their reasonable control. The foregoing shall not
                    apply to the extent prohibited by applicable law.
                </li>
                <li>
                    <strong>General Representation and Warranty.</strong>
                    You represent and warrant that (i) your use of the Website
                    will be in strict accordance with Stroud Water Research
                    Center’s Privacy Policy, with this Agreement, and with all
                    applicable laws and regulations (including without
                    limitation any local laws or regulations in your country,
                    state, city, or other governmental area, regarding online
                    conduct and acceptable content, and including all
                    applicable laws regarding the transmission of technical
                    data exported from the United States or the country in
                    which you reside) and (ii) your use of the Website will not
                    infringe or misappropriate the intellectual property rights
                    of any third party.
                </li>
                <li>
                    <strong>Indemnification.</strong>
                    You agree to indemnify and hold harmless Stroud Water
                    Research Center, its contractors and its licensors, and
                    their respective directors, officers, employees, and agents
                    from and against any and all claims and expenses, including
                    attorneys' fees, arising out of your use of the Website,
                    including but not limited to your violation of this
                    Agreement.
                </li>
                <li>
                    <strong>Miscellaneous.</strong>
                    This Agreement constitutes the entire agreement between
                    Stroud Water Research Center and you concerning the subject
                    matter hereof, and they may only be modified by a written
                    amendment signed by an authorized executive of Stroud Water
                    Research Center, or by the posting by Stroud Water Research
                    Center of a revised version. Except to the extent
                    applicable law, if any, provides otherwise, this Agreement,
                    any access to or use of the Website will be governed by the
                    laws of the state of Pennsylvania, U.S.A., excluding its
                    conflict of law provisions, and the proper venue for any
                    disputes arising out of or relating to any of the same will
                    be the state and federal courts located in Chester County,
                    Pennsylvania. Except for claims for injunctive or equitable
                    relief or claims regarding intellectual property rights
                    (which may be brought in any competent court without the
                    posting of a bond), any dispute concerning the operation or
                    performance of this agreement arises, the parties agree to
                    first make good faith efforts to resolve that dispute by
                    negotiation between the parties. In the event the dispute
                    cannot be resolved by good faith negotiation, the parties
                    agree to submit their dispute to binding arbitration in
                    Wilmington, Delaware, under such rules of procedure that
                    will permit both parties to fully discover and present all
                    facts relevant to full and fair resolution of the dispute.
                    The parties agree that the purpose and intention of this
                    arbitration term is to advance the least time-consuming and
                    least expensive means of resolving any dispute that may
                    arise between the parties. The prevailing party in any
                    action or proceeding to enforce this Agreement shall be
                    entitled to costs and attorneys' fees. If any part of this
                    Agreement is held invalid or unenforceable, that part will
                    be construed to reflect the parties' original intent, and
                    the remaining portions will remain in full force and
                    effect. A waiver by either party of any term or condition
                    of this Agreement or any breach thereof, in any one
                    instance, will not waive such term or condition or any
                    subsequent breach thereof. You may assign your rights under
                    this Agreement to any party that consents to, and agrees to
                    be bound by, its terms and conditions; Stroud Water
                    Research Center may assign its rights under this Agreement
                    without condition. This Agreement will be binding upon and
                    will inure to the benefit of the parties, their successors
                    and permitted assigns.
                </li>
            </ol>
        </div>
    </div>
</div>
