<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            <th rowspan="2" class="subbasin-source-col" data-sortable="true" data-sorter="window.numericSort">Sources</th>
            <th rowspan="2" data-sortable="true" data-sorter="window.numericSort">Area ({{ areaUnit }})</th>
            <th colspan="3">Total Loads (not normalized)</th>
            <th colspan="3">Loading Rates (area normalized)</th>
        </tr>
        <tr>
            <th data-sortable="true" data-sorter="window.numericSort">Sediment ({{ massPerTimeUnit }})</th>
            <th data-sortable="true" data-sorter="window.numericSort">Total Nitrogen ({{ massPerTimeUnit }})</th>
            <th data-sortable="true" data-sorter="window.numericSort">Total Phosphorus ({{ massPerTimeUnit }})</th>
            <th data-sortable="true" data-sorter="window.numericSort">Sediment ({{ massPerAreaUnit }})</th>
            <th data-sortable="true" data-sorter="window.numericSort">Total Nitrogen ({{ massPerAreaUnit }})</th>
            <th data-sortable="true" data-sorter="window.numericSort">Total Phosphorus ({{ massPerAreaUnit }})</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td class="text-left">{{ row.Source }}</td>
                <td class="strong text-right">{{ row.Area|toUnit(areaDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ row.Sediment|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ row.TotalN|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ row.TotalP|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ ((row.Sediment/row.Area) or 0)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ ((row.TotalN/row.Area) or 0)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</td>
                <td class="strong text-right">{{ ((row.TotalP/row.Area) or 0)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th class="text-left">{{ summaryRow.Source }}</th>
            <th class="text-right">{{ summaryRow.Area|toUnit(areaDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ summaryRow.Sediment|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ summaryRow.TotalN|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ summaryRow.TotalP|toUnit(massPerTimeDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ (summaryRow.Sediment/summaryRow.Area)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ (summaryRow.TotalN/summaryRow.Area)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</th>
            <th class="text-right">{{ (summaryRow.TotalP/summaryRow.Area)|toUnit(massPerAreaDisplayUnit)|round(2)|toLocaleString(2) }}</th>
        </tr>
    </tfoot>

</table>

<div class="downloadcsv-link" data-action="download-csv">
    <i class="fa fa-download"></i> Download this data
</div>
