<div id="delineate-shape" class="dropdown menu-left">
  <button class="btn btn-md btn-search-tool dropdown-toggle {{ 'disabled' if not toolsEnabled }}"
      type="button" data-toggle="dropdown" aria-expanded="true">
    {% if polling %}
        <i class="fa fa-circle-o-notch fa-spin"></i>
    {% endif %}
    {% if pollError %}
        <i class="fa fa-exclamation-triangle"></i>
    {% endif %}
    Delineate Watershed
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu menu-left" role="menu">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#" data-shape-type="stream" data-snapping-on="true" data-data-source={{DRB}}>
        <span>DRB Stream Network</span> <i class="split fa fa-question-circle"
          data-content="This automatically snaps to the nearest point on a perennial stream and calculates the watershed boundaries for the stream and its tributaries upstream of the selected point."></i>
      </a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#" data-shape-type="stream" data-snapping-on="true" data-data-source={{NHD}}>
        <span style="width: 250px">NHD Mid-Atlantic Stream Network</span> <i class="split fa fa-question-circle"
          data-content="This automatically snaps to the nearest point on a perennial stream and calculates the watershed boundaries for the stream and its tributaries upstream of the selected point."></i>
      </a>
    </li>
    <!-- Hill Slope is disabled currently
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#" data-shape-type="slope" data-snapping-on="false">
        <span>Hill Slope</span> <i class="split fa fa-question-circle"
          data-content="This selects the area contributing water to the exact point selected, regardless of whether the selected point is within a stream channel."></i>
      </a>
    </li>
    -->
  </ul>
</div>
