<div id="draw-shape" class="dropdown menu-left">
  <button class="btn btn-md btn-search-tool dropdown-toggle {{ 'disabled' if not toolsEnabled }}"
      {{ 'disabled' if not toolsEnabled }} type="button" data-toggle="dropdown" aria-expanded="true">
      Draw Area
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu menu-left" role="menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="custom-shape">Draw Area</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" id="one-km-stamp">Draw Square Km</a></li>
  </ul>
</div>
