<div>
    <div class="btn-group draw-button-group {{ 'open' if openDrawTool == toolData.id }}">
        <button class="btn btn-lg btn-block draw-tool-button dropdown-toggle {% if activeTitle %} -hasselection {% endif %}"
            type="button" aria-haspopup="true" aria-expanded="false" {{ 'disabled' if not isInConus and toolData.id == 'selectBoundary' }}>
            <p class="draw-button-title pull-left">
                {{ toolData.title }}
                {% if not isInConus and toolData.id == 'selectBoundary' %}
                &mdash; Only within Continental US
                {% endif %}
            </p>
            <span class="draw-button-icon caret pull-right"></span>
            <p class="draw-button-subtitle pull-left">
                {{ toolData.info }}
            </p>
        </button>
        <ul class="dropdown-menu draw-pane-list">
            {% for item in toolData.items %}
                <li class="draw-pane-list-item" role="presentation">
                    <button class="draw-pane-list-item-button" role="button" tabindex="-1"
                          data-min-zoom="{{ item.minZoom }}"
                          href="#" id="{{ item.id }}"
                          {%- if (currentZoomLevel < item.minZoom) or (item.conusOnly and not isInConus) %}
                          disabled
                          {% endif -%}>
                        {{ item.title }}
                        {% if currentZoomLevel < item.minZoom %}
                        &mdash; Zoom in to use
                        {% endif %}
                        {% if item.conusOnly and not isInConus %}
                        &mdash; Only within Continental US
                        {% endif %}
                    </button>
                    <a class="help pull-right" data-toggle="popover" tabindex="0" data-html="true"
                        data-container="body" role="button" data-content="{{ item.info | safe }}"
                        data-template="<div class='popover'><div class='pull-right'
                            id='popover-close-button'><i class='fa fa-times' /></div><div
                            class='popover-content'></div><div class='arrow'></div></div>">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
                {% if not loop.last %}
                    <li role="separator" class="divider"></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% if activeTitle %}
        <div class="draw-tool-selection">
            <i class="fa fa-times pull-right reset-draw-button"></i>
            {{ activeTitle }}: {{ activeDirections }}
            {% if polling %}
                <i class="fa fa-circle-o-notch pull-right fa-spin"></i>
            {% endif %}
            {% if pollError %}
                <i class="fa fa-exclamation-triangle pull-right"></i>
            {% endif %}
        </div>
    {% endif %}
</div>
