<div id="delineate-shape" class="dropdown menu-left">
  <button class="btn btn-md btn-search-tool dropdown-toggle<% if (!toolsEnabled) { %> disabled<% } %>"
      type="button" data-toggle="dropdown" aria-expanded="true">
    Delineate Watershed
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu menu-left" role="menu" aria-labelledby="select-area">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-shape-type="slope">Hill Slope</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-shape-type="stream">Stream Network</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-shape-type="flow">Trace Flow Down</a></li>
  </ul>
</div>
