<div id="predefined-shape" class="dropdown">
  <button class="btn btn-md btn-search-tool dropdown-toggle<% if (!toolsEnabled) { %> disabled<% } %>"
      type="button" data-toggle="dropdown" aria-expanded="true">
    Select Area
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu menu-left" role="menu" aria-labelledby="select-area">
  <% _.each(predefinedShapes, function(item) { %>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#" data-shape-id="<%- item.id %>"><%- item.name %></a></li>
  <% }) %>
  </ul>
</div>
