<ul class="draw-pane-list">
{% for item in predefinedShapeTypes %}
    <li class="draw-pane-list-item" role="presentation">
      <button class="draw-pane-list-item-button" role="button"
          tabindex="-1" href="#"
          data-tile-url="{{ item.url }}"
          data-layer-code="{{ item.code }}"
          data-short-display="{{ item.short_display }}"
          data-min-zoom="{{ item.minZoom }}"
          {{ "disabled" if item.minZoom > currentZoomLevel }}>
          <span>
            {{ item.display }}
          </span>
      </button>
      <a class="help" data-toggle="popover" tabindex="0"
         role="button" data-content="{{ item.helptext }}">
        <i class="fa fa-question-circle"></i>
      </a>
    </li>
{% endfor %}
</ul>
