<h1>
    {{ splashPageText.heading }}
</h1>

<p>
    {{ splashPageText.subheading }}
</p>

<div class="splash-step">
    <h2>
        <span class="badge">
            1
        </span>
        {{ splashPageText.drawToolOneName }}
    </h2>
    <p>
        {{ splashPageText.drawToolOneDescription }}
    </p>
</div>
<div class="splash-step">
    <h2>
        <span class="badge">
            2
        </span>
        {{ splashPageText.drawToolTwoName }}
    </h2>
    <p>
        {{ splashPageText.drawToolTwoDescription }}
    </p>
</div>
<div class="splash-step">
    <h2>
        <span class="badge">
            3
        </span>
        {{ splashPageText.drawToolThreeName }}
    </h2>
    <p>
        {{ splashPageText.drawToolThreeDescription }}
    </p>
</div>

<a target="_blank" href="http://www.stroudcenter.org/"><img class="splash-logo" src="/static/images/logo-stroud.png" alt="Stroud Logo" /></a>
<a target="_blank" href="http://www.wikiwatershed.org/"><img class="splash-logo" src="/static/images/logo-wikiwatershed.png" alt="WikiWatershed Logo" /></a>

<hr/>

<button id="get-started" class="btn btn-active btn-lg btn-block" type="button">
    {{ splashPageText.getStartedButtonTitle }}
    <i class="fa fa-arrow-right"></i>
</button>

{% if dataCatalogEnabled %}
<button class="btn btn-link btn-block">
    <a href="{{ splashPageText.bigCZLink }}">
        {{ splashPageText.bigCZLinkTitle }}
    </a>
</button>
{% else %}
<button id="splash-open-project" class="btn btn-link btn-block">
    {{ splashPageText.openProjectButtonTitle }}
</button>
{% endif %}
