<h1>
    Model stormwater and its impact on an area
</h1>

<p>
    Analyze real geo-data, model storms, and compare conservation or development scenarios in a watershed.
</p>

<div class="splash-step">
    <h2><span class="badge">1</span>Select Area</h2>
    <p>
        Select an area to analyze on model...
    </p>
</div>
<div class="splash-step">
    <h2><span class="badge">2</span>Analyze</h2>
    <p>
        See summary statistics of the area you selected...
    </p>
</div>
<div class="splash-step">
    <h2><span class="badge">3</span>Model</h2>
    <p>
        Simulate how that area behaves under different scenarios...
    </p>
</div>

<a target="_blank" href="http://www.stroudcenter.org/"><img class="splash-logo" src="/static/images/logo-stroud.png" alt="Stroud Logo" /></a>
<a target="_blank" href="http://www.wikiwatershed.org/"><img class="splash-logo" src="/static/images/logo-wikiwatershed.png" alt="WikiWatershed Logo" /></a>

<hr/>

<button id="get-started" class="btn btn-active btn-lg btn-block" type="button">
    Get started <i class="fa fa-arrow-right"></i>
</button>

<button id="splash-open-project" class="btn btn-link btn-block">Open Project</button>
