<h1>Select Area</h1>
<p id="draw-pane-header-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis ac pharetra nibh. Nullam gravida massa non egestas
    pellentesque.
</p>
<div id="draw-pane-buttons">
    {% for drawTool in drawTools %}
        <div class="btn btn-lg btn-block draw-tool-button" type="button"
            data-toggle="dropdown" aria-expanded="true"
            id={{ drawTool.button }}>
            <p class="draw-button-title pull-left">
                {{ drawTool.name }}
            </p>
            <span class="draw-button-icon caret pull-right"></span>
            <br />
            <p class="draw-button-subtitle pull-left">
                Lorem ipsum dolor sit amet, consectetur
            </p>
        </div>
        {% if activeDrawTool == drawTool.id %}
            <div class="draw-tool-button-slideout" aria-expanded="true">
                <i class="fa fa-times pull-right reset-draw-button"></i>
                <div id={{ drawTool.region }}></div>
            </div>
        {% endif %}
    {% endfor %}
</div>
