<h2>Select Area</h2>
<p id="draw-pane-header-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis ac pharetra nibh. Nullam gravida massa non egestas
    pellentesque. More information and help for these tools
    is available <a href="http://wikiwatershed.org/model/" target="_blank">
    here</a>.
</p>
<div id="draw-pane-buttons">
    <div id="select-boundary-region"></div>
    <div id="draw-area-region"></div>
    <div id="watershed-delineation-region"></div>
    <div id="upload-file-region"></div>
</div>
