<h2>Select Area</h2>
<p id="draw-pane-header-description">
    {{ selectAreaText.headerDescription }} See <a href="https://wikiwatershed.org/documentation/mmw-tech/#layers-viewable-mapped-data" target="_blank" rel="noreferrer noopener">
        our documentation on layers</a>.
</p>
<p>
    {{ selectAreaText.selectAreaExplanation }}
</p>
<div id="draw-pane-buttons">
    <div id="select-boundary-region"></div>
    <div id="draw-area-region"></div>
    <div id="watershed-delineation-region"></div>
    <div id="drainage-area-region"></div>
    <div id="upload-file-region"></div>
</div>
