//Base Colors
$black-06: rgba(0,0,0,.06);
$black-12: rgba(0,0,0,.12);
$black-24: rgba(0,0,0,.24);
$black-39: rgba(0,0,0,.39);
$black-54: rgba(0,0,0,.54);
$black-65: rgba(0,0,0,.65);
$black-74: rgba(0,0,0,.74);
$black: #000000;
$paper-12: rgba(255,255,255,.12);
$paper-54: rgba(255,255,255,.54);
$paper-74: rgba(255,255,255,.74);
$paper: #ffffff;

//Custom Colors
$ui-primary: #273238; /*Dark Grey*/
$ui-secondary: #394750; /*Medium Grey*/
$ui-light: #eceff1; /*Light Grey*/
$ui-grey: #787878 ; /* Output Tab Bar */
$ui-danger: #e0412d; /*Errors*/
$active: #51dec2; /*Bright*/
$brand-primary: #389b9b; /*Teal*/
$sky-blue: #bbe5f5; /*Sky*/
$water: #49b8ea; /*Water*/
$et: #c2d33c; /*Evapotranspiration*/
$i: #f8aa00; /*Infiltration*/
$r: #cf4300; /*Runoff*/

//Heights
$footer-height: 55%;
$location-description-height: 68px;
$toolbar-height: 60px;
$output-height: 50px;
$height-lg: 44px;
$height-md: 36px;
$height-sm: 28px;
$height-xs: 18px;
$sidebar-width: 460px;
$sidebar-header-height: 40px;
$sidebar-tab-subheader-height: 60px;

//Border-radius
$radius-sm: 2px;

//NLCD
$nlcd-11: #5475A8;
$nlcd-21: #E8D1D1;
$nlcd-22: #E29E8C;
$nlcd-23: #ff0000;
$nlcd-24: #B50000;
$nlcd-31: #D2CDC0;
$nlcd-41: #85C77E;
$nlcd-52: #DCCA8F;
$nlcd-71: #FDE9AA;
$nlcd-81: #FBF65D;
$nlcd-82: #CA9146;
$nlcd-90: #C8E6F8;

//Hydrologic Soil Groups
$soil-a: #ffffd4;
$soil-b: #fee391;
$soil-c: #fec44f;
$soil-d: #8c2d04;
$soil-ad: #fe9929;
$soil-bd: #ec7014;
$soil-cd: #cc4c02;

//Type
$font-family: 'Roboto', helvetica, arial, sans-serif;
$font-h1: 1.5rem;
$font-h2: 1rem;
$font-h3: 0.7rem;
