//Base Colors
$black-06: rgba(0,0,0,.06);
$black-12: rgba(0,0,0,.12);
$black-24: rgba(0,0,0,.24);
$black-39: rgba(0,0,0,.39);
$black-54: rgba(0,0,0,.54);
$black-65: rgba(0,0,0,.65);
$black-74: rgba(0,0,0,.74);
$black: #000000;
$paper-12: rgba(255,255,255,.12);
$paper-54: rgba(255,255,255,.54);
$paper-74: rgba(255,255,255,.74);
$paper: #ffffff;

//Custom Colors
$ui-primary: #273238; /*Dark Grey*/
$ui-secondary: #394750; /*Medium Grey*/
$ui-light: #eceff1; /*Light Grey*/
$ui-medium-light: #BDBDBD; /* Medium Light Grey */
$ui-grey: #787878 ; /* Output Tab Bar */
$ui-danger: #e0412d; /*Errors*/
$ui-danger-18: rgba(224, 65, 45, 0.18); /* Error Background */
$ui-warning: #e4b72f; /*Warnings*/
$active: #51dec2; /*Bright*/
$brand-primary: #389b9b; /*Teal*/
$brand-primary-border: #318888; /* Slightly Darker Teal */
$sky-blue: #bbe5f5; /*Sky*/
$water: #49b8ea; /*Water*/
$et: #2d8bff; /*Evapotranspiration*/
$i: #f2cf46; /*Infiltration*/
$r: #ed3b3b; /*Runoff*/

//Heights
$location-description-height: 68px;
$aoi-header-height: 54px;
$output-height: 50px;
$height-xl: 47px;
$height-lg: 44px;
$height-md: 36px;
$height-sm: 28px;
$height-xs: 18px;
$sidebar-header-height: 21px;
$analyze-tab-height: 40px;

//Widths
$sidebar-width: 460px;
$secondary-sidebar-width: 300px;
$layerpicker-width: 240px;
$search-width: 300px;

//Border-radius
$radius-sm: 2px;

$map-controls-margin: 12px;

$nlcdColors: (
    11: #5475A8,
    12: #FFFFFF,
    21: #E8D1D1,
    22: #E29E8C,
    23: #ff0000,
    24: #B50000,
    31: #D2CDC0,
    41: #85C77E,
    42: #38814E,
    43: #D4E7B0,
    52: #DCCA8F,
    71: #FDE9AA,
    81: #FBF65D,
    82: #CA9146,
    90: #C8E6F8,
    95: #64B3D5,
);

@each $id, $color in $nlcdColors {
  .nlcd-#{$id} {
    background-color: $color;
  }
}

$ioLulcColors: (
    1: #419bdf,  // Water
    2: #397d49,  // Trees
    4: #7a87c6,  // Flooded vegetation
    5: #e49635,  // Crops
    7: #c4281b,  // Built area
    8: #a59b8f,  // Bare ground
    9: #a8ebff,  // Snow/ice
    10: #616161, // Clouds
    11: #e3e2c3, // Rangeland
);

@each $id, $color in $ioLulcColors {
  .io-lulc-#{$id} {
    background-color: $color;
  }
}

$protectedLandsColors: (
    pra_f: #AFB42B, /* Park or Recreation Area - Federal */
    pra_s: #C0CA33, /* Park or Recreation Area - State */
    pra_l: #CDDC39, /* Park or Recreation Area - Local */
    pra_p: #D4E157, /* Park or Recreation Area - Private */
    pra_u: #E6EE9C, /* Park or Recreation Area - Unknown */
    nra_f: #388E3C, /* Natural Resource Area - Federal */
    nra_s: #43A047, /* Natural Resource Area - State */
    nra_l: #4CAF50, /* Natural Resource Area - Local */
    nra_p: #66BB6A, /* Natural Resource Area - Private */
    nra_u: #A5D6A7, /* Natural Resource Area - Unknown */
    con_ease: #9E9446, /* Conservation Easement - Originally #827717, changed for distinguishability */
    ag_ease: #8D6E63, /* Agricultural Easement */
);

@each $id, $color in $protectedLandsColors {
  .protected-lands-#{$id} {
    background-color: $color;
  }
}

//Hydrologic Soil Groups
$soilColors: (
    a: #ffffd4,
    b: #fee391,
    c: #fec44f,
    d: #8c2d04,
    ad: #fe9929,
    bd: #ec7014,
    cd: #cc4c02,
);

@each $id, $color in $soilColors {
  .soil-#{$id} {
    background-color: $color;
  }
}

// From tiler/styles.mss
$streamWaterQualityColors: (
    0: #1a9641,
    1: #a6d96a,
    2: #ffffbf,
    3: #fdae61,
    4: #d7191c,
    NA: #9E9E9E,
);

@each $id, $color in $streamWaterQualityColors {
  .stream-#{$id} {
    background-color: $color;
  }
}

$catchmentWaterQualityColors: (
    1: #A0A0A0,
    2: #888888,
    3: #707070,
    4: #484848,
    5: #202020,
);

@each $id, $color in $catchmentWaterQualityColors {
  .catchment-#{$id} {
    background-color: $color;
  }
}

//Type
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', helvetica, arial, sans-serif;
$font-h1: 1.5rem;
$font-h2: 1rem;
$font-h3: 0.7rem;
$line-height-base: 1.5;

//Transition type
$font-size-h1: 24px;
$font-size-h2: 21px;
$font-size-h3: 18px;
$font-size-h4: 15px;
$font-size-h5: 13px;
$font-size-p: $font-size-h4;

//Shadow
$box-shadow-primary: 0px 1px 3px rgba(0, 0, 0, 0.1);
$box-shadow-secondary: 1px 1px 0px rgba(0, 0, 0, 0.4);
