//Base Colors
$black-06: rgba(0,0,0,.06);
$black-12: rgba(0,0,0,.12);
$black-24: rgba(0,0,0,.24);
$black-39: rgba(0,0,0,.39);
$black-54: rgba(0,0,0,.54);
$black-65: rgba(0,0,0,.65);
$black-74: rgba(0,0,0,.74);
$black: #000000;
$paper-12: rgba(255,255,255,.12);
$paper-54: rgba(255,255,255,.54);
$paper-74: rgba(255,255,255,.74);
$paper: #ffffff;

//Custom Colors
$ui-primary: #273238; /*Dark Grey*/
$ui-secondary: #394750; /*Medium Grey*/
$ui-light: #eceff1; /*Light Grey*/
$ui-grey: #787878 ; /* Output Tab Bar */
$ui-danger: #e0412d; /*Errors*/
$ui-warning: #e4b72f; /*Warnings*/
$active: #51dec2; /*Bright*/
$brand-primary: #389b9b; /*Teal*/
$sky-blue: #bbe5f5; /*Sky*/
$water: #49b8ea; /*Water*/
$et: #c2d33c; /*Evapotranspiration*/
$i: #f8aa00; /*Infiltration*/
$r: #cf4300; /*Runoff*/

//Heights
$footer-height: 55%;
$location-description-height: 68px;
$toolbar-height: 60px;
$output-height: 50px;
$height-lg: 44px;
$height-md: 36px;
$height-sm: 28px;
$height-xs: 18px;
$sidebar-width: 460px;
$sidebar-header-height: 40px;
$sidebar-tab-subheader-height: 40px;

//Border-radius
$radius-sm: 2px;

$nlcdColors: (
    11: #5475A8,
    12: #FFFFFF,
    21: #E8D1D1,
    22: #E29E8C,
    23: #ff0000,
    24: #B50000,
    31: #D2CDC0,
    41: #85C77E,
    42: #38814E,
    43: #D4E7B0,
    52: #DCCA8F,
    71: #FDE9AA,
    81: #FBF65D,
    82: #CA9146,
    90: #C8E6F8,
    95: #64B3D5,
);

@each $id, $color in $nlcdColors {
  .nlcd-#{$id} {
    background-color: $color;
  }
}


//Hydrologic Soil Groups
$soilColors: (
    a: #ffffd4,
    b: #fee391,
    c: #fec44f,
    d: #8c2d04,
    ad: #fe9929,
    bd: #ec7014,
    cd: #cc4c02,
);

@each $id, $color in $soilColors {
  .soil-#{$id} {
    background-color: $color;
  }
}

// From tiler/styles.mss
$streamWaterQualityColors: (
    0: #1a9641,
    1: #a6d96a,
    2: #ffffbf,
    3: #fdae61,
    4: #d7191c,
    NA: #9E9E9E,
);

@each $id, $color in $streamWaterQualityColors {
  .stream-#{$id} {
    background-color: $color;
  }
}

$catchmentWaterQualityColors: (
    1: #A0A0A0,
    2: #888888,
    3: #707070,
    4: #484848,
    5: #202020,
);

@each $id, $color in $catchmentWaterQualityColors {
  .catchment-#{$id} {
    background-color: $color;
  }
}

//Type
$font-family: 'Roboto', helvetica, arial, sans-serif;
$font-h1: 1.5rem;
$font-h2: 1rem;
$font-h3: 0.7rem;

//Temporary type
$temp-h1: 24px;
$temp-h2: 20px;
$temp-h3: 16px;
$temp-h4: 14px;
$temp-p: $temp-h4;
