[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'stg'
IPAccess: '0.0.0.0/0'
AvailabilityZones: 'us-east-1b,us-east-1d'
NATInstanceType: 't2.micro'
NATInstanceAMI: ''
BastionHostInstanceType: 't2.micro'
BastionHostAMI: ''
PrivateHostedZoneName: 'mmw.internal'
PublicHostedZoneName: 'mmw.azavea.com'
RDSInstanceType: 'db.t2.micro'
RDSDbName: 'modelmywatershed'
RDSUsername: 'modelmywatershed'
RDSPassword: 'modelmywatershed'
ECInstanceType: 'cache.m1.small'
GlobalNotificationsARN: 'arn:aws:sns:...'
AppServerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#AppServerAMI: ''
AppServerInstanceProfile: 'AppServerInstanceProfile'
AppServerAutoScalingDesired: '1'
AppServerAutoScalingMin: '1'
AppServerAutoScalingMax: '1'
SSLCertificateARN: 'arn:aws:iam...'
TileServerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#TileServerAMI: ''
TileServerInstanceProfile: 'TileServerInstanceProfile'
TileServerAutoScalingDesired: '1'
TileServerAutoScalingMin: '1'
TileServerAutoScalingMax: '1'
WorkerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#WorkerAMI: ''
WorkerInstanceProfile: 'WorkerInstanceProfile'
WorkerAutoScalingDesired: '1'
WorkerAutoScalingMin: '1'
WorkerAutoScalingMax: '1'
ITSIBaseURL: ''
ITSISecretKey: ''
