[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'stg'
IPAccess: '0.0.0.0/0'
NATInstanceType: 't2.micro'
NATInstanceAMI: ''
NATAvailabilityZones: ['us-east-1a', 'us-east-1b']
BastionHostInstanceType: 't2.micro'
BastionHostAMI: ''
PrivateHostedZoneName: 'mmw.internal'
PublicHostedZoneName: 'mmw.azavea.com'
RDSInstanceType: 'db.t2.micro'
RDSDbName: 'modelmywatershed'
RDSUsername: 'modelmywatershed'
RDSPassword: 'modelmywatershed'
ECInstanceType: 'cache.t2.micro'
GlobalNotificationsARN: 'arn:aws:sns:...'
