[staging]
Region: 'us-east-1'
StackType: 'Staging'
KeyName: 'stg'
IPAccess: '0.0.0.0/0'
AvailabilityZones: 'us-east-1b,us-east-1d'
NATInstanceType: 't2.micro'
NATInstanceAMI: ''
BastionHostInstanceType: 't2.micro'
BastionHostAMI: ''
PrivateHostedZoneName: 'mmw.internal'
PublicHostedZoneName: 'staging.modelmywatershed.org'
BackwardCompatPublicHostedZoneName: 'staging.portal.bigcz.org'
RDSInstanceType: 'db.t2.micro'
RDSDbName: 'modelmywatershed'
RDSParameterGroupName: 'mmw-postgres96'
RDSUsername: 'modelmywatershed'
RDSPassword: 'modelmywatershed'
ECInstanceType: 'cache.m1.small'
GlobalNotificationsARN: 'arn:aws:sns:...'
AppServerInstanceType: 't2.small'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#AppServerAMI: ''
AppServerInstanceProfile: 'AppServerInstanceProfile'
AppServerAutoScalingDesired: '1'
AppServerAutoScalingMin: '0'
AppServerAutoScalingMax: '1'
AppServerAutoScalingScheduleStartCapacity: '1'
# 8AM ET
AppServerAutoScalingScheduleStartRecurrence: '0 13 * * 1-5'
AppServerAutoScalingScheduleEndCapacity: '0'
# 8PM ET
AppServerAutoScalingScheduleEndRecurrence: '0 1 * * *'
SSLCertificateARN: 'arn:aws:iam...'
BackwardCompatSSLCertificateARN: 'arn:aws:iam...'
TileServerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#TileServerAMI: ''
TileServerInstanceProfile: 'TileServerInstanceProfile'
TileServerAutoScalingDesired: '1'
TileServerAutoScalingMin: '0'
TileServerAutoScalingMax: '1'
TileServerAutoScalingScheduleStartCapacity: '1'
# 8AM ET
TileServerAutoScalingScheduleStartRecurrence: '0 13 * * 1-5'
TileServerAutoScalingScheduleEndCapacity: '0'
# 8PM ET
TileServerAutoScalingScheduleEndRecurrence: '0 1 * * *'
TiTilerHost: ''
TiTilerLayerMap: ''
WorkerInstanceType: 't2.micro'
# Leaving this commented dynamically looks up the
# most recent AMI for this type.
#WorkerAMI: ''
WorkerInstanceProfile: 'WorkerInstanceProfile'
WorkerAutoScalingDesired: '2'
WorkerAutoScalingMin: '0'
WorkerAutoScalingMax: '2'
WorkerAutoScalingScheduleStartCapacity: '2'
# 8AM ET
WorkerAutoScalingScheduleStartRecurrence: '0 13 * * 1-5'
WorkerAutoScalingScheduleEndCapacity: '0'
# 8PM ET
WorkerAutoScalingScheduleEndRecurrence: '0 1 * * *'
ITSIBaseURL: ''
ITSISecretKey: ''
ConcordSecretKey: ''
HydroShareBaseURL: ''
HydroShareSecretKey: ''
SRATCatchmentAPIURL: ''
SRATCatchmentAPIKey: ''
RollbarServerSideAccessToken: ''
ClientAppUserPassword: ''
