// The height and width must be set to 100%
// so that the actual height and width of the
// enclosing element will get propagated down to the
// bar-chart elements.
.chart-container {
  width: 100%;
  height: 100%;
}

.bar-chart {
  width: 100%;
  display: block;
  height: 300px;
  vertical-align: baseline;
  vertical-align: bottom;

  .nv-bar {
    fill: $brand-primary;
  }

  @each $id, $color in $nlcdColors {
    .nlcd-fill-#{$id} {
      fill: $color;
    }
  }

  @each $id, $color in $ioLulcColors {
    .io-lulc-fill-#{$id} {
      fill: $color;
    }
  }

  @each $id, $color in $protectedLandsColors {
    .protected-lands-fill-#{$id} {
      fill: $color;
    }
  }

  @each $id, $color in $soilColors {
    .soil-fill-#{$id} {
      fill: $color;
    }
  }

  svg {
    // Fit the charts into the sidebar, which has 1rem padding
    // on each side (1rem + 1rem + 0.1rem extra padding = 2.1rem)
    width: $sidebar-width - 25px;
    height: 300px;
  }
}

.quality-chart-container {
  .bullet-charts {
    .bullet-chart {
      width: 100%;
      height: 60px;

      svg {
        width: $sidebar-width - 25px;
        height: 60px;
      }

      .nv-tick line {
        stroke: #bababa;
        stroke-width: 0.5px;
      }
    }
  }

  .chart-units {
    font-size: 12px;
    text-align: center;
  }
}
