// The height and width must be set to 100%
// so that the actual height and width of the
// enclosing element will get propagated down to the
// bar-chart elements.
.chart-container {
  width: 100%;
  height: 100%;
}

.bar-chart {
  width: 100%;
  display: block;
  height: 300px;
  vertical-align: baseline;
  vertical-align: bottom;

  .nv-bar {
    fill: $brand-primary;
  }

  @each $id, $color in $nlcdColors {
    .nlcd-fill-#{$id} {
      fill: $color;
    }
  }

  @each $id, $color in $soilColors {
    .soil-fill-#{$id} {
      fill: $color;
    }
  }

  svg {
    width: 450px;
    height: 300px;
  }
}
