// The height and width must be set to 100%
// so that the actual height and width of the
// enclosing element will get propagated down to the
// bar-chart elements.
.chart-container {
  width: 100%;
  height: 100%;
}

.bar-chart {
  width: 100%;
  display: block;
  height: 100%;
  min-height: 200px;
  vertical-align: baseline;
  vertical-align: bottom;

  .bar {
    margin: 0 2%;
    display: inline-block;
    fill: $brand-primary;
    border-radius: $radius-sm!important;
    vertical-align: bottom;

    &:hover {
      fill: lighten($brand-primary, 10%);
    }
  }

  .axis  {
    color: $black-54;
    font-size: 0.5rem;
    white-space: normal;

    line, path  {
      fill: none;
      stroke: $black-12;
      shape-rendering: crispEdges;
    }

    text {
      color: $black-54;
    }
  }

  .x.axis line, .x.axis path  {
    display: none;
  }
}

// Official NLCD legend colors for classes selected for display
.nlcd-11 .bar  { fill: #5475A8; }
.nlcd-21 .bar  { fill: #E8D1D1; }
.nlcd-22 .bar  { fill: #E29E8C; }
.nlcd-23 .bar  { fill: #ff0000; }
.nlcd-24 .bar  { fill: #B50000; }
.nlcd-31 .bar  { fill: #D2CDC0; }
.nlcd-41 .bar  { fill: #85C77E; }
.nlcd-52 .bar  { fill: #DCCA8F; }
.nlcd-71 .bar  { fill: #FDE9AA; }
.nlcd-81 .bar  { fill: #FBF65D; }
.nlcd-82 .bar  { fill: #CA9146; }
.nlcd-90 .bar  { fill: #C8E6F8; }
