//Search Input
.search-input {
  position: relative;
  display: inline-block;
  background-color: $paper;
  line-height: $height-md;
  border-radius: $radius-sm;
  border: 0!important;
  box-shadow: 0 0 6px $black-74;
  font-size: $font-size-h4;
  width: $search-width;
  height: 36px;
  padding: 0 0.7rem;
  color: $black-54;
  background-color: $paper;

  &:hover {
    background-color: $ui-light;
    box-shadow: 0 0 8px $black-74;
    border: 0!important;
  }

  &::-webkit-input-placeholder {
    color: $ui-secondary;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $ui-secondary;
    opacity: 1!important;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: $ui-secondary;
    opacity: 1!important;
  }

  &:-ms-input-placeholder {
    color: $ui-secondary;
  }
}


//Select Inputs
.custom-select-group {
  position: relative;
  margin: 4rem 0;

  /* LABEL ======================================= */
  label          {
    left: 0;
    top: -24px;
    font-size: $font-size-h5;
    color: $active;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
  }
}
