.layerpicker {
  z-index: 500;
  position: absolute;
  bottom: 22px;
  left: $map-controls-margin;
  width: $layerpicker-width;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 6px $black-74;

  .popover {
    max-width: none;
  }

  .popover > .popover-content {
      border: #fff 1px solid;
  }
}

#layer-picker-slider-region {
  z-index: 400;
  position: absolute;
  left: 265px;
  bottom: 23px;
  width: 150px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 0 6px $black-74;
  font-size: 13px;
  &:empty {
    display: none;
  }
}

input.time-slider {
  padding: 5px 0 5px 0;
}

.time-slider-short-name {
  font-weight: bold;
}

span.time-slider-end {
    position: absolute;
    right: 10px;
}

.layerpicker-header {
    background-color: $ui-primary;
    color: $paper;
    cursor: pointer;
    font-size: $font-size-h4;
    font-weight: bold;
    padding: 5px 8px 5px 6px;
    i {
        float: right;
        margin-top: 2px;
        font-size: 12px;
        position: relative;
        top: 2px
    }
}

.layerpicker-layers {
  max-height: 104px;
  overflow: auto;
}

.layerpicker-layer {
  @include clearfix;
  font-size: $font-size-h5;
  padding: 4px 6px;
}

.layerpicker-title {
  float: left;
  width: 91%;
  padding: 0;
  text-align: left;
  border: 0;
  outline: 0;
  background: none;
  color: $ui-primary;
  &:hover {
    color: inherit;
  }
  &.active {
    color: $brand-primary;
  }
  &:disabled {
      color: $ui-medium-light;
  }
}

.layerpicker-heading {
  font-size: $font-size-h4;
  font-weight: 800;
  padding: 10px 6px 4px;
  display: flex;
  position: relative;
}

.layerpicker-navbutton {
  text-align: center;
  width: 20%;
  float: left;
  padding: 4px 6px 5px;
  background-color: $ui-light;
  cursor: pointer;
  font-size: 1.6rem;
  &.open {
    background-color: #fff;
  }
  &.active {
    color: $brand-primary;
  }
}

.layerpicker-info {
  float: left;
  width: 24px;
  text-align: center;
  position: relative;
  font-family: FontAwesome;
  color: #999;
  padding: 4px;
  margin: -4px;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
  &:after {
    content: "\f05a";
  }
}

.layerpicker-arrow-2 {
  bottom: 46px;
  right: -4px;
  position: absolute;
  z-index: 20000;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #fff;
  border-left: none;
  margin-left: 26px;
  margin-top: 5px;
  opacity: 1;
  .layerpicker-info & {
    opacity: 1;
  }
}

.layerpicker-legend {
  font-size: $font-size-h4;
  width: 200px;
  background-color: #fff;
}

.layerpicker-legenditem {
  @include clearfix;
}

.layerpicker-legendcolor {
  width: 12px;
  height: 12px;
  float: left;
  position: relative;
  top: 3px;
  border: 1px solid #ccc
}

.layerpicker-legendtext {
    margin-left: 18px;
}

#layerpicker-opacity-control {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.layerpicker-slider {
    -webkit-appearance: none;
    width: 90px !important;
    margin: auto;
    display: inline;
    cursor: pointer;
    &:focus {
        outline: none;
    }

    &.slider-leaflet {
        background-color: transparent;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 12px;
        top: 6px;
    }
}

.layerpicker-loading {
  font-size: 13px;
  padding: 0 0 8px 6px;
}

#temperature-legend {
  height: 20px;
  width: 300px;
  margin-left: 2px;
  margin-right: 2px;
  background: linear-gradient(90deg, rgba(46, 0, 103, 1) 0%, rgba(141, 20, 255, 1) 16.666667%, rgba(165, 15, 245, 1) 20.0%, rgba(189, 10, 235, 1) 23.333333%, rgba(213, 5, 225, 1) 26.666667%, rgba(238, 0, 215, 1) 30.0%, rgba(178, 8, 225, 1) 33.333333%, rgba(119, 16, 235, 1) 36.666667%, rgba(59, 25, 245, 1) 40.0%, rgba(0, 34, 255, 1) 43.333333%, rgba(0, 77, 199, 1) 46.666667%, rgba(0, 121, 143, 1) 50.0%, rgba(0, 164, 86, 1) 53.333333%, rgba(0, 208, 31, 1) 56.666667%, rgba(59, 211, 23, 1) 60.0%, rgba(117, 214, 15, 1) 63.333333%, rgba(176, 217, 7, 1) 66.666667%, rgba(236, 221, 0, 1) 70.0%, rgba(240, 165, 0, 1) 73.333333%, rgba(245, 110, 2, 1) 76.666667%, rgba(250, 55, 2, 1) 80.0%, rgba(255, 0, 4, 1) 83.333333%, rgba(87, 0, 16, 1) 100%);
}

#precipitation-legend {
  height: 20px;
  width: 300px;
  margin-left: 3px;
  margin-right: 2px;
  background: linear-gradient(90deg, rgba(230, 111, 0, 1) 0%, rgba(246, 155, 56, 1) 8%, rgba(62, 178, 189, 1) 16%, rgba(97, 212, 231, 1) 24%, rgba(3, 116, 116, 1) 32%, rgba(0, 49, 96, 1) 100%)
}

.climate-legend-tooltip {
  height: 65px;
}

.climate-legend-unit-breaks-labels {
  font-size: 0.8em;
  position: absolute;
  left: 0px;
}

.climate-legend-label-ticks {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.climate-legend-label-tick {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display: table-cell;
}

.climate-legend-label-tick::after {
  display: block;
  text-align: center;
  content: '|';
}

.climate-legend-label-values {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.climate-legend-label-value {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
  display: table-cell;
  text-align: center;
}

.climate-legend-label-value.max {
  padding-right: 10px;
}

.climate-legend-units-label {
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
