#map-info-region {
  position: absolute;
  left: $sidebar-width;
  top: calc(#{$height-lg} + #{$height-xl} + #{$height-xl});
  margin: $map-controls-margin;
  z-index: 500;
  background: $black-54;
  border-radius: $border-radius-small;
  box-shadow: 0 0 6px $black-74;
  color: $paper;
  width: $layerpicker-width;
}
