//General
.modal {
  background-color: $black-54;

  .modal-dialog {
    margin: 72px auto;
  }

  .modal-content {
    border-radius: 0!important;
    border: 0px solid $black-12;
    box-shadow: 0 0 6px $black-24;

    label {
        display: block;
    }

    input {
        width: 100%;
        padding: 0.75rem 0.5rem;
        margin: 0.5rem 0 2.5rem 0;
    }

    .col-sm-6 {
        padding: 0;
    }
  }

  .modal-content.modal-content-padded {
      padding: 2rem;
  }

  .modal-content.modal-content-danger {
      .btn-active{
          // important because .btn-active uses !important
          background-color: $ui-danger !important;
      }

      .btn-default {
          color: $ui-medium-light;
          &:hover, &:focus {
              // important because .btn-default uses !important
              background: none !important;
          }
      }
  }

  .cancel {
    position: absolute;
    top: 1rem;
    right: 0;
  }
}

.modal-dialog-sm {
  width: 100%;

  @media(min-width:768px) {
    width: 400px;
  }
}

//Basic Modal
.modal-basic {

  .modal-content {
    padding: 1rem;

    .modal-header {
      padding: 0 0 1rem 0;
      border: 0;
    }

    .modal-body {
      padding: 1rem 0;
    }

    .modal-footer {
      padding: 0;
      border: 0;
    }
  }
}


//Large Modal
.modal-large {

    .errors {
        list-style: none;
        background-color: lightpink;
        border-width: 1px;
        border-style: solid;
        border-color: red;
        padding: 1rem;
        color: red;
    }

  .modal-content {
    padding: 0;

    .modal-header {
      padding: 3rem 2rem;
      border: 0;
      background-color: $brand-primary;

      & > h2 {
        margin-bottom: 4px;
      }

      p {
        font-size: $font-size-h4;
        color: $paper;
        line-height: 1.6;
      }
    }

    .modal-body {
      padding: 2rem;

      .btn-active {
          font-weight: bolder;
      }

      p {
          margin-bottom: 2rem;
      }

      /* Reference: https://codepen.io/scottzirkel/pen/yNxNME */
      .hr-text {
          line-height: 1em;
          position: relative;
          outline: 0;
          border: 0;
          color:  darken($ui-light, 10%);
          text-align: center;
          font-size: 1.25em;
          height: 1.5em;
          &:before {
              content: '';
              background: darken($ui-light, 10%);
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 1px;
          }
          &:after {
              content: attr(data-content);
              position: relative;
              display: inline-block;
              color: black;

              padding: 0 .5em;
              line-height: 1.5em;
              // this is really the only tricky part, you need to specify the background color of the container element...
              color: #818078;
              background-color: #fcfcfa;
          }
      }


      .actions {
        margin-top: 2rem;
        text-align: center;
      }
    }

    .modal-footer {
      border: 0;
      text-align: center;

      a {
          color: $brand-primary;
          cursor: pointer;
          text-decoration: none;
      }

      .footer-content {
          background-color: #f4f4f4;
          padding: $modal-inner-padding;
      }
    }
  }
}

//XL Modal//Large Modal
.modal-xl {

  .modal-dialog {
    width: 960px;
  }

  .modal-content {
    padding: 0;

    .modal-header {
      padding: 1.5rem;
      border: 0;
      background-color: $brand-primary;

      & > h2 {
        margin-bottom: 4px;
      }

      p {
        font-size: $font-size-h4;
        color: $paper-54;
        line-height: 1;
      }
    }

    .modal-body {
      padding: 1.5rem;
    }

    .modal-footer {
      padding: 0 1.5rem 1.5rem 1.5rem;
      border: 0;
    }
  }
}

// Sign Up
.modal-popup {
    .fa {
      font-size: $font-size-h2;
      padding: 1rem 0.4rem 0 0rem;
    }

    .fa-info-circle {
      color: $brand-primary;
    }

    .fa-ban {
      color: $ui-danger;
    }

    .fa-exclamation-triangle {
      color: $ui-warning;
    }
}
