//General
.modal {
  background-color: $black-54;

  .modal-dialog {
    margin: 72px auto 0 auto;
  }

  .modal-content {
    border-radius: 0!important;
    border: 0px solid $black-12;
    box-shadow: 0 0 6px $black-24;

    .modal-text-input-label {
        display: block;
    }

    .modal-text-input {
        width: 100%;
        padding: 0.75rem 0.5rem;
        margin: 0.5rem 0 2.5rem 0;
    }

    .col-sm-6 {
        padding: 0;
    }
  }

  .modal-content.modal-content-padded {
      padding: 2rem;
  }

  .modal-content.modal-content-danger {
      .btn-active{
          // important because .btn-active uses !important
          background-color: $ui-danger !important;
      }

      .btn-default {
          color: $ui-medium-light;
          &:hover, &:focus {
              // important because .btn-default uses !important
              background: none !important;
          }
      }
  }

  .cancel {
    position: absolute;
    top: 1rem;
    right: 0;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;

    &.hydroshare {
      height: 600px;
    }
  }
}

.modal-dialog-sm {
  width: 100%;

  @media(min-width:768px) {
    width: 400px;
  }
}

//Basic Modal
.modal-basic {

  .modal-content {
    padding: 1rem;

    .modal-header {
      padding: 0 0 1rem 0;
      border: 0;
    }

    .modal-body {
      padding: 1rem 0;
    }

    .modal-footer {
      padding: 0;
      border: 0;
    }
  }
}


//Large Modal
.modal-large {

    .errors {
        list-style: none;
        background-color: lightpink;
        border-width: 1px;
        border-style: solid;
        border-color: red;
        padding: 1rem;
        color: red;
    }

  .modal-content {
    padding: 0;

    .modal-header {
      padding: 3rem 2rem;
      border: 0;
      background-color: $brand-primary;

      & > h2 {
        margin-bottom: 4px;
      }

      p {
        font-size: $font-size-h4;
        color: $paper;
        line-height: 1.6;
      }
    }

    .modal-body {
      padding: 2rem;

      .btn-active {
          font-weight: bolder;
      }

      p {
          margin-bottom: 2rem;
      }

      /* Reference: https://codepen.io/scottzirkel/pen/yNxNME */
      .hr-text {
          line-height: 1em;
          position: relative;
          outline: 0;
          border: 0;
          color:  darken($ui-light, 10%);
          text-align: center;
          font-size: 1.25em;
          height: 1.5em;
          &:before {
              content: '';
              background: darken($ui-light, 10%);
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              height: 1px;
          }
          &:after {
              content: attr(data-content);
              position: relative;
              display: inline-block;
              color: black;

              padding: 0 .5em;
              line-height: 1.5em;
              // this is really the only tricky part, you need to specify the background color of the container element...
              color: #818078;
              background-color: #fcfcfa;
          }
      }


      .actions {
        margin-top: 2rem;
        text-align: center;
      }
    }

    .modal-footer {
      border: 0;
      text-align: center;

      a {
          color: $brand-primary;
          cursor: pointer;
          text-decoration: none;
      }

      .footer-content {
          background-color: #f4f4f4;
          padding: $modal-inner-padding;
      }
    }
  }
}

//XL Modal//Large Modal
.modal-xl {

  .modal-dialog {
    width: 960px;
  }

  .modal-content {
    padding: 0;

    .modal-header {
      padding: 1.5rem;
      border: 0;
      background-color: $brand-primary;

      & > h2 {
        margin-bottom: 4px;
      }

      p {
        font-size: $font-size-h4;
        color: $paper-54;
        line-height: 1;
      }
    }

    .modal-body {
      padding: 1.5rem;
    }

    .modal-footer {
      padding: 0 1.5rem 1.5rem 1.5rem;
      border: 0;
    }
  }
}

// Sign Up
.modal-popup {
    .fa {
      font-size: $font-size-h2;
      padding: 1rem 0.4rem 0 0rem;
    }

    .fa-info-circle {
      color: $brand-primary;
    }

    .fa-ban {
      color: $ui-danger;
    }

    .fa-exclamation-triangle {
      color: $ui-warning;
    }
}

.multi-share-modal {
  p {
    font-size: 13px;
    margin-bottom: 1rem !important;
  }

  .hydroshare-spinner,
  .hydroshare-warning {
    margin: 12px;
  }

  .hydroshare-autosync-container {
    padding: 10px;
    border: 1px solid $ui-light;
    border-radius: 4px;

    label {
      font-size: 13px;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    .hydroshare-timestamp {
      color: $ui-grey;
    }

    .hydroshare-export {
      display: inline-block;
      border-left: 1px solid $ui-grey;
      margin-left: 5px;
      padding-left: 10px;
    }
  }
}

.modal-about, .modal-text {
  .modal-content {
    padding: 2rem;
  }

  .modal-header {
    border: none;

    p.version {
      margin-top: 1rem;
      font-size: 13px;
      font-weight: normal;
      color: $black-39;
    }
  }

  .modal-body {
    p, li {
      font-size: 15px;
      font-weight: 400;
      color: $black-65;
      line-height: 1.5;
    }

    li {
      padding-left: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }

    img.splash-sponsor-logo {
      height: 100px;
    }

    p.about-footer {
      padding-top: 1rem;
      font-size: 13px;
      font-weight: normal;
      color: $black-39;
      margin-bottom: 0;
    }
  }
}

.modal-text {
  .modal-body {
    max-height: 600px;
    overflow-y: auto;

    h2 {
      margin-bottom: 10px;
    }
    h3 {
      margin-bottom: 8px;
    }
    li {
      padding-bottom: 0.5rem;
    }
  }
}

.hydroshare-modal {
  .modal-text-input-label {
    margin-top: 2.5rem;
  }

  .modal-content .modal-text-input {
    margin-bottom: 0.5rem;
  }

  .modal-text-input-error {
    display: block;
    padding: 0.75rem;
    border: 1px solid $ui-danger;
    color: $ui-danger;
    background: $ui-danger-18;
  }

  textarea {
    border: 1px solid #ccc;
    color: #333;
  }

  .input-group {
    > input {
      box-shadow: none;
      border-radius: 0;
    }

    button {
      border-radius: 0 !important;
      font-weight: normal !important;
    }
  }

  .hydroshare-keyword {
    display: inline-block;
    color: $ui-light;
    background: $ui-primary;
    padding: 0.75rem;
    margin: 0.25rem 0.1rem;
    border-radius: 4px;

    .hydroshare-keyword-delete {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }
}

#weather-data-modal,
#entry-modal,
#land-cover-modal {
  .modal-header {
    background: $ui-light;
    padding: 2rem;
    border-bottom: 1px solid $black-12;
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer > .footer-content {
    background: $paper;
    border-top: 1px solid $black-12;
  }
}

#weather-data-modal {
  .modal-body {
    padding: 1rem;
    display: flex;

    .weather-col {
      flex: 0 0 calc(50% - 1rem);
      padding: 0 1rem;

      &+.weather-col {
        border-left: 1px solid #eee;
      }

      &-title {
        margin-bottom: 1rem;

        input {
          float: left;
          margin-right: 1rem;
        }
      }

      &-description {
        font-size: 13px;
        margin-bottom: 1rem;
      }
    }
  }
}

#entry-modal {
  .nav-tabs {
    padding: 0 2rem;
    font-weight: 400;
    font-size: 13px;
    border-bottom: 1px solid $black-12;
    background: $paper;

    > li {
      > a {
        border: none;
        border-bottom: inherit;
        padding: 0;
        margin: 0 1rem 2px;
        line-height: 47px;
        height: 47px;
        color: $ui-secondary;

        &:hover, &:focus {
          background: inherit;
        }

        > .tab-label {
          padding: 0 1px;
        }
      }

      &.active > a > .tab-label {
        color: $brand-primary;
        font-weight: 800;
        border-bottom: 2px solid $brand-primary;
      }

      &:first-child > a {
        margin-left: 0;
      }
    }
  }

  .tab-pane {
    padding: 2rem;

    .rows {
      padding: 2rem 0;

      .row {
        padding-bottom: 0.5rem;
      }
    }
  }
}

#land-cover-modal {
  .rows {
    padding: 2rem 0;

    .row {
      padding-bottom: 0.5rem;
    }
  }

  .modal-footer > .footer-content {
    display: flex;
    flex-direction: row;

    .total-content {
      flex: 1;
      text-align: left;
      line-height: 36px;
      font-size: 15px;

      .error {
        color: $ui-danger;
        font-weight: bold;
      }
    }
  }
}

.mapshed-manual-entry {
  .mapshed-manual-entry-label {
    padding-top: 7px;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .form-control {
    border-radius: 0;
    color: #999;

    &:invalid {
      border-color: $ui-danger;

      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
      }
    }
  }

  .btn-undo {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;

    i {
      color: #449ff0;
    }

    &:focus {
      outline: none;
    }
  }

  &.has-user-value {
    .btn-undo {
      display: block;
    }

    .form-control {
      color: #555;
    }
  }
}

.triplet-tab-pane {
  table {
    width: 100%;

    th {
      padding-bottom: 5px;
    }

    td {
      padding-right: 5px;
      padding-bottom: 5px;

      .mapshed-manual-entry {
        width: 100px;
        position: relative;

        .btn-undo {
          right: 0;
        }
      }
    }
  }
}
