.modal {
    .measurements-platform {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

.observation-popup {
    min-width: 280px;

    .measurements-platform {
        margin-bottom: .2rem;
    }

    .measurements-name {
        margin-bottom: .5rem;
    }

    .measurements-updated {
        color: $ui-grey;
        font-size: 14px;
    }
    .measurement-name {
        min-width: 100px;
    }

    .measurement-value {
        text-align: right;
        min-width: 75px;
        color: $brand-primary;
    }

    .measurement-depth {
        color: #aaa;
        text-align: right;
    }

    table {
        margin-bottom: 14px;
        width: 100%;
    }

    tbody {
        & > tr {
            cursor: pointer;
            &:hover {
                background-color: #fafafa;
            }
        }
    }

    hr {
        margin: 10px 0;
    }

    td, th {
        padding: 3px 6px;
        &:last-child {
            padding-right: 0;
        }
        &:first-child {
            padding-left: 0;
        }
    }

    .row {
        margin: 0 -15px !important;
    }

}

.plot-modal {
    .measurements-updated {
        color: $ui-grey;
        font-size: 14px;
        float: right;
    }
}

.plot-measurement-select {
    width: 50%;
    height: 40px;
    font-size: 20px;
}


.highcharts-range-selector-buttons {
    & > text:first-child {
        display: none;
    }
}

.highcharts-tooltip + text {
    display: none;
}
