.results-content.downloadcsv-link,
.downloadcsv-link {
    margin-top: 14px;
    cursor: pointer;
    font-size: $font-size-h5;
    @extend .btn;
    @extend .btn-primary;
    &:hover, &:focus {
      border-width: 1px;
    }
}
