.results-content.downloadcsv-link,
.downloadcsv-link {
    margin-top: 14px;
    margin-bottom: 3rem;
    cursor: pointer;
    font-size: $font-size-h5;
    @extend .btn;
    @extend .btn-primary;
    &:hover, &:focus {
      border-width: 1px;
    }
}

.download-bmp {
    padding-bottom: 20px;

    hr {
        margin-top: 0;
    }

    i {
        font-size: 32px;
        color: $ui-medium-light;
        margin-top: 5px;
    }
}
