//Analyze Tabs
#analyze-details-region{
  position: absolute;
  top: 68px;
  bottom: 0;
  width: 100%;

  .nav-tabs{
    font-weight: 500;
    font-size: 0.6rem;
    border-bottom: none!important;
    background-color: $ui-secondary;

    li a{
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
      text-transform: uppercase;
      border-bottom: solid 4px transparent;
    }

    li.active > a{
      border-bottom: solid 4px $active;
      color: $paper;
      background: transparent!important;
    }

    li > a{
      color: $paper-54;
      padding: 0.8rem 0.8rem 0.6rem 0.8rem;
      margin: 0 0 1px 0;

      &:hover{
        background: transparent!important;
        border-bottom: solid 4px $active;
        border-radius: 0!important;
        color: $paper;
      }
    }
  }

  .tab-content{
    position: absolute;
    top: 45px;
    bottom: 0;
    width: 100%;
    overflow-y: auto;

    @media(min-width: 768px){
      overflow-y: hidden;
    }

    @media(min-width: 1280px){
      top: 49px;
    }

    .left, .right{
      padding: 1rem;
      position: relative;
      width: 100%;

      @media(min-width:768px){
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
      }
    }

    .left{

      @media(min-width:768px){
        left: 0;
        width: 50%;
      }
    }

    .right{

      @media(min-width:768px){
        right: 0;
        width: 50%;
      }
    }
  }
}

//Scenario Tabs
#scenario-wrapper{
  position: relative;
  width: 100%;

  .nav-tabs{
    font-weight: 500;
    font-size: 0.6rem;
    border-bottom: none!important;
    background-color: $ui-secondary;
    bottom: 0;
    position: absolute;
    left: 8px;

    li a{
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
      text-transform: uppercase;
    }

    li.active > a{
      color: $ui-secondary;
      background-color: $paper;

    }

    li > a{
      color: $ui-secondary;
      padding: 0 1.8rem 0 0.8rem;
      line-height: $height-md;
      margin-right: 2px;
      background-color: $paper-54;

      &:hover{
        background-color: $ui-light;
        border-radius: 0!important;
        color: $ui-secondary;
      }
    }
  }
}

//Model Output Tabs
#output-tabs-wrapper{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;

  .nav-tabs{
    font-weight: 500;
    font-size: 0.6rem;
    border-bottom: none!important;
    background-color: transparent;
    position: absolute;
    left: 120px;

    li a{
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
      text-transform: uppercase;
    }

    li.active > a{
      color: $ui-secondary;
      background-color: $paper;
    }

    li > a{
      color: $ui-secondary;
      padding: 0.5rem 1rem;
      line-height: $height-md;
      background-color: transparent;
      height: 60px;

      i{
        color: $black-54;
        margin-right: 8px;
      }

      &:hover, &:focus{
        background-color: $paper;
        border-radius: 0!important;
        color: $ui-secondary;
        border: none;
      }
    }
  }

  .tab-content{
    position: absolute;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;

    .tab-pane{
      height: 100%;
    }

    .active{
      display: flex;
      flex-direction: row;
      height: 100%;
    }

    img{
      width: 100%;
      height: 200px;
    }

    .left, .right{
      padding: 1rem;
      position: relative;
      width: 100%;

      @media(min-width:768px){
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
      }
    }

    .left{
      @media(min-width:768px){
        left: 0;
        width: 50%;
      }
    }

    .right{
      @media(min-width:768px){
        right: 0;
        width: 50%;
      }
    }
  }
}

//Compare Scenario Tabs
#compare-wrapper{
  position: relative;
  width: 100%;

  .nav-tabs{
    font-weight: 500;
    font-size: 0.6rem;
    border-bottom: none!important;
    background-color: $ui-secondary;

    li a{
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
      text-transform: uppercase;
    }

    li.active > a{
      color: $paper;
      background-color: $paper-12;

    }

    li > a{
      color: $paper-54;
      padding: 0 1.2rem;
      line-height: $height-lg;
      margin-right: 2px;
      background-color: transparent;

      &:hover{
        background-color: $paper-12;
        border-radius: 0!important;
        color: $paper;
      }
    }
  }


}
