//Analyze Tabs
#analyze-details-region { }

//Scenario Tabs
#scenario-wrapper {
  position: relative;
  width: 100%;
}

.sidebar-tab-header-label {
    position: relative;
    padding: 0 4px;
    &:after {
        position: absolute;
        left: 0;
        content: "";
        border-bottom: 2px solid transparent;
        padding-bottom: 0px;
        top: 0;
        height: $analyze-tab-height;
        line-height: $analyze-tab-height;
        width: 100%;
        margin-top: 2px;
    }
}

.sidebar-tab-header-label-icon {
    color: rgba(0, 0, 0, 0.54);
    position: absolute;
    bottom: 2px;
    height: auto;
    text-align: center;
    width: calc(100% - 8px);
    font-size: 8px;
}

.model-stage-results-tab-pane {
    .model-nav-tabs {
        background-color: $paper;
    }
    .model-tab-content {
    // Set a specific height to allow y-scroll:
    // Calc: height under the main header (height-lg), project header, model-toolbar,
    // (height-xl) and sidebar nav tabs (sidebar-nav-tabs)
      height: calc(100% - #{$height-xl} * 2 - #{$height-lg} - #{$sidebar-header-height}) !important;
    }

    .analyze-tab-content {
        // Set a specific height to allow y-scroll:
        // Calc: height under the main header (height-lg), project header,
        // (height-xl, aoi region (aoi-header-height) and sidebar nav tabs (sidebar-nav-tabs)
        height: calc(100% - #{$height-xl} - #{$height-lg} * 2 - #{$aoi-header-height} - #{$sidebar-header-height}) !important;
    }
}


.subbasin-tab-content-region {
    .tab-content.model-tab-content {
      // Set a specific height to allow y-scroll:
      // Calc: height under the main header (height-lg), project header, model-toolbar,
      // (height-xl) and subbasin header (100px)
      height: calc(100% - #{$height-xl} * 2 - #{$height-lg} - 100px) !important;
      padding: 0;
      width: calc(#{$sidebar-width} - 2rem);
    }
}


.analyze-stage-results-tab-pane {
    .tab-content {
    // Set a specific height to allow y-scroll:
    // Calc height under the main header (height-lg), aoi region (aoi-header-height),
    // and analyze nav tabs (sidebar-header-height)
    // and above the next-stage-region (2*height-lg)
    // and the Analyze / Monitor tabs (42px);
      height: calc(100% - #{$height-lg} * 3 - #{$aoi-header-height} - #{$sidebar-header-height} - 42px) !important;
    }
}

.analyze-stage-monitor-tab-pane {
  .tab-content {
    // Set a specific height to allow y-scroll:
    // Calc height under the main header (height-lg), aoi region (aoi-header-height),
    // and the Analyze / Monitor tabs (42px)
    // and monitor nav tabs (sidebar-header-height)
    // and search form (46px)
    // and the next-stage-region (2*height-lg)
    height: calc(100% - #{$height-lg} * 3 - #{$aoi-header-height} - 42px - 46px - #{$sidebar-header-height}) !important;

    &.paginated {
      // Also account for pagination region (54px)
      height: calc(100% - #{$height-lg} * 3 - #{$aoi-header-height} - 42px - 46px - #{$sidebar-header-height} - 54px) !important;
    }
  }
}

.model-stage-monitor-tab-pane {
  .tab-content {
    // Set a specific height to allow y-scroll:
    // Calc height under the main header (height-lg), aoi region (aoi-header-height),
    // and Modeling Sub Header (height-xl)
    // and monitor nav tabs (sidebar-header-height)
    // and search form (46px)
    height: calc(100% - #{$height-lg} - #{$height-xl} - #{$aoi-header-height} - 42px - 46px - #{$sidebar-header-height}) !important;

    &.paginated {
      // Also account for pagination region (54px)
      height: calc(100% - #{$height-lg} - #{$height-xl} - #{$aoi-header-height} - 42px - 46px - #{$sidebar-header-height} - 54px) !important;
    }
  }
}

.data-catalog-stage-results-tab-pane {
    .tab-content {
      // Set a specific height to allow y-scroll:
      height: 100% !important;

      &.analyze-tab-content {
        // Height under the main header (height-lg), the analyze / data bar
        // header (height-xl) and the tabs (42px)
        height: calc(100% - #{$height-lg} - #{$height-xl} - 42px) !important;
      }
    }
}

//Model Output Tabs
.output-tabs-wrapper {
  .nav-tabs {
    font-weight: 400;
    font-size: $font-size-h5;
    border-bottom: 1px solid $black-12;

    li a {
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
    }

    li > a {
      margin-right: 0px;
      color: $ui-secondary;
      padding: 0 0.4rem;
      line-height: 42px;
      background-color: transparent;
      height: 42px;

      i {
        color: $black-54;
        position: relative;
        top: 1.4rem;
        font-size: 0.8rem;
      }

      &:hover, &:focus {
        border-radius: 0!important;
        color: $ui-secondary;
        background-color: transparent;
      }
    }

    li.active > a {
      color: $ui-secondary;
      .sidebar-tab-header-label {
        color: $brand-primary;
        font-weight: 800;
        &:after {
          border-bottom-color: $brand-primary;
        }
      }
    }
  }

  .tab-content {
    position: absolute;
    padding: 1rem;
    overflow-y: auto;
    width: $sidebar-width;

    img {
      width: 100%;
      height: 200px;
    }

    .left, .right {
      position: relative;
      width: 100%;
    }
  }
  .tab-pane {
      padding-bottom: 1rem;
  }
}

//Compare Scenario Tabs
#compare-wrapper {
  position: relative;
  width: 100%;

  .nav-tabs {
    font-weight: 500;
    font-size: $font-size-h4;
    border-bottom: none!important;
    background-color: $ui-secondary;

    li a {
      border-radius: 0!important;
      border-top: none!important;
      border-left: none!important;
      border-right: none!important;
      text-transform: uppercase;
    }

    li.active > a {
      color: $paper;
      background-color: $paper-12;

    }

    li > a {
      color: $paper-54;
      padding: 0 1.2rem;
      line-height: $height-lg;
      margin-right: 2px;
      background-color: transparent;

      &:hover {
        background-color: $paper-12;
        border-radius: 0!important;
        color: $paper;
      }
    }
  }
}

// Model Stage: Analyze - Model Toggle tabs
.model-analyze-toggle-tab-header {
    height: $height-md;
    display: inline-block;
    margin-left: 12px;
    border: 1px solid transparent;

    .nav-tabs {
        height: 100%;
        border-bottom: 0;
        background-color: $black-06;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        background-color: $brand-primary;
        border: 0;
        font-weight: 800;
        color: $paper;
    }
    .nav-tabs > li {
        float: left;
        position: relative;
        box-shadow: $box-shadow-primary;
        &:first-child {
            a {
                float: right;
                border-radius: 3px 0 0 3px;
                width: 9.3rem;
                transition: none;
            }
        }
        &:last-child {
            a {
                float: left;
                border-radius: 0 3px 3px 0;
                width: 8rem;
                transition: none;
            }
        }
    }

    .nav-tabs > li > a {
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: 0;
        background-color: $ui-secondary;
        padding-top: 0;
        font-size: $font-size-h4;
        font-weight: lighter;
        text-align: center;
        color: $paper;
        height: 34px;
        line-height: 34px;
        padding-left: 17px;
        padding-right: 17px;
    }
}

#sidebar {
  .nav-tabs {
    padding: 0 1rem;
    li {
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
    }
  }
}

#land-tab-ara-section,
#streams-tab-ag-section {
    padding-top: 1rem;
    margin-left: 0.3rem;

    .land-tab-ara-line-item,
    .streams-tab-ag-line-item {
        font-weight: 800;
        font-size: 13px;
    }
}
