{% include 'head.html' %}
{% load static %}

<body>
    <div style="display:flex; flex-direction: column; height: 100%;
                justify-content: center; align-items: center;">
        {% if error %}
            <h1>
                <i class="fa fa-times-circle"
                   style="font-size: 48px; margin-bottom: 24px; color: maroon"></i>
            </h1>
            <h1>Error</h1>
            <p>{{ error }}</p>
            <p style="margin: 20px;">
            {% if error == "access_denied" %}
                Model My Watershed needs to be authorized to post to your
                HydroShare account in order to export projects.
            {% else %}
                There was an error while authorizing Model My Watershed to
                access your HydroShare account.
            {% endif %}
            </p>
            <a class="btn btn-md btn-block btn-active" href="/user/hydroshare/login/" target="_self">Try Again</a>
            <button type="button" class="btn btn-md btn-block" id="hydroshare-cancel">Cancel</button>
        {% else %}
            <h1>
                <i class="fa fa-check-circle"
                   style="font-size: 48px; margin-bottom: 24px; color: teal"></i>
            </h1>
            <h1>Success!</h1>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if error %}
            var message = 'mmw-hydroshare-failure';
            {% else %}
            var message = 'mmw-hydroshare-success';
            {% endif %}
            parent.postMessage(message, window.location.origin);

            {% if not error %}
            // Redirect to home
            setTimeout(function() {
                window.location.href = window.location.origin + '/account/';
            }, 500);
            {% endif %}
        });

        {% if error %}
        document.getElementById('hydroshare-cancel').addEventListener('click', function() {
            parent.postMessage('mmw-hydroshare-cancel', window.location.origin);

            // Disable button to prevent double-clicking
            document.getElementById('hydroshare-cancel').disabled = true;
            // Redirect to home
            setTimeout(function() {
                window.location.href = window.location.origin + '/account/';
            }, 500);
        });
        {% endif %}
    </script>
</body>
