// Analyze

#analyze-output-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
  background-color: $paper;
  z-index: 100;
  width: 100%;
}

.analyze-message-region {
  position: relative;
  height: 100%;
  min-height: 200px;
  text-align: center;
}

.analyze-message-inner {
  padding-top: 50px;
}

.analyze-message-text {
  font-size: 0.6rem;
}
