//Layout
#analyze-output-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55%;
  background-color: $paper;
  z-index: 100;
  width: 100%;

  .analyze-message-region {
    position: relative;
    height: 100%;
    text-align: center;

    .analyze-message-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .analyze-message-text {
        font-size: 0.5rem;
      }
    }
  }
}
