// Analyze

.tab-content.analyze {
    padding: 0 !important;
}

#analyze-output-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: $footer-height;
  background-color: $paper;
  z-index: 100;
  width: 100%;
}

.results-content,
.analyze-layertoggle,
.analyze-layermessage,
.aoi-region {
    padding: 1rem;
}


.analyze-message-region {
  position: relative;
  height: 100%;
  min-height: 200px;
  text-align: center;
}

.analyze-message-inner {
  padding-top: 50px;
}

.analyze-message-text {
  font-size: 0.6rem;
}

.analyze-description {
  font-size: 0.8rem;
  padding-top: 5px;
}

.layer-region {
    border-bottom: 2px solid $ui-light;
    .analyze-layertoggle, .analyze-layermessage {
        padding-bottom: 0.5rem;
        border: none;
        font-size: 0.7rem;
        background: none;
        display: inline;
        text-align: left;
        width: 100%;
    }

    .analyze-layertoggle.dropdown-toggle {
        > .on-off-toggle {
            margin-left: 0.5rem;
            margin-right: 0.2rem;
        }
    }

    .analyze-layer-dropdown {
        margin: 0.75rem;
    }

    .on-off-toggle,
    .dropdown .dropdown-menu li a i {
        color: #337ab7; // bootstrap brand-primary used for anchor tags
        display: inline;
        margin-left: 1rem;
    }
}

.paging-ctl-row {
  text-align: center;
  margin-top: 20px !important;
}

.pageable-table-container {
  overflow: visible;
  padding-bottom:10%;
  @media (max-height: 884px) {
    padding-bottom:0px;
  }
}

.pageable-table {
  width: 650px !important;
  max-width: 650px !important;
  height: 100%;
}
