.compare-scenarios-container{
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 100;
  background-color: $ui-light;
  transition: 0.3s ease left, 0.3s ease right;

  table{
    height: 100%;

    tbody{
      tr{
        height: 100%;
        td{
          .compare-column{
            position: relative;
            z-index: 50;
            width: 48vw;
            height: 100%;
            overflow: hidden;
            display: inline-block;
            float: left;
            border-right: solid 1px $black-12;

            @media(min-width: 768px){
              width: 32.5vw;
            }

            @media(min-width: 1024px){
              width: 24.5vw;
            }

            @media(min-width: 1280px){
              width: 19.5vw;
            }
          }

          h3{
            text-transform: uppercase;
            display: inline-block;
          }

          .fa-minus-square{
            opacity: 54%!important;
          }

          .map-region{
            height: 20%;
            width: 100%;

            .map-container{
              position: relative;
              width: 100%;
              height: 100%;

              .map{
                height: 100%;
                width: 100%;
                position: relative;
                z-index: 1;

                .leaflet-control-container{
                  display: none;
                }
              }

              .scenario-title{
                position: absolute;
                z-index: 50;
                width: 100%;
                height: 100%;
                background-color: $black-74;
                vertical-align: bottom;
                padding: 1rem;

                h3{
                  position: absolute;
                  bottom: 1rem;
                  left: 1rem;
                }
              }
            }
          }

          .chart-region{
            width: 100%;
            height: 37%;

            .chart-container{
              position: relative;
              width: auto;
              height: 100%;
              padding: 1rem;
            }
          }


          .modifications-region{
            width: 100%;
            height: 37%;

            .modifications-container{
              width: 100%;
              height: 100%;

              .modifications-list{
                position: relative;
                width: auto;
                height: 100%;
                padding: 1rem;
                overflow-y: auto;
              }
            }
          }

          .compare-section-collapse{
            height: 52px!important;
          }

        }
      }
    }
  }

  #edge-fade{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    background: rgba(255,255,255,.4);
    width: 4vw; // these widths correspond to compare-column width

    @media(min-width: 768px){
      width: 2.5vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1024px){
      width: 2vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1280px){
      width: 2.5vw; // these widths correspond to compare-column width
    }
  }
} //End Container

// Footer Controls
#compare-footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: $ui-light;
  z-index: 100;

  #slide-controls{
    float: right;
    padding: 8px;
  }

  h3{
    display: inline-block;
    padding: 1rem;
  }
}
