$compare-footer-height: 50px;
$compare-map-height: 25vh;
// Calculate the height between the header and footer, and below the map
$compare-chart-table-height: calc(100vh - #{$height-lg} - #{$compare-footer-height} - #{$compare-map-height});


.compare-scenarios-container {
  overflow: hidden;
  position: absolute;
  top: $height-lg;
  left: 0;
  right: 0;
  bottom: $compare-footer-height;
  z-index: 100;
  background-color: $ui-light;
  transition: 0.3s ease left, 0.3s ease right;

  .compare-table {
    height: 100%;

    .scenario-overlay {
      position: absolute;
      z-index: 100;
      height: $compare-map-height;
      width: 100%;
      background-color: black;
      opacity: 0.25;
    }

    .scenario-title {
        text-shadow: 0px 0px 5px black;
        position: absolute;
        top: 5px;
        z-index: 101;
        left: 15px;
        opacity: 1;
        color: white;
    }

    tbody {
      tr {
        height: 100%;
        td {
          .compare-column {
            position: relative;
            z-index: 50;
            width: 48vw;
            height: 100%;
            overflow: hidden;
            display: inline-block;
            float: left;
            border-right: solid 1px $black-12;

            @media(min-width: 768px) {
              width: 32.5vw;
            }

            @media(min-width: 1024px) {
              width: 24.5vw;
            }

            @media(min-width: 1280px) {
              width: 19.5vw;
            }
          }

          h3 {
            display: inline-block;
            font-size: $font-size-h4;
          }

          .fa-minus-square {
            opacity: 0.54 !important;
          }

          .map-region {
            height: $compare-map-height;
            width: 100%;

            .map-container {
              position: relative;
              width: 100%;
              height: 100%;

              .map {
                height: 100%;
                width: 100%;
                position: relative;
                z-index: 1;

                .leaflet-control-container {
                  display: none;
                }
              }

              .scenario-title {
                position: absolute;
                z-index: 50;
                width: 100%;
                height: 100%;
                background-color: $black-74;
                vertical-align: bottom;
                padding: 1rem;

                h3 {
                  position: absolute;
                  bottom: 1rem;
                  left: 1rem;
                }
              }
            }
          }

          .chart-table-regions {
            height: $compare-chart-table-height;
            overflow-y: auto;
            overflow-x: hidden;
        }

          .modeling-region {
            width: 100%;

            label {
              font-size: $font-size-h5;
              margin-top: 4px;
              input[type="range"] {
                width: 80px;
                display: inline;
              }
            }

            .modeling-container {
              position: relative;
              width: auto;
              height: 100%;
              padding: 1rem 1rem 0 1rem;

              .fa-spin {
                margin-left: 8px;
                font-size: $font-size-h4;
                color: rgba(0, 0, 0, 0.54);
              }

              .header {
                height: 12%;
              }

              .result-region {
                height: 95%;

                .tab-pane {
                  height: 100%;
                  .quality-chart-region, .runoff-chart-region {
                    height: 100%;
                  }
                }
              }

              .controls-region {
                .controls {
                  .precipitation {
                    .btn-primary {
                      z-index: 10;
                      padding: 0;
                      margin-top: 10px;
                      width: 100%;

                      label {
                        display: table;
                        width: 100%;

                        span {
                          display: table-cell;
                          width: 10%;
                          white-space: nowrap;
                          padding: 5px;
                        }
                        input {
                          display: table-cell;
                          width: 100%;
                          vertical-align: bottom;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .modifications-region {
            width: 100%;

            .modifications-container {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 0.5rem 1rem;

              .modifications-table {
                font-size: $font-size-h4;
                width: 100%;
                td {
                  padding: 2px;
                  &:first-child {
                    padding-left: 0;
                  }
                  &:last-child {
                    padding-right: 0;
                  }
                }
                .modification-area {
                  color: $brand-primary;
                  text-align: right;
                }
              }
            }
          }

          .compare-section-collapse {
            height: 52px!important;
          }

        }
      }
    }
  }

  #edge-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    background: rgba(255,255,255,.4);
    width: 4vw; // these widths correspond to compare-column width

    @media(min-width: 768px) {
      width: 2.5vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1024px) {
      width: 2vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1280px) {
      width: 2.5vw; // these widths correspond to compare-column width
    }
  }
} //End Container

// Footer Controls
#compare-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $compare-footer-height;
  background-color: $ui-light;
  z-index: 100;

  #slide-controls {
    float: right;
    padding: 8px;
  }

  .back {
      line-height: 50px;
      height: 100%;
      display: inline-block;
      position: relative;
      vertical-align: top;
  }
}

.compare-column {
  .downloadcsv-link {
    margin: 0 0 10px;
  }
  caption {
    font-size: $font-size-h4;
    font-weight: 800;
    color: $black-74;
  }
}
