$compare-padding: 20px;
$compare-footer-height: 50px;
$compare-map-height: 25vh;
// Calculate the height between the header and footer, and below the map
$compare-chart-table-height: calc(100vh - #{$height-lg} - #{$compare-footer-height} - #{$compare-map-height});


.compare-scenarios-container {
  overflow: hidden;
  position: absolute;
  top: $height-lg;
  left: 0;
  right: 0;
  bottom: $compare-footer-height;
  z-index: 100;
  background-color: $ui-light;
  transition: 0.3s ease left, 0.3s ease right;

  .compare-table {
    height: 100%;

    .scenario-overlay {
      position: absolute;
      z-index: 100;
      height: $compare-map-height;
      width: 100%;
      background-color: black;
      opacity: 0.25;
    }

    .scenario-title {
        text-shadow: 0px 0px 5px black;
        position: absolute;
        top: 5px;
        z-index: 101;
        left: 15px;
        opacity: 1;
        color: white;
    }

    tbody {
      tr {
        height: 100%;
        td {
          .compare-column {
            position: relative;
            z-index: 50;
            width: 48vw;
            height: 100%;
            overflow: hidden;
            display: inline-block;
            float: left;
            border-right: solid 1px $black-12;

            @media(min-width: 768px) {
              width: 32.5vw;
            }

            @media(min-width: 1024px) {
              width: 24.5vw;
            }

            @media(min-width: 1280px) {
              width: 19.5vw;
            }
          }

          h3 {
            display: inline-block;
            font-size: $font-size-h4;
          }

          .fa-minus-square {
            opacity: 0.54 !important;
          }

          .map-region {
            height: $compare-map-height;
            width: 100%;

            .map-container {
              position: relative;
              width: 100%;
              height: 100%;

              .map {
                height: 100%;
                width: 100%;
                position: relative;
                z-index: 1;

                .leaflet-control-container {
                  display: none;
                }
              }

              .scenario-title {
                position: absolute;
                z-index: 50;
                width: 100%;
                height: 100%;
                background-color: $black-74;
                vertical-align: bottom;
                padding: 1rem;

                h3 {
                  position: absolute;
                  bottom: 1rem;
                  left: 1rem;
                }
              }
            }
          }

          .chart-table-regions {
            height: $compare-chart-table-height;
            overflow-y: auto;
            overflow-x: hidden;
        }

          .modeling-region {
            width: 100%;

            label {
              font-size: $font-size-h5;
              margin-top: 4px;
              input[type="range"] {
                width: 80px;
                display: inline;
              }
            }

            .modeling-container {
              position: relative;
              width: auto;
              height: 100%;
              padding: 1rem 1rem 0 1rem;

              .fa-spin {
                margin-left: 8px;
                font-size: $font-size-h4;
                color: rgba(0, 0, 0, 0.54);
              }

              .header {
                height: 12%;
              }

              .result-region {
                height: 95%;

                .tab-pane {
                  height: 100%;
                  .quality-chart-region, .runoff-chart-region {
                    height: 100%;
                  }
                }
              }

              .controls-region {
                .controls {
                  .precipitation {
                    .btn-primary {
                      z-index: 10;
                      padding: 0;
                      margin-top: 10px;
                      width: 100%;

                      label {
                        display: table;
                        width: 100%;

                        span {
                          display: table-cell;
                          width: 10%;
                          white-space: nowrap;
                          padding: 5px;
                        }
                        input {
                          display: table-cell;
                          width: 100%;
                          vertical-align: bottom;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          .modifications-region {
            width: 100%;

            .modifications-container {
              position: relative;
              width: 100%;
              height: 100%;
              padding: 0.5rem 1rem;

              .modifications-table {
                font-size: $font-size-h4;
                width: 100%;
                td {
                  padding: 2px;
                  &:first-child {
                    padding-left: 0;
                  }
                  &:last-child {
                    padding-right: 0;
                  }
                }
                .modification-area {
                  color: $brand-primary;
                  text-align: right;
                }
              }
            }
          }

          .compare-section-collapse {
            height: 52px!important;
          }

        }
      }
    }
  }

  #edge-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    background: rgba(255,255,255,.4);
    width: 4vw; // these widths correspond to compare-column width

    @media(min-width: 768px) {
      width: 2.5vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1024px) {
      width: 2vw; // these widths correspond to compare-column width
    }

    @media(min-width: 1280px) {
      width: 2.5vw; // these widths correspond to compare-column width
    }
  }
} //End Container

// Footer Controls
#compare-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $compare-footer-height;
  background-color: $ui-light;
  z-index: 100;

  #slide-controls {
    float: right;
    padding: 8px;
  }

  .back {
      line-height: 50px;
      height: 100%;
      display: inline-block;
      position: relative;
      vertical-align: top;
  }
}

.compare-column {
  .downloadcsv-link {
    margin: 0 0 10px;
  }
  caption {
    font-size: $font-size-h4;
    font-weight: 800;
    color: $black-74;
  }
}

#compare-new {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8000;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 1200px;
  max-height: calc(100% - 20px);

  @media screen and (max-width: 1300px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1000px) {
    margin-top: 0;
    max-height: 100%;
  }

  .compare-actions {
    padding-top: 20px;
    @include clearfix;
  }

  .compare-sections {
    flex: 1;
    overflow: auto;
  }

  .compare-close {
    position: absolute;
    top: 20px;
    right: 20px;

    button {
      background: none;
      border: none;
      padding: 0;
    }
  }

  .compare-tabs {
    float: left;
    @include clearfix;
  }

  .compare-tab {
    float: left;
    position: relative;
    color: #999;
    text-decoration: none;

    &.active {
      color: $brand-primary;
      font-weight: 800;

      &:after {
        border-bottom-color: $brand-primary;
      }
    }
    &:after {
      position: absolute;
      left: 0;
      content: "";
      border-bottom: 2px solid transparent;
      padding-bottom: 0px;
      top: 0;
      height: 30px;
      line-height: 30px;
      width: 100%;
      margin-top: 2px;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  .compare-scenarios {
    @include clearfix;
    padding: $compare-padding 0;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    position: relative;
  }

  .compare-table-row {
    @include clearfix;
    padding: $compare-padding 0;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    border-bottom: 1px solid #ccc;

    .compare-column {
      text-align: right;
    }
  }

  .compare-scenario-gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 1) 100%);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;
    position: absolute;
    z-index: 200;
  }

  .compare-section {
    padding: $compare-padding 0;
    border-bottom: 1px solid #cccccc;
    display: flex;
    width: 100%;
    &:last-child {
      border-bottom: 0;
    }
  }

  .compare-header {
    padding: $compare-padding $compare-padding 11px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    z-index: 300;

    .fa {
      font-size: 15px;
    }
  }

  .compare-scenario-row-description {
    width: 240px;
    min-width: 240px;
    padding: 0 $compare-padding;

    h2 {
      margin-bottom: 10px;
    }
  }

  .compare-scenario-row-content-container {
    overflow: hidden;
  }

  .compare-scenario-row-content {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
  }

  .compare-scenario-samplechartplaceholder {
    min-width: 790px;
    background-color: #aaa;
    height: 210px;
  }

  .compare-column {
    min-width: 120px;
    width: 120px;

    .compare-scenario-title {
      font-size: $font-size-h5;
      font-weight: 400;
    }

    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  .compare-scenarios {
    border-bottom: 1px solid #cccccc;
  }

  .scenario-badge {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #333;
    position: relative;
    top: 1px;
    display: inline-block;
    margin-right: 4px;
  }

  .compare-scenario-buttons {
    position: absolute;
    right: 0;
    top: 44px;
    right: 6px;
    z-index: 200;

    button {
      background-color: $brand-primary;
      color: #fff;
      border-radius: 100%;
      border: none;
      height: 40px;
      width: 40px;
      font-size: $font-size-h4;
      box-shadow: 1px 1px rgba(117, 117, 117, 0.6);

      &:not(.active) {
        background-color: #666;
      }

      &:not(.visible) {
        display: none;
      }
    }
  }

  .compare-map-container {
      cursor: pointer !important;
      height: 90px;
      background-color: #aaa;
      margin-bottom: 10px;
      width: 120px;
  }

  .compare-modifications-table {
      font-size: $font-size-h5;
      width: 100%;
      .modification-value {
          padding-right: 12px;
      }
      .modification-area {
          color: $brand-primary;
          text-align: right;
      }
  }

  .compare-no-mods-popover {
      width: 189px;
      > .compare-no-mod-title {
          margin-bottom: 2px;
      }
  }

  .compare-inputs {
    float: right;
    margin-right: -5px;
    @include clearfix;

    button {
      padding: 1px 4px;
      margin-top: -4px;
      background-color: transparent;
      border: 0;

      &.active {
        background-color: #666;
        color: #fff;
      }
    }
  }

  .compare-input {
    float: left;
    &:not(:last-child) {
      margin-right: 12px;
    }

    &.compare-precipitation {
      margin-right: 20px;
      label {
        font-size: 12px;
      }
    }
  }
}
