.data-catalog-window {
    transition: all 200ms;
    flex-direction: column;

    .tab-contents-region {
        flex: 1;
    }

    .result-details-region {
        .result {
            background: $paper;
            padding: 1rem;

            p {
                margin: 5px 0 0 0;
            }

            #cuahsi-status-region {
                position: relative;

                .spinner:after {
                    top: 1rem;
                    right: 1rem;
                }

                .error {
                    position: absolute;
                    right: 13px;
                }
            }

            .result-detail-header {
              h2 {
                  display: inline-block;
                  margin: 10px 0 4px;
                  max-width: 95%;
              }

              a.zoom {
                display: block;
              }

              .close {
                float: none;
                display: block;
                opacity: 1;
                color: #389b9b;
                text-shadow: none;
                font-size: 13px;
                font-weight: 400;
                padding: 6px 0 2px;
              }
            }

            .cuahsi-buttons {
                button {
                    padding: 1px 4px;
                    margin-top: -4px;
                    background-color: transparent;
                    border: 0;

                    &.active {
                        color: $paper;
                        background-color: $black-54;
                    }
                }
            }

            #cuahsi-chart-region {
                margin-top: 20px;

                .cuahsi-variable-select {
                    margin-bottom: 10px;
                }
            }

            .hydroshare-nav-tabs > li > a {
                padding: 10px 15px !important;
            }

            .hydroshare-tab-content {
                padding-top: 15px;
            }
        }
    }

    .pager-region {
        > div > div {
            padding: 10px 0;
            background: $paper;
            border-top: 1px solid $black-12;
            position: fixed;
            bottom: 68px;
            width: $sidebar-width;

            .model-stage-monitor-tab-pane & {
                bottom: 0;
            }
        }
    }

    .data-catalog-title {
        margin: 10px 0 0;
        padding: 10px;
    }

    .data-catalog-form {
        padding: 1rem 1rem 0 1rem;

        &:hover {
            text-decoration: none;
        }

        .data-catalog-search {
            display: flex;
            flex-direction: column;

            button {
                border-radius: 2px;

                &:focus {
                    outline: none;
                }
            }

            .search-group {
                display: flex;

                input[type="text"] {
                    border-radius: 0;
                    box-shadow: none;
                    flex: 1;
                    height: auto;
                }

                .btn-search {
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    margin-left: -1px;
                }
            }

            .search-options-group {
                margin: 0 -10px;
                padding: 0.7rem 0;
                border-bottom: 1px solid $black-12;
            }
        }

        > .dropdown {
            display: inherit;
            line-height: inherit !important;
            position: absolute;
            left: 422px;
            margin-top: 12px;

            > button {
                border: 0;
                background-color: transparent;
            }
        }
    }

    .intro-text {
        padding: 1.5rem 1rem;

        p {
            margin-bottom: 10px;
        }
    }

    .output-tabs-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .catalog-tab-content {
        padding: 0;

        .loading-panel,
        .no-results-panel {
            text-align: center;
            font-size: larger;
            padding: 10px;
        }
    }

    .catalog-description {
        padding: 10px;
    }

    .resource {
        cursor: pointer;

        &+.resource{
            border-top: 1px solid $black-12;
        }

        &:hover {
            background: #F3F3F3;
        }

        .resource-wrapper {
          padding: 15px 10px;

          &.active {
              background: #F3F3F3;
          }
        }
    }
}

.data-catalog-window,
.data-catalog-resource-popover,
.data-catalog-popover-list-item {
    h3 {
        margin-bottom: 7px;
    }

    .resource-description {
        color: $ui-grey;
        padding-bottom: 3px;
    }

    .resource-date {
        font-size: $font-size-h5;
    }

    .resource-detail {
        font-size: $font-size-h5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .resource-detail.-showall {
        display: flex;
        white-space: normal;
        overflow: auto;
        text-overflow: initial;
        > i {
            flex: 0 0 18px;
        }
        > .detail-text {
            display: inline;
        }
    }

    .resource {
        .resource-title {
            font-size: $font-size-h4;
            font-weight: 800;
            margin-bottom: 4px;
        }

        i.fa {
            width: 14px;
            text-align: center;
            margin-right: 4px;
        }
    }

    .expand-list-btn {
        padding: 0;
    }
}

.data-catalog-resource-popover {
    .resource .resource-description {
        color: #787878;
        font-size: 13px;
        padding-bottom: 3px;
    }

    .data-catalog-popover-details-btn {
        border-radius: 0px;
        margin-top: 10px;
    }
}

.data-catalog-popover-container
.data-catalog-resource-popover {
    padding: 0 10px 10px 10px;
}

.data-catalog-popover-back-btn {
    color: $brand-primary;
    border: none;
    background: none;
    padding: 10px;
    font-size: $font-size-h5;
}

.data-catalog-popover-result-list {
    padding: 0px;
}

.data-catalog-popover-pagination {
    text-align: center;
}

.data-catalog-popover-pagination
.data-catalog-popover-pagination-btn {
    border: none;
    background: none;
    &:disabled {
        color: $ui-light;
    }
}

.data-catalog-popover-pagination-btn,
.data-catalog-popover-num-results {
    // Important because leaflet popup title
    // tries to add a margin-bottom
    margin-bottom: 0 !important;
}

.data-catalog-popover-num-results {
    color: $ui-secondary;
    font-weight: 800;
    padding: 6px;
    padding-top: 0;
    border-bottom: 1px solid $ui-light;
}

.data-catalog-popover-list-item {
    display: block;
    .data-catalog-popover-list-item-btn {
        border: none;
        border-bottom: 1px solid $ui-light;
        padding: 6px;
        background: none;
        text-align: left;
        width: 100%;

        &:hover {
            background: #f3f3f3;
        }
    }

    .data-catalog-popover-list-item-btn
    .list-item-title {
        color: $brand-primary;
        height: 17px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .data-catalog-popover-list-item-btn
    .data-catalog-popover-list-item-date {
        color: $ui-grey;
        font-size: $font-size-h5;
    }
}

.data-catalog-filter-window {
    left: $sidebar-width;
    width: $secondary-sidebar-width;
    transition: all 200ms;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 44px;

    body.modeling-stage & {
        top: 91px;
    }

    .data-catalog-filters-header {
        display: flex;
        flex-direction: row;
        height: 42px;
        padding: 0 calc(1rem + 2px);
        background-color: $black-06;
        border-bottom: 1px solid $black-12;

        body.modeling-stage & {
            height: 47px;
        }

        > .filter-title {
            font-size: 16px;
            font-weight: 800;
            line-height: 42px;

            body.modeling-stage & {
                line-height: 47px;
            }
        }

        > .btn-reset {
            margin-left: auto;
            font-weight: 600;
            color: $brand-primary;
            font-size: 13px;
            line-height: 42px;

            body.modeling-stage & {
                line-height: 47px;
            }
        }
    }

    .data-catalog-filter-groups {
        padding: 1rem;
        border-left: 2px solid $ui-light;
        flex: 1;

        .data-catalog-filter-group {
            h5,
            label {
                font-weight: 700;
                margin-top: 4px;
                font-size: 12px;
                color: #4d6d82;
            }

            .data-catalog-filter-checkbox {
                input[type=checkbox] {
                  position: relative;
                  margin-right: 5px;
                  display: none;
                  &:checked + .checkbox--styled {
                    background-color: $brand-primary;
                    border-color: $brand-primary;
                    text-align: center;
                    &:after {
                        content: "\f00c";
                        font-family: FontAwesome;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        right: 0;
                        line-height: 18px;
                    }
                  }
                }

                .checkbox--styled {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border: 0;
                    border-radius: 2px;
                    position: relative;
                    margin-right: 3px;
                    top: 3px;
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                    background-color: #fff;
                }

                input, .checkbox--styled {
                    border: 1px solid #ccc;
                }

                label {
                  font-size: $font-size-h4;
                }
            }

            .data-catalog-search-dates {
                padding: 0 10px;
                margin: 0 -10px 0;

                label {
                    display: block;
                    font-size: $font-size-h5;
                }
            }

            .data-catalog-clearable-input {
                width: 100%;
                display: inline-block;
                position: relative;
            }

            .data-catalog-date-input {
                height: 38px;
                border-radius: 0;
                display: inline;
                margin-bottom: 12px;
            }

            .data-catalog-clear-icon {
                color: $ui-secondary;
                position: relative;
                font-size: 13px;
                position: absolute;
                right: 10px;
                top: 10px;
            }

            .data-catalog-validation-msg {
                color: $ui-danger;
                margin-top: 8px;
            }
        }
    }
}

.result-details-region {
    > div {
        position: absolute;
        width: $sidebar-width;
        overflow-y: scroll;

        .analyze-stage-monitor-tab-pane & {
            // Set a specific height to allow y-scroll:
            // Calc height under the main header (height-lg)
            // and the Analyze / Monitor tabs (42px)
            // and above the next-stage-region (68px)
            height: calc(100% - #{$height-lg} - 42px - 68px) !important;
        }
    }

    p {
        font-size: $font-size-h5;
    }

    .btn {
        font-size: 14px;
        border-radius: 2px;
    }
}

.table-data-detail {
    font-size: $font-size-h5;
    margin: 14px 0 6px;

    td,
    th {
        vertical-align: top;
        padding-bottom: 10px;
    }

    td {
        color: #777;
    }

    th {
        padding-right: 20px;
    }
}

.data-catalog-search-dates label {
    font-weight: 600;
    color: #555;
    font-size: 13px;
    margin: 10px 0px 12px;
}

.data-catalog-filter-group .data-catalog-filter-checkbox label {
    font-size: 13px;
    font-weight: 600;
    color: #555;
    padding-left: 0;
}

.contribute-modal {
    .contribute-group {
        display: flex;
        flex-direction: column;

        & + .contribute-group {
            margin-top: 2rem;
        }

        .contribute-row {
            display: flex;
            justify-content: space-between;
        }

        .contribute-description {
            p {
                margin-bottom: 1rem;
            }
        }

        .contribute-link {
            margin-left: 1rem;
        }

        .contribute-logos {
            display: flex;
            justify-content: space-evenly;

            img {
                max-width: 250px;
                margin: 1rem;
            }
        }
    }
}
