.data-catalog-window {
    width: $sidebar-width;
    transition: all 200ms;
    overflow-y: auto;
    background-color: $ui-light;

    .data-catalog-title {
        margin: 0.5em 0;
        padding: 0.5em;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .data-catalog-form {
        position: relative;
        padding: 0.5em;

        .data-catalog-search-input {
            width: 99%;
            height: 38px;
            border: none;
            border-radius: 0;
            padding-left: 38px;
            font-size: 0.8em;
        }
        .data-catalog-date-input {
            width: 46%;
            height: 38px;
            border: none;
            border-radius: 0;
            display: inline;
        }
        .data-catalog-validation-msg {
          color: $ui-danger;
          margin-top: 8px;
        }
        .data-catalog-search-icon {
            color: $ui-grey;
            position: relative;
            top: 30px;
            left: 8px;
            font-size: 18px;
        }
        .form-group {
          margin-right: 15px;
        }
        .date-filter-toggle {
          position: absolute;
          right: 0;
          top: -30px;
        }
    }

    .intro-text {
        padding: 10px;
    }

    .tab-content {
        padding: 0;
        background: $ui-light;
        height: 100vh;

        .loading-panel,
        .no-results-panel {
            text-align: center;
            font-size: larger;
            padding: 10px;
        }
    }

    .catalog-description {
        padding: 10px;
    }

    .resource {
        background: $paper;
        padding: 10px;
        margin-bottom: 1px;

        &:hover {
            background: $paper-12;
        }

        .resource-title {
            font-size: 1em;
            font-weight: 500;
            margin-bottom: 0.5em;
        }
    }
}
