.data-catalog-window {
    width: $sidebar-width;
    transition: all 200ms;
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 90px;

    .tab-contents-region {
        background-color: rgba(0, 0, 0, 0.06);
        flex: 1;
        overflow: hidden;
        position: relative;
    }

    .result-details-region {
        .result {
            padding: 10px;
            bottom: 0px;
            top: 0px;
            width: 100%;
            position: absolute;
            z-index: 1000;
            background-color: #fff;
            overflow: auto;

            p {
                margin: 5px 0 0 0;
            }

            .spinner:after {
              top: 22px;
              right: 7px;
            }

            .error {
                position: absolute;
                top: 11px;
                right: 10px;
            }

            .result-detail-header {
              h2 {
                  display: inline-block;
                  margin: 10px 0 4px;
                  max-width: 95%;
              }

              a.zoom {
                display: block;
              }

              .close {
                float: none;
                display: block;
                opacity: 1;
                color: #389b9b;
                text-shadow: none;
                font-size: 13px;
                font-weight: 400;
                padding: 6px 0 2px;
              }
            }

            .cuahsi-buttons {
                button {
                    padding: 1px 4px;
                    margin-top: -4px;
                    background-color: transparent;
                    border: 0;

                    &.active {
                        color: $paper;
                        background-color: $black-54;
                    }
                }
            }

            #cuahsi-chart-region {
                margin-top: 20px;

                .cuahsi-variable-select {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .result-region {
        height: auto !important;
        width: auto !important;
        padding: 6px 0px;

        &.paginated {
            position: absolute;
            overflow-y: auto;
            top: 0px;
            bottom: 54px;  // .pager-region height + padding-top
        }
    }

    .pager-region {
        > div {
            padding: 10px 0;
            background-color: #e6e6e6;
            border-top: 1px solid $black-12;
            position: fixed;
            bottom: 0px;
            width: $sidebar-width;

            .row {
                margin-left: -5px !important;
                margin-right: -5px !important;
            }
        }
    }

    .data-catalog-title {
        margin: 10px 0 0;
        padding: 10px;
    }

    .data-catalog-form {
        position: relative;
        padding: 4px 10px;

        &:hover {
            text-decoration: none;
        }

        .data-catalog-search-component {
            position: relative;
        }

        .data-catalog-search-input {
            width: 99%;
            height: 38px;
            border: none;
            padding-left: 31px;
        }
        .data-catalog-search-icon {
            color: $ui-grey;
            position: absolute;
            top: 10px;
            left: 8px;
            font-size: 18px;
        }
        .form-group {
          margin-right: 15px;
        }
        .filter-sidebar-toggle {
          position: absolute;
          right: 1.5rem;
          top: -36px;
        }
    }

    .intro-text {
        padding: 10px;
    }

    .output-tabs-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .tab-pane {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .tab-content {
        padding: 0;
        background: #E6E6E6;
        top: 0;
        bottom: 0;

        .loading-panel,
        .no-results-panel {
            text-align: center;
            font-size: larger;
            padding: 10px;
        }
    }

    .catalog-description {
        padding: 10px;
    }

    .resource {
        background: $paper;
        margin: 0 10px 3px 10px;
        cursor: pointer;

        &:hover {
            background: #F3F3F3;
        }

        .resource-wrapper {
          padding: 10px;

          &.active {
              background: #F3F3F3;
          }
        }
    }
}

.data-catalog-window,
.data-catalog-resource-popover,
.data-catalog-popover-list-item {
    .btn-secondary {
        height: auto;
    }

    h3 {
        margin-bottom: 7px;
    }

    .resource-description {
        color: $ui-grey;
        font-size: $font-size-h5;
        padding-bottom: 3px;
    }

    .resource-date {
        font-size: $font-size-h5;
    }

    .resource-detail {
        font-size: $font-size-h5;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .resource-detail.-showall {
        display: flex;
        white-space: normal;
        overflow: auto;
        text-overflow: initial;
        > i {
            flex: 0 0 18px;
        }
        > .detail-text {
            display: inline;
        }
    }

    .resource {
        .resource-title {
            font-size: $font-size-h4;
            font-weight: 600;
            margin-bottom: 4px;
        }

        i.fa {
            width: 14px;
            text-align: center;
            margin-right: 4px;
        }
    }
}

.data-catalog-resource-popover {
    .resource .resource-description {
        color: #787878;
        font-size: 13px;
        padding-bottom: 3px;
    }

    .data-catalog-popover-details-btn {
        border-radius: 0px;
        margin-top: 10px;
    }
}

.data-catalog-popover-container
.data-catalog-resource-popover {
    padding: 0 10px 10px 10px;
}

.data-catalog-popover-back-btn {
    color: $brand-primary;
    border: none;
    background: none;
    padding: 10px;
    font-size: $font-size-h5;
}

.data-catalog-popover-result-list {
    padding: 0px;
}

.data-catalog-popover-pagination {
    text-align: center;
}

.data-catalog-popover-pagination
.data-catalog-popover-pagination-btn {
    border: none;
    background: none;
    &:disabled {
        color: $ui-light;
    }
}

.data-catalog-popover-pagination-btn,
.data-catalog-popover-num-results {
    // Important because leaflet popup title
    // tries to add a margin-bottom
    margin-bottom: 0 !important;
}

.data-catalog-popover-num-results {
    color: $ui-secondary;
    font-weight: 800;
    padding: 6px;
    padding-top: 0;
    border-bottom: 1px solid $ui-light;
}

.data-catalog-popover-list-item {
    display: block;
    .data-catalog-popover-list-item-btn {
        border: none;
        border-bottom: 1px solid $ui-light;
        padding: 6px;
        background: none;
        text-align: left;
        width: 100%;

        &:hover {
            background: #f3f3f3;
        }
    }

    .data-catalog-popover-list-item-btn
    .list-item-title {
        color: $brand-primary;
        height: 17px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .data-catalog-popover-list-item-btn
    .data-catalog-popover-list-item-date {
        color: $ui-grey;
        font-size: $font-size-h5;
    }
}

.data-catalog-filter-window {
    padding: 1rem;
    padding-top: 2rem;
    left: $sidebar-width;
    width: $secondary-sidebar-width;
    transition: all 200ms;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    top: 90px;
}

.data-catalog-filter-window > .data-catalog-filters-header {
    display: flex;
    flex-direction: row;
    > .filter-title {
        line-height: $height-md;
    }
    > .btn-reset {
        margin-left: auto;
        font-weight: 600;
        color: $brand-primary;
    }
}

.data-catalog-filter-window > .data-catalog-filter-group {
    h5 {
        text-transform: uppercase;
        font-weight: 800;
    }
}

.data-catalog-filter-group .data-catalog-filter-checkbox {
    input[type=checkbox] {
      position: relative;
      margin-right: 5px;
    }

    label {
      font-size: $font-size-h4;
    }
}

.data-catalog-filter-group .data-catalog-search-dates {
    padding: 12px 10px;
    margin: 0 -10px 10px;

    label {
        text-transform: uppercase;
        display: block;
        font-size: $font-size-h5;
    }
}

.data-catalog-filter-group {
    .data-catalog-clearable-input {
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .data-catalog-date-input {
        height: 38px;
        border: none;
        border-radius: 0;
        display: inline;
        margin-bottom: 12px;
    }
    .data-catalog-clear-icon {
        color: $ui-secondary;
        position: relative;
        font-size: 13px;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .data-catalog-validation-msg {
        color: $ui-danger;
        margin-top: 8px;
    }
}

.result-details-region {
    p,
    .btn {
        font-size: $font-size-h5;
    }
}

.table-data-detail {
    font-size: $font-size-h5;
    margin: 14px 0 6px;

    td,
    th {
        vertical-align: top;
        padding-bottom: 10px;
    }

    td {
        color: #777;
    }

    th {
        padding-right: 20px;
    }
}
