#draw-window,
#splash-window {
  width: $sidebar-width;
  padding: 15px;
  transition: all 200ms;
  overflow-y: auto;
  position: absolute;
  height: calc(100% - #{$height-lg});
  & > h1, & > h2 {
    font-size: $font-size-h1;
    font-weight: 800;
  }
  & > p {
    font-size: $font-size-h4;
    margin: 10px 0;
  }
  padding-top: 30px;
  #get-started {
    font-size: $font-size-h3;
    font-weight: 800;
  }
}

.splash-step {
  padding: 8px;

  & .badge {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #324376;
  }

  h2 {
    font-size: $font-size-h3;
  }

  & p {
    margin-left: 30px;
    font-size: $font-size-h4;
  }
}

.splash-logo {
    height: 52px;
    margin-top: 1rem;
    padding: 1rem;
}

#draw-pane-header-description {
  margin-top: 0.8rem;
  font-size: $font-size-p;
}

#draw-pane-buttons {
  margin-top: 1rem;

  & .draw-button-group {
      width: 100%;
  }

  & .draw-tool-button {
    background-color: #d4d7d8;
    padding: 0.6rem 1rem;
    margin-top: 8px;
    &.-hasselection {
        margin-bottom: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
  }

  & .reset-draw-button {
    cursor: pointer;
  }

  & .draw-tool-selection {
    padding: 1rem 1rem;
    background-color: $brand-primary;
    font-size: $font-size-p;
    color: $paper;
    font-weight: lighter;

    & i {
      margin-top: 0.1rem;
    }
  }

  & .draw-button-title {
    font-size: $font-size-h3;
    text-align: left;
    font-weight: 500;
    color: black;
    line-height: 1.4;
    margin-top: 0.4rem;
    float: none !important;
    margin-bottom: 0.4rem;
  }

  & .draw-button-subtitle {
    font-size: $font-size-h4;
    text-align: left;
    margin-bottom: 0.4rem;
  }

  & #upload-file-region {
    height: 10rem;

    & #file-upload-title {
      margin-top: 0;
    }
  }

  & #draw-tool-file-upload-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  & .draw-pane-list {
    text-align: left;
    font-size: 1rem;
    width: 100%;

    & .draw-pane-list-item {
      list-style-type: none;
      font-size: $font-size-h4;

      & .draw-pane-list-item-button {
        background: transparent;
        display: block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.8rem;
      }

      & .draw-pane-list-item-button:disabled {
        color: #7f8181;
      }

      & .draw-pane-description-list {
        margin-bottom: 1rem;
        > li {
            margin: 0.25rem 0;
            font-size: $font-size-h4;
            list-style-type: disc;
        }
      }

      & a.help {
        color: #999;
        padding: 0.5rem 1rem;

        &:hover {
          color: inherit;
        }
      }
    }
  }

  & .delineate-watershed-status-icon {
    margin-top: 1rem;
  }

}

#popover-close-button {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.aoi-upload-dropdown {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 0 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  padding: 1rem 1rem;
}

.draw-tools {
  .thumb-select {
    label {
      font-size: $font-size-h5;
    }
  }
}

.dropdown-footer {
  h2 {
    font-size: $font-size-h3;
    margin: 0.4rem 0 0.8rem;
  }
}
