#draw-window,
#splash-window {
  width: 460px;
  padding: 15px;
  transition: all 200ms;
  overflow-y: auto;
  & > h1, & > h2 {
    font-size: $temp-h1;
    font-weight: 800;
  }
  & > p {
    font-size: $temp-h3;
    margin: 10px 0;
  }
  padding-top: 30px;
  @media(min-width: 1040px) {
    width: 400px;
  }
  #get-started {
    font-size: $temp-h3;
  }
  h2 {
    font-size: $temp-h2;
  }
}

.splash-step {
  padding: 8px;

  & .badge {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-color: #324376;
  }

  h2 {
    font-size: $temp-h3;
  }

  & p {
    margin-left: 30px;
    font-size: $temp-h4;
  }
}

#draw-pane-header-description {
  margin-top: 0.8rem;
  font-size: $temp-p;
}

#draw-pane-buttons {
  margin-top: 1rem;

  & .draw-button-group {
      width: 100%;
  }

  & .draw-tool-button {
    background-color: #d4d7d8;
    padding: 0.1rem 0.6rem;
    margin-bottom: 8px;
    &.-hasselection {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
  }

  & .reset-draw-button {
    cursor: pointer;
    margin-right: 0.53rem;
  }

  & .draw-tool-selection {
    padding: 0.5rem 1.0rem;
    background-color: $brand-primary;
    margin-bottom: 8px;

    & i {
      margin-top: 0.25rem;
    }
  }

  & .draw-button-title {
    font-size: $temp-h3;
    text-align: left;
    font-weight: 400;
    color: black;
    line-height: 1.4;
    margin-top: 0.4rem;
    float: none !important;
  }

  & .draw-button-subtitle {
    font-size: $temp-h4;
    text-align: left;
    margin-bottom: 0.4rem;
  }

  & #upload-file-region {
    height: 10rem;

    & #file-upload-title {
      margin-top: 0;
    }
  }

  & #draw-tool-file-upload-button {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  & .draw-pane-list {
    text-align: left;
    font-size: 1rem;
    width: 100%;

    & .draw-pane-list-item {
      list-style-type: none;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.8rem;
      font-size: $temp-h4;

      & .draw-pane-list-item-button {
        background: transparent;
        border: none;
      }

      & .draw-pane-list-item-button:disabled {
        color: #7f8181;
      }

      & .draw-pane-description-list {
        margin-bottom: 1rem;
        > li {
            margin: 0.25rem 0;
            font-size: 0.7rem;
            list-style-type: disc;
        }
      }

      & a.help {
        color: #999;

        &:hover {
          color: inherit;
        }
      }
    }
  }

  & .delineate-watershed-status-icon {
    margin-top: 1rem;
  }

}

#popover-close-button {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}
