//Layout
#model-output-wrapper {
  width: $sidebar-width !important;
  background-color: $paper;
  z-index: 100;
  height: 100%;

  .disabled {
      text-decoration: none;
  }

  .title-row {
    background-color: $ui-light;
    color: $ui-secondary;

    .title {
      display: inline-block;
      position: relative;

      h2 {
        margin-top: 0.4rem!important;
        line-height: 0.4rem;
      }
    }
  }

  .result-region {
    height: 100%;
    width: 100%;

    .result-title {
        padding-top: 5px;
        font-size: $font-size-h4;
        font-weight: 800;
    }

    .result-description {
        font-size: $font-size-h5;
        font-weight: 400;
        color: $black-54;
        margin-bottom: 4px;
    }

    #view-subbasin-results-link {
        font-weight: 800;
        color: #389b96;
        cursor: pointer;
    }

    .mean-flow {
      font-size: $font-size-h4;
    }

    .runoff-chart-container {
      height: 300px;
      width: 100%;
    }

    .runoff-chart-container.current-conditions {
      height: 300px;
      width: 100%;
    }

    .runoff-selector-region {
      select {
        width: 50%;
      }
    }
  }

  .model-results-tooltip {
    color: #333333;

    i {
      width: 15px;
    }
  }
}

// Hidden form for GMS file downloads
#export-gms-form {
    display: none;
}

.model-details-dropdown {
    width: 240px;
    padding: 1rem;
    z-index: 600;

    > h3 {
        margin: 10px 0;
        font-weight: bold;
        i {
            font-size: 12px;
            vertical-align: middle;
            margin-left: 4px;
            color: black;
        }
    }

    > .edit-btn {
        cursor: pointer;
        font-size: $font-size-h6;
        padding: 0px;
        border: none;
        background: none;
        color: $brand-primary;
        &:hover {
            text-decoration: underline;
        }
    }

    > .aoi-area {
        margin-left: 0;
    }
}

.itsi-model-toolbar {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.subbasin-region {
    .tab-pane {
        .result {
            padding: 1rem;
            background: $paper;

            .result-detail-header {
                a.zoom {
                    display: block;
                }

                .close {
                    float: none;
                    display: block;
                    opacity: 1;
                    color: #389b96;
                    text-shadow: none;
                    font-size: 15px;
                    font-weight: 450;
                    padding: 6px 0 2px;
                }
            }
        }
    }
}
