//Layout
#model-output-wrapper {
  width: $sidebar-width !important;
  background-color: $paper;
  z-index: 100;
  height: 100%;

  .disabled {
      text-decoration: none;
  }

  .title-row {
    background-color: $ui-light;
    color: $ui-secondary;

    .title {
      display: inline-block;
      position: relative;

      h2 {
        margin-top: 0.4rem!important;
        line-height: 0.4rem;
      }
    }
  }

  .result-region {
    height: 100%;
    width: 100%;

    .result-title {
        padding-top: 5px;
        font-size: $font-size-h4;
        font-weight: 800;
    }

    .result-description {
        font-size: $font-size-h5;
        font-weight: 400;
        color: $black-54;
        margin-bottom: 4px;
        margin: 2px 0;
    }

    #view-subbasin-results-link {
        font-weight: 400;
        font-size: $font-size-h5;
        color: #389b96;
        cursor: pointer;
        display: block;
        margin-top: -2px;
    }

    .mean-flow {
      font-size: $font-size-h5;
      font-weight: 700;
      margin-top: 12px;
    }

    .runoff-chart-container {
      height: 300px;
      width: 100%;
    }

    .runoff-chart-container.current-conditions {
      height: 300px;
      width: 100%;
    }

    .runoff-selector-region {
      select {
        width: 50%;
      }
    }
  }

  .model-results-tooltip {
    color: #333333;

    i {
      width: 15px;
    }
  }
}

// Hidden form for GMS file downloads
#export-gms-form {
    display: none;
}

.model-details-dropdown {
    width: 240px;
    padding: 1rem;
    z-index: 600;

    > h3 {
        margin: 10px 0;
        font-weight: bold;
        i {
            font-size: 12px;
            vertical-align: middle;
            margin-left: 4px;
            color: black;
        }
    }

    > .edit-btn {
        cursor: pointer;
        font-size: $font-size-h6;
        padding: 0px;
        border: none;
        background: none;
        color: $brand-primary;
        &:hover {
            text-decoration: underline;
        }
    }
}

.itsi-model-toolbar {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.subbasin-region,
.subbasin-huc12-region {
    .tab-pane {
        .result {
            padding: 1rem;
            background: $paper;

            .catchment-layertoggle {
                padding-left: 0;
                padding-bottom: 2px;
                border: none;
                background: none;
                display: inline;
                width: 100%;

                font-size: $font-size-h5;
                font-weight: 400;
                color: $black-54;
            }

            .result-detail-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .subbasin-spinner {
                    height: 14px;
                    width: 14px;
                    margin: 0.7rem;
                }

                a.zoom {
                    display: block;
                }

                .close {
                    float: none;
                    display: block;
                    opacity: 1;
                    color: #389b96;
                    text-shadow: none;
                    font-size: $font-size-h5;
                    font-weight: 400;
                    padding: 6px 0 2px;
                }
            }
        }
    }
}


.subbasin-huc12-region,
.subbasin-region {
  .nav-tabs {
      margin-left: -10px;
      margin-right: -10px;
  }
}

.subbasin-hotspot-info {
  padding: 6px;

  p {
    color: $paper-74;
    padding: 10px 0;
  }
}
