//Layout
#model-output-wrapper {
  width: $sidebar-width !important;
  background-color: $paper;
  z-index: 100;
  height: 100%;

  .disabled {
      text-decoration: none;
  }

  .title-row {
    background-color: $ui-light;
    color: $ui-secondary;

    .title {
      display: inline-block;
      position: relative;

      h2 {
        margin-top: 0.4rem!important;
        line-height: 0.4rem;
      }
    }
  }

  .result-region {
    height: 100%;
    width: 100%;

    .result-title {
        padding-top: 5px;
        font-size: $font-size-h4;
        font-weight: 800;
    }

    .result-description {
        font-size: $font-size-h5;
        font-weight: 400;
        color: $black-54;
        margin-bottom: 4px;
    }

    .mean-flow {
      font-size: $font-size-h4;
    }

    .runoff-chart-container {
      height: 300px;
      width: 100%;
    }

    .runoff-chart-container.current-conditions {
      height: 300px;
      width: 100%;
    }

    .runoff-selector-region {
      select {
        width: 50%;
      }
    }
  }

  .model-results-tooltip {
    color: #333333;

    i {
      width: 15px;
    }
  }
}

// Hidden form for GMS file downloads
#export-gms-form {
  display: none;
}
