.monitor-window {
  padding: 1rem;

  .monitor-search {
    display: flex;

    button {
      border-radius: 2px;
    }

    .search-group {
      display: flex;
      flex: 3;
      padding-right: 5px;

      input[type="text"] {
        border-radius: 0;
        box-shadow: none;
        flex: 1;
        height: auto;
      }

      .btn-search {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-left: -1px;
      }
    }
  }

  .intro-text {
    margin-top: 15px;
  }
}
