//Layout
#search-map {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 100;
  padding: 1rem;

  @media(max-width: 1200px) {
    max-width: 595px;
  }

  .search-icon {
    font-size: 0.8rem;
    color: $black-54;
    position: absolute;
    top: 30px;
    left: 293px;

    &.empty {
      color: $black-24;
    }

    &.error {
      color: $ui-danger;
    }
  }

  .message {
    position: absolute;
    color: $paper-74;
    background-color: $black-54;
    border-radius: 2px;
    box-shadow: 0 0 6px $black-74;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    margin-top: 6px;
    width: 300px;

    &.dismiss {
      float: right;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

#aoi-header-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $paper;
  z-index: 100;
  width: 100%;
}

#geocode-search-results-region {
  position: absolute;

  ul {
    list-style-type: none;
    position: absolute;
    border-radius: 2px;
    box-shadow: 0 0 6px $black-74;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    color: $black-54;
    background-color: $paper;
    margin-top: 6px;
    min-width: 300px;
    z-index: 10;
    & > li {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-bottom: solid 1px $black-12;

      &:last-child {
        border: none;
      }

      &:hover {
        color: $ui-primary;
      }
    }
  }

}
