//Layout
#search-map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 600;
  padding: 0.7rem;
  padding-right: $right-controls-margin;

  @media(max-width: 1200px) {
    max-width: 595px;
    // Let clicks pass through to leaflet-right controls
    pointer-events: none;
  }

  @media(max-width: 750px) {
    // On narrow screens, prevent overlap with
    // leaflet-right controls
    max-width: 320px;
  }

  .search-icon {
    font-size: $font-size-p;
    color: $black-54;
    position: absolute;
    top: 17px;
    right: 20px;

    &.empty {
      color: $black-24;
    }

    &.error {
      color: $ui-danger;
    }
  }

  .message {
    position: absolute;
    color: $paper-74;
    background-color: $black-54;
    border-radius: 2px;
    box-shadow: 0 0 6px $black-74;
    font-size: $font-size-h4;
    padding: 0.5rem 1rem;
    margin-top: 6px;
    width: $search-width;

    &.dismiss {
      float: right;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

#geocode-search-results-region {
  position: absolute;
  right: $right-controls-margin;
  border-radius: 2px;
  box-shadow: 0 0 6px $black-74;
  font-size: $font-size-h4;
  color: $black-54;
  background-color: $paper;
  margin-top: 6px;
  min-width: $search-width;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 700;

  & .geocode-suggestions {
    padding-top: 0.3rem;
  }

  h1 {
    margin: 0.6rem 0.5rem 0.3rem;
    border-bottom: 1px solid #ccc;
    font-size: $font-size-h4;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 0.3rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      cursor: pointer;
      padding: 0.2rem 0.5rem;

      &:hover {
        color: $ui-primary;
      }
    }
  }
}

.boundary-suggestions {
  padding-bottom: 0.3rem;
}
