//Layout
#search-map {
  position: absolute;
  top: 0;
  z-index: 600;
  padding: 0.7rem;

  @media(max-width: 1200px) {
    max-width: 595px;
    // Let clicks pass through to leaflet-right controls
    pointer-events: none;
  }

  @media(max-width: 750px) {
    // On narrow screens, prevent overlap with
    // leaflet-right controls
    max-width: 320px;
  }

  .search-icon {
    font-size: 0.8rem;
    color: $black-54;
    position: absolute;
    top: 30px;
    left: 293px;

    &.empty {
      color: $black-24;
    }

    &.error {
      color: $ui-danger;
    }
  }

  .message {
    position: absolute;
    color: $paper-74;
    background-color: $black-54;
    border-radius: 2px;
    box-shadow: 0 0 6px $black-74;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    margin-top: 6px;
    width: 300px;

    &.dismiss {
      float: right;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

#geocode-search-results-region {
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 0 6px $black-74;
  font-size: 0.8rem;
  color: $black-54;
  background-color: $paper;
  margin-top: 6px;
  min-width: 300px;
  z-index: 700;

  h1 {
    margin: 0.5rem;
    border-bottom: 1px solid #bbb;
    font-size: 0.8rem;
    color: #bbb;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-bottom: solid 1px $black-12;

      &:last-child {
        border: none;
      }

      &:hover {
        color: $ui-primary;
      }
    }
  }

}
