//Home
#water-balance {

  h1 {
    font-weight: 900;
  }

  //Layout =====================================

  &.container-fluid {
    background-color: $sky-blue;
    background-image: url('../images/water_balance/art_clouds.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 936px;
    height: 100%;

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
       background-image: url('../images/water_balance/art_clouds@2x.png');
    }
  }

  .canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin-right: 360px;
    overflow: auto;
    white-space: nowrap;
  }

  //Model Output =====================================

  .model-container {
    position: absolute;
    display: block;
    width: 400px;
    margin: 0 auto;
    float: left;
    top: 0;
    left: 0;
    right: 100px;
    bottom: 0;

    .land-container {
      width: 100%;
      height: auto;
      position: absolute;
      top: 40px;
      display: block;
      margin: 0 auto;
      z-index: 200;

      .land {
        width: 100%;

        img {
          width: 100%;
          max-width: 500px;
          height: auto;
        }
      }
    }

    .soil-container {
      width: 100%;
      height: auto;
      position: absolute;
      top: 320px;
      display: block;
      margin: 0 auto;
      z-index: 200;

      .soil {
        width: 100%;

        img {
          width: 100%;
          max-width: 500px;
          height: auto;
        }
      }
    }
  }

  //Effects ==========================================

  #effect-precip {
    position: absolute;
    top: 90px;
    z-index: 100;
  }

  #effect-evapo {
    position: absolute;
    bottom: 120px;
    left: 290px;
    width: 84px;
    height: 140px;
    z-index: 100;

    svg {
      width: auto;
      height: 100%;  //Animate this value for scale
      transition: height 0.3s ease;
    }
  }

   #effect-runoff {
    position: absolute;
    top: 60px;
    right: 270px;
    width: 127px;
    height: 120px;
    z-index: 100;

    svg {
      width: auto;
      height: 100%;  //Animate this value for scale
      transition: height 0.3s ease;
    }
  }

  #effect-infiltration {
    position: absolute;
    top: 40px;
    left: 290px;
    width: 98px;
    height: 140px;
    z-index: 100;

    svg {
      width: auto;
      height: 100%; //Animate this value for scale
      transition: height 0.3s ease;
    }
  }

  #alert {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
    margin-top: -27px;
    width: 100%;
    text-align: center;
  }

  //Water Column =====================================

  #water-column-container {
    position: absolute;
    display: block;
    width: 84px;
    margin: 0 auto;
    right: 20px;
    top: 30px;
    bottom: 30px;
    padding-bottom: 48px;
    white-space: normal;
    z-index: 200;

    .column {
      position: relative;
      display: block;
      width: 100%;
      text-align: right;
      transition: height 0.3s ease;

      label {
        color: $paper;
        padding: 0.4rem;
        text-align: right;
      }
    }

    #column-et {
      height: 30%;
      background-color: $et;
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
    }

    #column-r {
      height: 40%;
      background-color: $r;
    }

    #column-i {
      height: 30%;
      background-color: $i;
      border-bottom-left-radius: 0.3rem;
      border-bottom-right-radius: 0.3rem;
    }

    #column-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 24px;
      margin: 16px 16px 48px 16px;
      background-color: $black-12;
      border-bottom-left-radius: 0.3rem;
      border-top-left-radius: 0.3rem;
      z-index: 200;
    }

    label {
      display: block;
      text-align: center;
    }
  }

  //Wells =================================================

  #well-precip {
    position: absolute;
    left: 0;
    top: 30px;
    min-width: 116px;
  }

  #well-evapo {
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 116px;
  }

  #well-runoff {
    position: absolute;
    left: 0;
    bottom: 30px;
    min-width: 116px;
  }

  #well-infil {
    position: absolute;
    right: 0;
    bottom: 30px;
    min-width: 116px;
  }

  .well-custom {
    background-color: $paper;
    border-radius: 0.3rem;
    padding: 16px;
    z-index: 300;

    label {
      padding-top: 4px;
    }
  }

  .well-precip {
    background-color: $sky-blue;
    border-radius: 0.3rem;
    padding: 10px 6px;
    margin: 8px 8px 0 8px!important;
    height: 42px;

    label {
      display: inline-block!important;
    }
  }

  //Sidebar =================================================

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 370px;
    background-color: $paper;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.74);
    overflow-y: auto;

    .slider-wrapper {
      display: inline-block;
    }

    p {
      margin: 0 0 0 8px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      white-space: nowrap;
      float: left;

      li {
        display: inline-block;
        float: left;
        position: relative;
        margin: 8px 8px 0 8px;
        width: 61px;
        white-space: normal;

        &:nth-child(4n+5) {
            clear: left;
        }

        a {
          padding: 0;
          border: solid 3px transparent;

          &img {
            width: 100%;
            height: auto;
          }
        }

        label {
          padding-bottom: 6px;
          display: block;
          text-align: center;
          font-size: 0.55rem;
        }

        &.active a {
          border: solid 3px $active;

          &:after {
            position: absolute;
            top: -10px;
            right: -10px;
            content: "\f00c";
            font-family: FontAwesome;
            font-size: 14px;
            padding-top: 4px;
            color: $paper;
            background-color: $active;
            width: 24px;
            height: 24px;
            border-radius: 12px;
            text-align: center;
          }

          &.nlcd-11 {
            border-color: $nlcd-11;

            &:after {
              background-color: $nlcd-11;
            }
          }

          &.nlcd-21 {
            border-color: $nlcd-21;

            &:after {
              background-color: $nlcd-21;
            }
          }

          &.nlcd-22 {
            border-color: $nlcd-22;

            &:after {
              background-color: $nlcd-22;
            }
          }

          &.nlcd-23 {
            border-color: $nlcd-23;

            &:after {
              background-color: $nlcd-23;
            }
          }

          &.nlcd-24 {
            border-color: $nlcd-24;

            &:after {
              background-color: $nlcd-24;
            }
          }

          &.nlcd-31 {
            border-color: $nlcd-31;

            &:after {
              background-color: $nlcd-31;
            }
          }

          &.nlcd-41 {
            border-color: $nlcd-41;

            &:after {
              background-color: $nlcd-41;
            }
          }

          &.nlcd-52 {
            border-color: $nlcd-52;

            &:after {
              background-color: $nlcd-52;
            }
          }

          &.nlcd-71 {
            border-color: $nlcd-71;

            &:after {
              background-color: $nlcd-71;
            }
          }

          &.nlcd-81 {
            border-color: $nlcd-81;

            &:after {
              background-color: $nlcd-81;
            }
          }

          &.nlcd-82 {
            border-color: $nlcd-82;

            &:after {
              background-color: $nlcd-82;
            }
          }

          &.nlcd-90 {
            border-color: $nlcd-90;

            &:after {
              background-color: $nlcd-90;
            }
          }

          &.soil-a {
            border-color: $soil-a;

            &:after {
              background-color: $soil-a;
            }
          }

          &.soil-b {
            border-color: $soil-b;

            &:after {
              background-color: $soil-b;
            }
          }

          &.soil-c {
            border-color: $soil-c;

            &:after {
              background-color: $soil-c;
            }
          }

          &.soil-d {
            border-color: $soil-d;

            &:after {
              background-color: $soil-d;
            }
          }
        }
      }
    }
  }
}

.water-balance {
  //Info Dropdown =====================================
  #info {

    &.dropdown-menu {
      border-radius: 2px;
      border: 0!important;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.74);
      font-size: 0.8rem;
      width: 360px;
      padding: 2rem;
      color: $black-74;
      background-color: $paper;
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}

//Popover Descriptions ================================

.popover {
  border-radius: 0;
  border: solid 1px $black-12;
  padding: 0px;
}

.popover-title {
  font-size: 0.8rem;
  color: $paper;
  padding: 1rem;
  border: 0;
  background-color: $brand-primary;
  border-radius: 0;

  &.nlcd-11 {
    background-color: $nlcd-11;
  }

  &.nlcd-21 {
    background-color: $nlcd-21;
  }

  &.nlcd-22 {
    background-color: $nlcd-22;
  }

  &.nlcd-23 {
    background-color: $nlcd-23;
  }

  &.nlcd-24 {
    background-color: $nlcd-24;
  }

  &.nlcd-31 {
    background-color: $nlcd-31;
  }

  &.nlcd-41 {
    background-color: $nlcd-41;
  }

  &.nlcd-52 {
    background-color: $nlcd-52;
  }

  &.nlcd-71 {
    background-color: $nlcd-71;
    color: #333;
  }

  &.nlcd-81 {
    background-color: $nlcd-81;
    color: #333;
  }

  &.nlcd-82 {
    background-color: $nlcd-82;
  }

  &.nlcd-90 {
    background-color: $nlcd-90;
    color: #333;
  }

  &.soil-a {
    background-color: $soil-a;
    color: #333;
  }

  &.soil-b {
    background-color: $soil-b;
    color: #333;
  }

  &.soil-c {
    background-color: $soil-c;
  }

  &.soil-d {
    background-color: $soil-d;
  }
}

.popover-content {
  padding: 1rem;
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
