<div id="projects-container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="search-input" placeholder="Search">
        </div>
        <div class="col-md-3 col-md-offset-3">
            <button class="btn btn-block btn-active new-project">
                <i class="fa fa-plus"></i> Create New Project
            </button>
        </div>
    </div>
    <div class="projects-list-container">
        <div class="project row">
            <div class="col-md-5">
                <h2><i class="fa fa-lock"></i> Project Name</h2>
                <p>July 31 2015</p>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default">Rename</button>
                    <button class="btn btn-default">Share</button>
                    <button class="btn btn-default">Make Public</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-active open-project">
                    Launch Project
                </button>
            </div>
        </div>
        <div class="project row">
            <div class="col-md-5">
                <h2><i class="fa fa-lock"></i> Another Project</h2>
                <p>August 06 2015</p>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default">Rename</button>
                    <button class="btn btn-default">Share</button>
                    <button class="btn btn-default">Make Public</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-active open-project">
                    Launch Project
                </button>
            </div>
        </div>
        <div class="project row">
            <div class="col-md-5">
                <h2><i class="fa fa-globe"></i> A Public Project</h2>
                <p>August 15 2015</p>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default">Rename</button>
                    <button class="btn btn-default">Share</button>
                    <button class="btn btn-default">Make Private</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-active open-project">
                    Launch Project
                </button>
            </div>
        </div>
        <div class="project row">
            <div class="col-md-5">
                <h2><i class="fa fa-lock"></i> New Project</h2>
                <p>September 02 2015</p>
            </div>
            <div class="col-md-offset-1 col-md-4">
                <div class="btn-group">
                    <button class="btn btn-default">Rename</button>
                    <button class="btn btn-default">Share</button>
                    <button class="btn btn-default">Make Public</button>
                    <button class="btn btn-default">Delete</button>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-block btn-active open-project">
                    Launch Project
                </button>
            </div>
        </div>
    </div>
</div>
