{% macro table(columnNames, rows, isSortable) %}
    <table class="table custom-hover" data-toggle="table">
        <thead>
            <tr>
                {% for columnName in columnNames %}
                    {% if isSortable %}
                        <th data-sortable="true" data-sorter="window.numericSort">{{ columnName }}</th>
                    {% else %}
                        <th>{{ columnName }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row %}
                        {% if loop.index0 == 0 %}
                            <td class="text-left">{{ value }}</td>
                        {% else %}
                            <td class="strong text-right">{{ value|round(2)|toLocaleString(2) }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}


<div class="mean-flow">
    Mean Flow: {{ MeanFlow|round(0)|toLocaleString }} (m<sup>3</sup>/year) and {{ MeanFlowPerSecond|round(0)|toLocaleString }} (m<sup>3</sup>/s)
</div>
{{ table(columnNames, landUseRows, true) }}
{{ table(columnNames, summaryRows, false) }}
