{% macro table(columnNames, rows, isSortable, round_rows, default_precision) %}
<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            {% for columnName in columnNames %}
                {% if isSortable %}
                    <th data-sortable="true" data-sorter="window.numericSort">{{ columnName }}</th>
                {% else %}
                    <th>{{ columnName }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% set precision = default_precision %}
                {% for value in row %}
                    {% if loop.index0 == 0 %}
                        <td class="text-left">{{ value }}</td>
                        {% for p in round_rows %}
                            {% if p.source == value %}
                                {% set precision = p.precision %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <td class="strong text-right">{{ value|round(precision)|toLocaleString(precision) }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

<div class="mean-flow">
    Mean Flow: {{ MeanFlow|round(0)|toLocaleString }} (m<sup>3</sup>/year) and {{ MeanFlowPerSecond|round(2)|toLocaleString }} (m<sup>3</sup>/s)
</div>
{{ table(landUseColumns, landUseRows, true, renderPrecision.landUseTable, defaultPrecision.landUseTable) }}
<div class="downloadcsv-link" data-action="download-csv-granular">
    <i class="fa fa-download"></i> Download this data
</div>
{{ table(summaryColumns, summaryRows, false, renderPrecision.summaryTable, defaultPrecision.summaryTable) }}
<div class="downloadcsv-link" data-action="download-csv-summary">
    <i class="fa fa-download"></i> Download this data
</div>
