server {
  listen *:80;
  server_name _;

  access_log /var/log/nginx/flower.access.log logstash_json;

  {% if ['packer'] | is_in(group_names) -%}
  location /version.txt {
    alias /srv/version.txt;
  }
  {% endif %}

  location /health-check/ {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://127.0.0.1:5555/api/workers;

    break;
  }

  location / {
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_pass http://127.0.0.1:5555;
  }
}

