<div class="modal-dialog">
    <div class="modal-content weather-modal-content">
        <div class="modal-header">
            <div class="title">
                <!-- TODO Add Documenation link for Weather Data -->
                <a
                        class="btn close"
                        target="_blank"
                        href="https://wikiwatershed.org/documentation/mmw-tech/"
                        title="Weather Data Documentation"
                >
                    <i class="fa fa-question-circle"></i>
                </a>
                <h1>Weather Data</h1>
            </div>
        </div>
        <div class="modal-body">
            <form class="cwd-upload-form" action="/mmw/modeling/projects/{{ id }}/custom-weather-data/" method="POST" target="_blank">
                <p>Select a file to upload.</p>
                <!-- TODO Add link to sample weather data -->
                <!-- https://github.com/WikiWatershed/model-my-watershed/issues/3287 -->
                <div class="custom-input-group">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrftoken }}">
                    <label class="modal-file-input-label">Select Weather CSV</label>
                    <input class="modal-file-input" name="weather" type="file" required />
                </div>
                <label class="error"></label>
            </form>
        </div>
        <div class="modal-footer" style="text-align: right">
            <div class="footer-content">
                <button class="btn btn-md btn-default" data-dismiss="modal">
                    Cancel
                </button>
                <button class="btn btn-md btn-active">Save</button>
            </div>
        </div>
    </div>
</div>
