html {
  font-size: 18px;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 400px) {
  html { font-size: 16px; }
}

@media (max-width: 900px) {
  html { font-size: 18px; }
}

@media(min-width: 1280px) {
  html {font-size: 20px;}
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-family;
  font-size: 1rem;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  transition: all 0.2s ease-out;
}

.row {
  margin: 0!important;
}

p.info {
  font-size: 0.8rem;
  margin-top: 20px;
}

#footer {

  &.top-nav {
    margin-top: 44px!important;
  }

  &.model-nav {
    margin-top: 103px!important;
  }

  .title-row {
    padding: 0.7rem;
    display: block;
    width: 100%;
  }
}

#geocode-search-region {
  display: inline-block;

  // Override pointer-events: none in #search-map
  pointer-events: auto;
  #search-results-container {
    position: absolute;
  }
}

#boundary-label {
  display: none;
  padding: 5px;
  background-color: $ui-secondary;
  color: $paper;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}

a:focus {
    outline: none;
    outline-offset: 0;
}
