html {
  font-size: 18px;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 400px) {
  html { font-size: 16px; }
}

@media (max-width: 900px) {
  html { font-size: 18px; }
}

@media(min-width: 1280px) {
  html {font-size: 20px;}
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-family;
  font-size: 1rem;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

a {
  transition: all 0.2s ease-out;
}

.row {
  margin: 0!important;
}

p.info {
  font-size: 0.8rem;
  margin-top: 20px;
}

#footer {

  &.top-nav {
    margin-top: 44px!important;
  }

  &.model-nav {
    margin-top: 103px!important;
  }

  .title-row {
    padding: 0.7rem;
    display: block;
    width: 100%;
  }
}

#geocode-search-region {
  display: inline-block;

  #search-results-container {
    position: absolute;
  }
}

#draw-tools-region,
.draw-tools-container div {
  display: inline-block;
  text-transform: none;

  // Undo bootstrap input[type="range"] syling
  #stream-slider {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
  }
}

.draw-tools-container {
  @media(max-width: 1200px) {
    margin-top: 10px;
  }

  .dropdown-menu {
    li {
      a {
        position: relative;
        span {
          display:inline-block;
        }

        i.split {
          display:inline-block;
          position: absolute;
          right: 5%;
          top:30%;
        }
        .popover {
          min-width: 400px;
          max-width: 450px;
          line-height: 200%;
        }
      }
    }
  }
}

//Title Row
.aoi-header-wrapper {
  &.title-row {
    background-color: $ui-primary;
    height: 68px;
    padding: 0.7rem;

    .title {
      display: inline-block;
      position: relative;

      h2 {
        margin-top: 0.4rem!important;
        line-height: 0.4rem;
      }
    }

    .cta-wrapper {
      position: relative;
      float: right;
      margin-right: 1rem;
      margin-top: -40px;

      @media(min-width: 768px) {
        margin-right: 56px;
      }
    }
  }
}

#boundary-label {
  display: none;
  padding: 5px;
  background-color: $ui-secondary;
  color: $paper;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}
