html {
  font-size: 62.5%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-family;
  font-size: 1.4em;
}

a {
  transition: all 0.2s ease-out;
}

.row {
  margin: 0!important;
}

p.info {
  font-size: $font-size-h5;
  margin-top: 20px;
}

#footer {

  &.top-nav {
    margin-top: 44px!important;
  }

  &.model-nav {
    margin-top: 103px!important;
  }

  .title-row {
    padding: 0.7rem;
    display: block;
    width: 100%;
  }
}

#geocode-search-region {
  display: inline-block;

  // Override pointer-events: none in #search-map
  pointer-events: auto;
  #search-results-container {
    position: absolute;
  }
}

#boundary-label {
  display: none;
  padding: 5px;
  background-color: $ui-secondary;
  color: $paper;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
}

a:focus {
    outline: none;
    outline-offset: 0;
}
