//Search Screen Header

header {
  width: 100%;
  position: relative;
  top: 0;
}

//Standard Header
#app-header {
  background-color: $ui-primary;
  height: $height-lg;
  padding: 0 1rem;

  .brand {
    a {
      float: left;
      line-height: $height-lg;
      font-size: $font-size-h4;
      font-weight: 800;
      color: $paper;

      &:hover {
        color: $paper-54;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  img {
    height: 24px;
    position: relative;
    top: -2px;
  }

  .navigation {
    float: right;
    display: inline-block;

    .main {
      list-style-type: none;
      display: inline-block;

      li.header-link {
        line-height: $height-lg !important;
        font-size: $font-size-h5;
        font-weight: 400;
        margin-left: 1rem;
        display: inline-block;
        float: left;

        .dropdown-menu {
          left: auto;
          right: 0px;
          a {
            color: $ui-secondary;

            &:hover, &:active {
              color: $ui-secondary;
            }
          }
        }

        a {
          color: $paper-54;
          text-decoration: none!important;

          &:hover, &:active {
            color: $paper;
            text-decoration: none!important;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//Model Header
#model-header {
    background-color: $ui-secondary;

    &.bigcz {
        height: $height-xl;
    }

    #project-menu-region {
        height: $height-xl;
    }

    .project {
      position: relative;
      top: -15px;
      height: $height-xl;
      background-color: $ui-primary;
      width: 100%;
      display: flex;
      flex: 0 0 100%;

      .project-right, .project-left {
        display: flex;
      }
      .project-center {
          margin-left: auto;
          margin-right: auto;
      }
      .project-right {
          margin-right: 8px;
      }

      .project-title {
        display: inline-block;
        position: relative;
        margin: 0 1rem;
        vertical-align: top;
      }
    }

    .toolbar {
        height: $height-xl;
        left: 0;
        right: 0;
        padding: 0rem 1rem 0 1rem;
        background-color: $ui-light;
        height: $height-xl;
        line-height: $height-xl - 2px;
        display: flex;
        flex: 0 0 100%;
        flex-direction: row;
        flex-wrap: nowrap;

    .tooltip-inner {
        white-space: normal;
        max-width: 100px;
        width: 100px;
    }

    #gwlfe-modifications-bar, #gwlfe-modifications-popup {
      padding: 5px;
      position: absolute;
      display: block;

      .thumb {
        cursor: pointer;
        border: solid 2px transparent;
        height: 40px;
        width: 40px;
      }

      .thumb:hover {
        border: solid 2px $black;
      }
    }

    #gwlfe-modifications-bar {
      top: $height-xl;
      right: 0;
      background-color: $ui-light;
      z-index: 1001;

      .title-icon {
        text-align: center;
        font-size: 15px;
      }
    }

    #gwlfe-modifications-popup {
      right: 56px;
      left: auto;
      z-index: 1003;
      border-radius: 12px;

      .popover-content {
        padding: 11px 14px;

        .table {
          margin-bottom: 10px;
        }
      }

      .close {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    #modification-btn-wrapper {
      display: inline-block;
      white-space: initial;
    }

    #modifications {
      .modification-type {
        min-width: 140px;
      }

      .message {
        font-size: 13px;
      }
    }

    .inline {
      display: inline-block;
    }

    #scenarios-region {
        white-space: nowrap;
    }


    #toolbar-region {
        width: 100%;
    }

    #toolbar-region > .toolbar-container {
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        height: 100%;

        .right-controls-container {
            margin-left: auto;
        }

        #add-changes {
            color: $brand-primary;
            height: 100%;
        }

        #download-cc-gms {
            font-size: 13px;
            color: inherit;
        }
    }

    .scenario-toolbar-tab-content,
    .active.scenario-toolbar-tab-pane {
        display: inline-block;
        white-space: nowrap;
    }


    .controls {
        .control-item {
            margin-left: 5px;
            label {
              font-size: 12px;
            }
        }

    }
  }
}

// Precipitation slider
.precipitation {
  width: 285px;
  .precipitation-slider {
    display: inline-block;
    width: 120px;
    margin: 0 0.7rem;
    padding: 0;
    vertical-align: middle;
  }
}

//Compare Header
#compare-header {
  background-color: $ui-secondary;
  box-shadow: 0 0 4px $black-54;

  .top {
    height: $height-lg;

    .project {
      width: 240px;
      background-color: $ui-primary;
      height: 100%;

      .project-title {
        display: inline-block;
        position: relative;
        width: 180px;

        h3 {
          margin: 0;
          line-height: $height-lg;
        }
      }
    }

    .top-bar {
      position: absolute;
      top: 0;
      left: 240px;
      right: 0;
      padding: 8px 0 8px 8px;
      height: inherit;

      .tab-controls {
        position: absolute;
        top: 0;
        left: 0;
        padding: 7px;
      }

      .scenario-tabs-wrapper {
        position: absolute;
        top: 0;
        left: 45px;
        height: $height-lg;
        width: 5000px;
      }

      .fade-tabs {
        position: absolute;
        top: 0;
        right: 85px;
        height: $height-lg;
        width: 10px;
        z-index: 200;
        background: linear-gradient(90deg,rgba(0,0,0,0),$ui-secondary);
      }
    }
  }
}
