.map-container {
  position: absolute;
  top: $height-lg;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms;

  // Set top of map to combined height of initial header and toolbar.
  &.-projectheader {
    top: $height-xl * 2 + $height-lg;
  }

  // Sets map to correct container size for sidebar.
  &.-sidebar {
    left: $sidebar-width;
  }
  .compare-scenarios-container & {
    top: 0;
  }
}

#map {
  background-color: $black-12;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;

  &.bigcz-highlight-map:after {
    content: "";
    border: 3px solid gold;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

#overlay-subclass-vector .disabled, #overlay-subclass-raster .disabled {
  color: $black-54;
}

// Override default location of Leaflet spritesheet images.
.leaflet-draw-toolbar a {
  background-image: url('../images/spritesheet.png');
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('../images/spritesheet-2x.png');
}

.leaflet-control-layers-toggle {
  background-image: url('../images/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/layers-2x.png');
}

.layer-control-button-container a {
    float: right;
}

.leaflet-control-layers-expanded {
  padding: 0;
  background-color: transparent;
}


// Override leaflet bottomright controls
.leaflet-bottom.leaflet-right {
    text-align: right;
}

.leaflet-bottom.leaflet-right > .leaflet-control {
    display: inline-block;
    float: none;
    vertical-align: middle;
    margin-bottom: 6px;

    &:first-child {
        margin-right: 10px;
    }
    &.leaflet-control-attribution {
       display: block;
       margin-bottom: 0px;
    }

    &.leaflet-control-zoom {
        width: 68px;
       .leaflet-control-zoom-out {
           border-right: 2px #ccc solid;
       }
       .leaflet-control-zoom-out, .leaflet-control-zoom-in {
        font-size: $font-size-h1;
        line-height: 32px;
        font-size: 21px !important;
        font-weight: 900;
        font-family: $font-family;
       }
       .leaflet-touch & {
           width: 72px;
           height: 38px;
       }
    }
}

.leaflet-bottom.leaflet-right > .leaflet-bar,
.layer-control-button-container.leaflet-bar {
    height: 34px;
    width: 34px;
    > a {
        display: inline-block;
        background-color: $ui-light;
        color: $ui-secondary;
        border-radius: 0px;
        height: 34px;
        width: 34px;
        line-height: 34px;
        border: none;
        font-size: 15px;
        box-shadow: none;
        float: none;
        color: $gray-dark !important;
        &:hover {
            background-color: #ccc;
        }
    }
    .leaflet-touch & {
        height: 38px;
        width: 38px;
    }
}

.leaflet-control {
  .leaflet-control-layers-list {
    display: block;
  }

  &.opacity_slider_control {
    position: absolute;
    top: 134px;
  }

  &.leaflet-control-layers {
    min-width: 246px;
    margin-right: 50px;
    display: none;
    position: absolute;
    top: 120px;
    right: 15px;
    // Be as tall as the map container,
    // minus some space for the attribution
    height: 83%;
    max-height: 365px;

    h4 {
      font-size: 15px;
      margin: 4px 0 4px 0;
    }

    form {
      padding: 4px 10px;
      // Be as tall as possible within the container,
      // minus the height of the container headers.
      height: calc(100% - 80px);
      overflow-y: auto;
    }
  }

  .leaflet-control-stream {
    min-width: 220px;
    min-height: 100px;
    margin-right: 50px;
    background-color: #fff;
    display: none;
  }

  .modal-header {
    background-color: $ui-primary;
    color: $paper;
    padding: 5px 15px;

    .modal-title {
      font-size: $font-size-h4;
     }
  }

  form {
    padding: 15px;
  }

  .close {
    text-shadow: none;
    color: $paper;
    font-size: $font-size-h1;
  }
}

.leaflet-control-layers,
.leaflet-popup {
  font-family: $font-family !important;
}

// style markers for 'Delineate Watershed'

.marker-rwd {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #fff;
  &:after {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    left: 2px;
    background-color: #fff;
    content: "";
    border-radius: 100%;
  }
}

.marker-rwd-original-point {
  background-color: #8e44ad;
}

.marker-rwd-nearest-stream-point {
  background-color: #3498db;
}

.leaflet-popup-content, #gwlfe-modifications-popup {
  h3, h5 {
    margin-bottom: 10px;
  }
  table {
    margin-bottom: 10px;
    td {
      padding: 4px !important;
      &:first-child {
        padding-left: 0 !important;
      }
      &:last-child {
        padding-right: 0 !important;
      }
    }
  }
  .delete-modification {
    padding: 0;
  }
}
