.map-container {
  position: absolute;
  top: $height-lg;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 200ms;
  // Set top of map to height of initial header.
  // Needs a more descriptive name.
  &.map-container-top-1 {
    top: $height-lg;
  }
  // Set top of map to combined height of initial header and toolbar.
  // Needs a more descriptive name.
  &.map-container-top-2 {
    top: $height-lg * 2 + $toolbar-height;
  }
  // Set bottom of map to height of default view, which is 0px.
  // Needs a more descriptive name.
  &.map-container-bottom-1 {
    bottom: 0;
  }
  // Set bottom of map to height of output toolbar.
  // Needs a more descriptive name.
  &.map-container-bottom-2 {
    bottom: $output-height;
  }
  // Set bottom of map to location description toolbar.
  // Needs a more descriptive name.
  &.map-container-bottom-3 {
    bottom: $location-description-height;
  }
  // Set bottom of map to full standard footer height.
  // Needs a more descriptive name.
  &.map-container-bottom-4 {
    bottom: $footer-height;
  }
  // Sets map to correct container size for sidebar.
  &.map-container-top-sidebar {
    top: $height-lg * 2 + $toolbar-height;
    right: $sidebar-width;
    @media(min-width: 1040px) {
      right: 485px !important;
    }
  }
  // Sets map to correct container size for sidebar
  // with no header.
  &.map-container-top-sidebar-no-header {
    top: $height-lg;
    right: $sidebar-width;
    @media(min-width: 1040px) {
      right: 485px !important;
    }
  }
  // Sets map to correct container size for sidebar.
  &.map-container-bottom-sidebar {
    bottom: 0 !important;
  }

  // Sets map to correct container size for no sidebar
  &.hidden-sidebar {
    right: 0 !important;
  }
  .compare-scenarios-container & {
    top: 0;
  }
}

#map {
  background-color: $black-12;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
}

#overlay-subclass-vector .disabled, #overlay-subclass-raster .disabled {
  color: $black-54;
}

// Override default location of Leaflet spritesheet images.
.leaflet-draw-toolbar a {
  background-image: url('../images/spritesheet.png');
}

.leaflet-retina .leaflet-draw-toolbar a {
  background-image: url('../images/spritesheet-2x.png');
}

.leaflet-control-layers-toggle {
  background-image: url('../images/layers.png');
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/layers-2x.png');
}

.layer-control-button-container a {
    float: right;
}

.leaflet-control-layers-expanded {
  padding: 0;
  background-color: transparent;
}

.leaflet-control {
  .leaflet-control-layers-list {
    display: block;
  }

  &.opacity_slider_control {
    position: absolute;
    top: 134px;
  }

  &.leaflet-control-layers {
    min-width: 246px;
    margin-right: 50px;
    display: none;
    position: absolute;
    top: 120px;
    right: 15px;
    // Be as tall as the map container,
    // minus some space for the attribution
    height: 83%;
    max-height: 365px;

    h4 {
      font-size: 15px;
      margin: 4px 0 4px 0;
    }

    form {
      padding: 4px 10px;
      // Be as tall as possible within the container,
      // minus the height of the container headers.
      height: calc(100% - 80px);
      overflow-y: auto;
    }
  }

  .leaflet-control-stream {
    min-width: 220px;
    min-height: 100px;
    margin-right: 50px;
    background-color: #fff;
    display: none;
  }

  .modal-header {
    background-color: $ui-primary;
    color: $paper;
    padding: 5px 15px;

    .modal-title {
      font-size: 14px;
     }
  }

  form {
    padding: 15px;
  }

  .close {
    text-shadow: none;
    color: $paper;
    font-size: 24px;
  }
}

.leaflet-control-layers,
.leaflet-popup {
  font-family: $font-family !important;
}

// style markers for 'Delineate Watershed'

.marker-rwd {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid #fff;
  &:after {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 2px;
    left: 2px;
    background-color: #fff;
    content: "";
    border-radius: 100%;
  }
}

.marker-rwd-original-point {
  background-color: #8e44ad;
}

.marker-rwd-nearest-stream-point {
  background-color: #3498db;
}
