//Paragraph Styles
p {
  font-size: $font-size-p;
  font-weight: 400;
  color: $black-65;
  line-height: $line-height-base;
  margin: 0;
}

//Heading Styles
h1, h2, h3 {
  margin: 0;

  &.light {
    color: $paper;
  }

  &.dark {
    color: $ui-primary;
  }
}

h1 {
  font-size: $font-size-h1;
  font-weight: 800;

  &.precip {
    color: $water;
  }

  &.evapo {
    color: $et;
  }

  &.runoff {
    color: $r;
  }

  &.infil {
    color: $i;
  }
}

h2 {
  font-size: $font-size-h2;
  font-weight: 800;
}

h3 {
  font-size: $font-size-h3;
  font-weight: 800;
}

//Label Styles
label {
  font-weight: 500;
  font-size: $font-size-h4;
  line-height: 1.2;

  &.paper {
    color: $paper;
  }

  &.light {
    color: $paper-54;
  }

  &.medium {
    color: $black-54;
  }

  &.dark {
    color: $ui-secondary;
  }

  &.small {
    font-size: $font-size-h5;
  }
}

.nvd3 text {
  font-family: $font-family;
  fill: $ui-primary;
}

small, .small {
  font-size: $font-size-h5;
}
