//Paragraph Styles
p {
  font-size: 1rem;
  font-weight: 300;
  color: $black-54;
  line-height: 1.4;
  margin: 0;
}

//Heading Styles
h1, h2, h3 {
  margin: 0;

  &.light {
    color: $paper;
  }

  &.dark {
    color: $ui-primary;
  }
}

h1 {
  font-size: $font-h1;
  font-weight: 500;

  &.precip {
    color: $water;
  }

  &.evapo {
    color: $et;
  }

  &.runoff {
    color: $r;
  }

  &.infil {
    color: $i;
  }
}

h2 {
  font-size: $font-h2;
  font-weight: 500;
}

h3 {
  font-size: $font-h3;
  font-weight: 500;
}

//Label Styles
label {
  font-weight: 500;
  font-size: 0.6rem;
  line-height: 1.2;

  &.paper {
    color: $paper;
  }

  &.light {
    color: $paper-54;
  }

  &.medium {
    color: $black-54;
  }

  &.dark {
    color: $ui-secondary;
  }

  &.small {
    font-size: 0.5rem;
  }
}
