{% import './utils.html' as utils %}

<div id="conservation-practice-tools" class="dropdown"> <!-- Conservation Practice Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Conservation Practice
    </button>
    <div id="conserve-tools" class="dropdown-menu draw-tools menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                {{ utils.thumb('Rain Garden', 'rain_garden') }}
                {{ utils.thumb('Veg Infil Basin', 'veg_infil_basin') }}
                {{ utils.thumb('Porous Paving', 'porous_paving') }}
            </ul>
            <ul class="row">
                {{ utils.thumb('Green Roof', 'green_roof') }}
                {{ utils.thumb('No-Till Agriculture', 'no_till_agriculture') }}
                {{ utils.thumb('Cluster Housing', 'cluster_housing') }}
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1"> <!-- Dropdown Footer -->
            <h2 class="dark">Cluster Housing</h2>
            <br>
            <span>Cluster Housing is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</span>
        </div> <!-- End Dropdown Footer -->
    </div> <!-- End Dropdown -->
</div> <!-- End Conservation Practice Tools -->
