{% import './utils.html' as utils %}

<div id="conservation-practice-tools" class="dropdown"> <!-- Conservation Practice Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Conservation Practice
    </button>
    <div id="conserve-tools" class="dropdown-menu draw-tools menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                {{ utils.thumb(label, 'rain_garden') }}
                {{ utils.thumb(label, 'veg_infil_basin') }}
                {{ utils.thumb(label, 'porous_paving') }}
            </ul>
            <ul class="row">
                {{ utils.thumb(label, 'green_roof') }}
                {{ utils.thumb(label, 'no_till_agriculture') }}
                {{ utils.thumb(label, 'cluster_housing') }}
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1 summary-region"> <!-- Dropdown Footer -->
        </div> <!-- End Dropdown Footer -->
    </div> <!-- End Dropdown -->
</div> <!-- End Conservation Practice Tools -->
