{% import './utils.html' as utils %}

<div id="land-cover-tools" class="dropdown"> <!-- Landcover Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Land Cover
    </button>
    <div id="land-tools" class="dropdown-menu menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                {{ utils.thumb(labelFn, 'lir') }}
                {{ utils.thumb(labelFn, 'hir') }}
                {{ utils.thumb(labelFn, 'commercial') }}
                {{ utils.thumb(labelFn, 'forest') }}
            </ul>
            <ul class="row">
                {{ utils.thumb(labelFn, 'turf_grass') }}
                {{ utils.thumb(labelFn, 'pasture') }}
                {{ utils.thumb(labelFn, 'grassland') }}
                {{ utils.thumb(labelFn, 'row_crop') }}
            </ul>
            <ul class="row">
                {{ utils.thumb(labelFn, 'chaparral') }}
                {{ utils.thumb(labelFn, 'tg_prairie') }}
                {{ utils.thumb(labelFn, 'sg_prairie') }}
                {{ utils.thumb(labelFn, 'desert') }}
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1 summary-region"> <!-- Dropdown Footer -->
        </div> <!-- End Dropdown Footer -->

    </div> <!-- End Dropdown -->
</div> <!-- End Land Cover Tools -->
