{% import './utils.html' as utils %}

<div id="land-cover-tools" class="dropdown"> <!-- Landcover Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Land Cover
    </button>
    <div id="land-tools" class="dropdown-menu menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                {{ utils.thumb('open_water') }}
                {{ utils.thumb('developed_open') }}
                {{ utils.thumb('developed_low') }}
                {{ utils.thumb('developed_med') }}
            </ul>
            <ul class="row">
                {{ utils.thumb('developed_high') }}
                {{ utils.thumb('barren_land') }}
                {{ utils.thumb('deciduous_forest') }}
                {{ utils.thumb('shrub') }}
            </ul>
            <ul class="row">
                {{ utils.thumb('grassland') }}
                {{ utils.thumb('pasture') }}
                {{ utils.thumb('cultivated_crops') }}
                {{ utils.thumb('woody_wetlands') }}
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1 summary-region"> <!-- Dropdown Footer -->
        </div> <!-- End Dropdown Footer -->

    </div> <!-- End Dropdown -->
</div> <!-- End Land Cover Tools -->
