<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true">Runoff Partition</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Water Depth (cm)</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Water Volume (m<sup>3</sup>)</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p class="info text-muted">Explore how land use and soil determine runoff with our <a target="_blank" href="https://app.wikiwatershed.org/micro/">Micro Site Storm Model</a>. Info and help at <a target="_blank" href="http://wikiwatershed.org/model/">http://wikiwatershed.org/model/</a>.</p>
