<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true">Runoff Partition</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Water Depth ({{ lengthUnit }})</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Water Volume ({{ volumeUnit }})</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<p class="info text-muted">Explore how land use and soil determine runoff with our <a target="_blank" rel="noopener noreferrer" href="https://runoff.modelmywatershed.org/">Runoff Simulation</a>. Info and help at <a target="_blank" rel="noopener noreferrer" href="http://wikiwatershed.org/model/">http://wikiwatershed.org/model/</a>.</p>
