<table class="table custom-hover model-results-table" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true">Quality Measure</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Load (kg)</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Loading Rate (kg/ha)</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Average Concentration (mg/L)</th>
        </tr>
    </thead>
    <tbody data-mmw-table="quality">
    </tbody>
</table>
