<table class="table custom-hover" data-toggle="table">
    <thead>
        <tr>
            <th data-sortable="true">Quality Measure</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Load ({{ massUnit }})</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Loading Rate ({{ massPerAreaUnit }})</th>
            <th class="text-left" data-sortable="true" data-sorter="window.numericSort">Average Concentration ({{ concentrationUnit }})</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
