bind = "127.0.0.1:8000"
workers = (1 * multiprocessing.cpu_count()) + 1
timeout = 60
max_requests = 1000
max_requests_jitter = 100

{% if ['development', 'test'] | some_are_in(group_names) -%}
accesslog = "-"
errorlog = "-"
loglevel = 'debug'
preload_app = False
reload = True
{% else %}
accesslog = None
errorlog = "-"
loglevel = 'info'
preload_app = True
reload = False
{% endif %}
