<!doctype html>
<html>
<head>
<title>Test'em</title>
<link rel="stylesheet" href="/testem/mocha.css">
<script src="/testem/mocha.js"></script>
<script src="/testem.js"></script>
<script>mocha.setup('tdd')</script>
<script src="js/test.bundle.js"></script></head>
<body>
<div id="mocha"></div>
<script>
mocha.run()
</script>
</body>
</html>
