{% include 'head.html' %}
{% load staticfiles %}

<body>
    {% block header %}
    {% endblock header %}

    <div id="sidebar">
        <div id="sidebar-content"></div>
        <div id="secondary-sidebar">
            <div id="secondary-sidebar-content"></div>
        </div>
    </div>

    <div class="map-container {% if project %} -projectheader {% endif %} -sidebar">
        {% block map %}
        {% endblock map %}

        {# Used on registration/account pages, not on main app #}
        {% block content %}
        {% endblock content %}
    </div>

    <div id="footer">
        {% block footer %}
        {% endblock footer %}
    </div>

    <div id="compare"></div>

    {% block modals %}
    {% endblock modals %}

    {% block javascript %}
        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}">
        </script>
        <script type="text/javascript">
            window.clientSettings = {{ client_settings | safe }};

            if (window.clientSettings.itsi_embed) {
                // Instruct Leaflet to not use CSS 3D transforms in embed mode
                // since they are not supported by PhantomJS which is used for
                // taking screenshots.
                window.L_DISABLE_3D = true;
            }
        </script>
        <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}

    {% include 'patterns.html' %}
</body>
