{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Model My Watershed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static 'favicon@2x.png' %}" sizes="32x32">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    {% block header %}
    {% endblock header %}

    <div class="container-fluid top-nav">
        {% block content %}
        {% endblock content %}

        <div id="footer">
            {% block footer %}
            {% endblock footer %}
        </div>
    </div>

    {% block modals %}
    {% endblock modals %}

    {% block javascript %}
    <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% endblock javascript %}

    {% include 'patterns.html' %}
</body>
