{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Model My Watershed</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="img/favicon_16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="img/favicon_32.png" sizes="32x32">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
