<div class="monitor-search">
    <div class="search-group">
        <input type="text" class="form-control" placeholder="Search data sources" />
        <button class="btn btn-active btn-search" type="button">
            <i class="fa fa-search"></i>
        </button>
    </div>
    <button class="btn btn-secondary">Filter</button>
</div>

<div class="intro-text">
    <p>
        <strong>Sample search terms: "turbidity", "water" &amp; "MODIS".</strong>
    </p>
    <p>
        Start typing to find some datasets that would be useful
        for your research. You can add filters if dates are important.
    </p>
</div>
