<h2>Account</h2>

<h4 class="account-section-title">API Key</h4>
<p>You can use your API Key to make up to 90 requests per minute, and 15000 total per day.</p>
{% if error %}
<p class="error">
    <i class="fa fa-warning account-inline-error-icon" aria-hidden="true"></i>{{error}}
</p>
{% endif %}
<section class="account-api-key-section">
    <div class="api-key-row">
        <input class="copiable-input"
               id="api-key"
               type="text"
               required
               readonly
               value="{{ api_key }}"
        >
        <button type="button"
                {{'disabled' if fetching}}
                data-action="copykey"
                data-toggle="tooltip"
                title="Copy to clipboard"
                data-placement="bottom"
                class="btn btn-md btn-copy"
                data-clipboard-target="#api-key">
            {% if fetching %}
            <div class="spinner"></div>
            {% else %}
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            {% endif %}
        </button>
    </div>
    <p class="detail">
        Created at {{ created_at_formatted }}
    </p>
    <button class="btn btn-md btn-active" data-action="regeneratekey">
        Regenerate API Key
    </button>
</section>

<h4 class="account-section-title">Change password</h4>
<section>
    <button class="btn btn-md btn-active" data-action="resetpassword">
        Reset Password
    </button>
</section>
