<div id="account-container">
    <div class="page-toggle-column">
        <button
            class="page-toggle-button {{'active' if active_page == 'profile' }}"
            data-action="viewprofile"
        >
            Profile
        </button>
        <button
            class="page-toggle-button {{'active' if active_page == 'account' }}"
            data-action="viewaccount"
        >
            Account
        </button>
        <button
                class="page-toggle-button {{'active' if active_page == 'linkedAccounts' }}"
                data-action="viewlinkedaccounts"
        >
            Linked Accounts
        </button>
    </div>
    <div class="account-page-column">
        <div class="account-page-container"></div>
    </div>
</div>

