{% macro field(value, name, label='', type='text') %}
    <div>
        <label class="modal-text-input-label" for="{{ name }}">{{ label }}</label>
        <input class="modal-text-input" name="{{ name }}" type="{{ type }}" id="{{ name }}" required value="{{ value }}">
    </div>
{% endmacro %}

{% macro select(value, name, model, field, defaultChoice='', label='') %}
    <label>{{ label }}</label>
    <select id="{{ name }}" name="{{ name }}" class="selectpicker" data-live-search="true" data-width="100%">
        <script>
         $.each(window.clientSettings.choices.{{ model }}.{{ field }}, function(index, choice) {
             var value = choice[0];
             var text = choice[1];
             var selected = value === '{{defaultChoice}}' ? ' selected ' : '';
             $('#{{ name }}').append('<option ' + selected + ' value="' + value + '">' + text + '</option>');
         });
         $('#{{ name }}').selectpicker();
        </script>
    </select>
{% endmacro %}

<div class="modal-dialog modal-dialog-sm">
    <div class="modal-content">
        <div class="modal-header">
            {% block header %}
                <h2 class="light">{{ title }}</h2>
            {% endblock %}
        </div>

        <div class="modal-body">
            {% block preamble %}
            {% endblock %}

            {% block errors %}
                {% if client_errors %}
                    <ul class="errors">
                        {% for error in client_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if server_errors %}
                    <ul class="errors">
                        {% for error in server_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}

            <form>
                {% block form %}
                {% endblock %}
            </form>
        </div>

        <div class="modal-footer">
            {% block footer %}
            {% endblock %}
        </div>
    </div>
</div>
