{% extends './baseModal.html' %}

{% block form %}
    {% if success %}
        Thanks! Your password has been updated.
    {% else %}
        {{ field(old_password, 'old_password', 'Current Password', 'password') }}
        {{ field(new_password1, 'new_password1', 'New Password', 'password') }}
        {{ field(new_password2, 'new_password2', 'Repeat New Password', 'password') }}
    {% endif %}
{% endblock %}

{% block footer %}
    {% if success %}
        <button type="button" class="btn btn-lg btn-block btn-active" data-dismiss="modal">
            Close
        </button>
    {% else %}
        <button type="button" class="btn btn-lg btn-block btn-active" id="primary-button">Change Password</button>
    {% endif %}
{% endblock %}
