{% extends './baseModal.html' %}

{% block form %}
    <p class="small">
        Please pick a username and sign up below.
        Always select <strong>ITSI</strong> when logging in.
    </p>

    {{ field(username, 'username', 'Username', 'text',
            'This will link to your <strong>' + itsi_name + '</strong> ITSI account') }}
    {{ field(first_name, 'first_name', 'First Name') }}
    {{ field(last_name, 'last_name', 'Last Name') }}
{% endblock %}

{% block footer %}
    <button type="button" class="btn btn-lg btn-block btn-active margin-bottom-sm" id="primary-button">Sign Up with ITSI</button>
    <button type="button" class="btn btn-lg btn-block btn-primary" data-dismiss="modal" id="dismiss-button">Continue As Guest</button>
{% endblock %}
