{% extends './baseModal.html' %}

{% block preamble %}
    <div class="forgot">
        <button type="button" class="btn btn-sm btn-default">Forgot?</button>
    </div>
    <div class="resend">
        <button type="button" class="btn btn-sm btn-default">Send Activation Email</button>
    </div>
    <div class="sign-up">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Sign Up</button>
    </div>
{% endblock %}

{% block form %}
    {{ field(username, 'username', 'Username') }}
    {{ field(password, 'password', 'Password', 'password') }}
{% endblock %}

{% block footer %}
    <div class="row">
        <button type="button" class="btn btn-lg btn-block btn-active" id="primary-button">Sign In</button>
    </div>
    <div class="text-muted" id="continue-as-divider">
        Or continue as
    </div>
    <div class="row" id="guest-buttons">
        <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" id="dismiss-button">Guest</button>
        <a href="/user/itsi/login" class="btn btn-lg btn-primary">ITSI</a>
    </div>
{% endblock %}
