{% extends './baseModal.html' %}

{% block header %}
<h2 class="light">Send confirmation email</h2>
{% endblock %}

{% block form %}
    {% if success %}
        <p>
            Please check your email to activate your account.
        </p>
        <button id="login" type="button" class="btn btn-lg btn-block btn-active">Login</button>
    {% else %}
        {{ field(email, 'email', 'Email', 'email') }}
        <button type="button" class="btn btn-lg btn-block btn-active" id="primary-button">Send confirmation email</button>
    {% endif %}
{% endblock %}
