<input class="search-input" id="geocoder-search" type="text"
       value="{{query or (selectedSuggestion and selectedSuggestion.get('text'))}}"
       placeholder="Jump to location or HUC"
>
<i class="search-icon fa fa-search"></i>
{% if selectedSuggestion and selectedSuggestion.get('isBoundaryLayer') %}
    <button class="search-select-btn">Select</button>
{% endif %}
<div id="geocode-search-results-region"></div>
<div class="message hidden">
    <span></span>
    <button class="dismiss"><i class="fa fa-times"></i></button>
</div>
