<div class="title-row"> <!-- Title Row -->
  <div class="title">
    <h3 class="light">Model Output</h3>
  </div>
</div> <!-- End Title Row -->

<div id="output-tabs-wrapper"> <!-- Output Tab Wrapper -->
  <div role="tabpanel" class="tab-panels-region"> <!-- Output Tabs -->
  </div> <!-- End Output Tabs -->
  <div class="tab-contents-region"> <!-- Tab Content -->
  </div> <!-- End Tab Content -->
</div> <!-- End Output Tab Wrapper -->
