<div class="back">
    <a data-url="/analyze" class="btn btn-md btn-icon light"><i class="fa fa-arrow-left"></i></a>
</div>
<div class="project-title">
    <h3 class="light"><%= name %></h3>
    <div id="project-settings" class="dropdown pull-right">
        <button class="btn btn-sm btn-icon light dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu menu-right" role="menu">
            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#rename-project">Rename</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#share-project">Share</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" onclick="window.print();return false;">Print</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#delete-project">Delete</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" data-target="#add-tag">Add Tags</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">My Projects</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-plus-circle"></i> New Project</a></li>
        </ul>
    </div>
</div>
