<div class="project-title">
    <button class="btn dropdown-toggle project-dropdown" type="button" data-toggle="dropdown" aria-expanded="true">
        {{ name }}
        {% if editable or is_new or itsi %}
            <i class="fa fa-caret-down"></i>
        {% endif %}
    </button>
    {% if editable or is_new or itsi %}
        <ul class="dropdown-menu menu-right" role="menu">
            {% if not is_new and editable %}
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" id="share-project">Share</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" id="project-privacy">{% if is_private %}Make Public{% else %}Make Private{% endif %}</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" id="delete-project">Delete</a></li>
            {% endif %}
            {% if editable %}
                <li role="presentation"><a role="menuitem" tabindex="-1" data-toggle="modal" id="rename-project">Rename</a></li>
            {% endif %}
            {% if is_new %}
                <li role="presentation"><a role="menuitem" tabindex="-1" id="save-project">Save</a></li>
            {% endif %}
            {% if itsi %}
                <li role="presentation"><a role="menuitem" tabindex="-1" id="itsi-clone">Embed in ITSI</a></li>
            {% endif %}
            {% if user and not itsi_embed %}
                <li role="separator" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" data-url="/projects/">My Projects</a></li>
            {% endif %}
        </ul>
        {% endif %}
</div>
<div class="model-analyze-toggle-tab-header" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                <div> Analyze </div>
            </a>
        </li>
        <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="true"
               data-toggle="tab" href="#modeling-tab-contents" role="tab">
                <div> Model </div>
            </a>
        </li>
    </ul>
</div>
