<div class="sidebar-tab-header" role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li class="active" role="presentation">
            <a aria-controls="home" aria-expanded="false"
               data-toggle="tab" href="#analyze-tab-contents" role="tab">
                <div> Analyze </div>
            </a>
        </li>
        <li role="presentation">
            <a aria-controls="home" aria-expanded="true"
               data-toggle="tab" href="#modeling-tab-contents" role="tab">
                <div> Model </div>
            </a>
        </li>
    </ul>
</div>

<div class="tab-contents-region">
    <div class="tab-content">
        <div role="tabpanel" id="analyze-tab-contents" class="tab-pane"></div>
        <div role="tabpanel" id="modeling-tab-contents" class="tab-pane"></div>
    </div>
</div>
