<div class="inline controls"></div>

<div id="modification-btn-wrapper"> <!-- Modifications Dropdown -->
    <div class="dropdown"> <!-- Dropdown Button -->
        <button class="btn btn-sm btn-default inverted" type="button" data-toggle="dropdown" aria-expanded="true">
        <span id="modification-number"><strong>{{ shapes|length }}</strong></span> Modifications
        </button>
        <div id="modifications" class="dropdown-menu menu-right" role="menu"> <!-- DropdownContent -->
        {% for controlName, models in groupedShapes %}
            <div class="pad-1 brd-bottom">
                <label class="medium">
                    {% if controlName == 'landcover' %}
                    Land Cover
                    {% elif controlName == 'conservation_practice' %}
                    Conservation Practice
                    {% endif %}
                </label>
                <table id="mod-{{ controlName|lower|replace(' ', '') }}" class="table modifications custom-hover">
                {% for model in models %}
                    <tr>
                        <td>{{ model.label(model.get('value')) }}</td>
                        <td class="strong text-right">{{ model.get('area')|round(1)|toLocaleString }} {{ model.get('units') }}</td>
                        {% if editable %}
                        <td class="text-right"><button class="btn btn-sm btn-icon dark" type="button" data-delete="{{ model.cid }}">
                        <i class="fa fa-trash"></i>
                        </button></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% endfor %}
        </div> <!-- End Dropdown Content -->
    </div> <!-- End Dropdown Button -->
</div> <!-- Modifications Dropdown -->
