{% if editable and not isOnlyCurrentConditions %}
    <button class="btn btn-sm btn-default inverted btn-scenario" id="add-scenario"><i class="fa fa-plus"></i>New scenario</button>
{% endif %}
{% if isGwlfe and activeScenario and not isOnlyCurrentConditions %}
    <button class="btn btn-sm btn-default inverted btn-scenario" id="export-gms"><i class="fa fa-download"></i>Export GMS</button>
    {% include './gmsDownloadForm.html' %}
{% endif %}
{% if showCompare %}
    <button class="btn btn-sm btn-default inverted btn-scenario" id="show-compare"><i class="fa fa-th"></i> Compare</button>
{% endif %}
