<a href="#{{ cid }}" data-scenario-cid="{{ cid }}" aria-controls="home" role="tab" data-toggle="tab" class="tab-name"><span>{{ name }}</span></a>
{% if active %}
    <div class="scenario-btn-dropdown">
        <div class="dropdown">
            <button class="btn btn-sm btn-icon dark dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu menu-right" role="menu">
                {% if editable %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-action="share">Share</a></li>
                {% endif %}
                <li role="presentation"><a role="menuitem" tabindex="-1" data-action="print">Print</a></li>
                {% if not is_current_conditions %}
                    {% if editable %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-action="rename">Rename</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-action="duplicate">Duplicate</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" data-action="delete">Delete</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
