<div class="tab-controls">
    <div class="dropdown" id="scenarios-drop-down-region"></div>
    {% if editable %}
        <button class="btn btn-tab" id="add-scenario"><i class="fa fa-plus"></i></button>
    {% endif %}
</div>
<div id="scenario-wrapper" class="scenario-tabs-wrapper">
    <div role="tabpanel" id="scenarios-tab-panel-region">
    </div>
</div>
<div class="fade-tabs"></div>
<div class="compare-top-btn">
    <a data-url={{ compareUrl }} class="btn btn-compare"><i class="fa fa-th"></i> Compare</a>
</div>
