<div class="inline controls"></div>

{% if not compareMode %}
    <div id="modification-btn-wrapper"> <!-- Modifications Dropdown -->
        <div class="dropdown"> <!-- Dropdown Button -->
            {% if not is_current_conditions %}
                {% if shapes|length == 0 %}
                    <button class="btn btn-sm btn-default inverted" type="button" disabled="true">
                {% else %}
                    <button class="btn btn-sm btn-default inverted" type="button" data-toggle="dropdown" aria-expanded="true">
                {% endif %}
                <span id="modification-number"><strong>{{ shapes|length }}</strong></span> Modifications
                </button>
            {% endif %}
            <div id="modifications" class="dropdown-menu menu-right" role="menu"> <!-- DropdownContent -->
                {% for controlName, models in groupedShapes %}
                    <div class="pad-1 brd-bottom">
                        <table id="mod-{{ controlName|lower|replace(' ', '') }}" class="table modifications custom-hover">
                            <thead>
                                <tr>
                                    <td class="text-left modification-type">
                                        {% if controlName == 'landcover' %}
                                            Land Cover
                                        {% elif controlName == 'conservation_practice' %}
                                            Conservation Practice
                                        {% endif %}
                                    </td>
                                    <td class="text-right">Effective Area</td>
                                    <td></td>
                                </tr>
                            </thead>
                            {% for model in models %}
                                <tr>
                                    <td>{{ model.get('value')|tr55Name }}</td>
                                    <td class="strong text-right">{{ model.get('effectiveArea')|round(2)|toLocaleString(2) }} {{ model.get('effectiveUnits') }}</td>
                                    {% if editable %}
                                        <td class="text-right"><button class="btn btn-sm btn-icon dark" type="button" data-delete="{{ model.cid }}">
                                            <i class="fa fa-trash"></i>
                                        </button></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
                <div class="pad-1">
                    <p class="message">Effective area represents the area of a modification that is within the area of interest. The area of the modification is reduced further if there are overlapping modifications, with the modification on top taking precedent.</p>
                </div>
            </div> <!-- End Dropdown Content -->
        </div> <!-- End Dropdown Button -->
    </div> <!-- Modifications Dropdown -->
{% endif %}
