<button class="btn btn btn-tab dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
  <i class="fa fa-bars"></i>
</button>
<ul class="dropdown-menu menu-left" role="menu" aria-labelledby="select-area"></ul>
