{% if not is_new %}
    <li class="scenario-options-dropdown-menu-item" role="presentation" role="presentation" data-action="share">
        <i  class="fa fa-share-alt" title="Share"></i> Share
    </li>
{% endif %}
{% if not is_current_conditions %}
    <li class="scenario-options-dropdown-menu-item" role="presentation" li data-action="duplicate">
        <i class="fa fa-copy" title="Duplicate"></i> Duplicate
    </li>
{% endif %}
{% if not is_current_conditions %}
    <li class="scenario-options-dropdown-menu-item" role="presentation" data-action="delete">
        <i class="fa fa-trash" title="Delete"></i> Delete
    </li>
{% endif %}
{% if is_gwlfe %}
    <li class="scenario-options-dropdown-menu-item" role="presentation" data-action="export-gms">
        {% include './gmsDownloadForm.html' %}
        <i class="fa fa-download" title="Export GMS"></i> Export GMS
    </li>
{% endif %}
{% if not is_current_conditions %}
    <li class="scenario-options-dropdown-menu-item" role="presentation" data-action="rename">
        <i class="fa fa-pencil-square-o" title="Rename"></i> Rename
    </li>
{% endif %}
