<div class="dropdown-submenu scenario-dropdown-menu-item">
<!-- elements appear in the reverse order in the ui -->
    {% if editable and (gwlfe or not is_current_conditions or not is_new) %}
        <div class="scenario-dropdown-actions">
            <div class="dropdown options-dropdown-region"></div>
            <i data-action="show-options-dropdown" class="fa fa-ellipsis-h" title="Options..."></i>
        </div>
    {% endif %}
    <span id="scenario-name" data-action="select">
        {% if active %}
            <strong class="-active">{{ name }}</strong>
        {% else %}
            {{ name }}
        {% endif %}
    </span>
</div>
