{% if isOnlyCurrentConditions and isGwlfe %}
<button id="download-cc-gms" class="btn btn-link" type="button" aria-expanded="true">
    <i class="fa fa-download"></i> Export GMS
</button>

{% include "./gmsDownloadForm.html" %}

{% endif %}
<div class="right-controls-container">
    <div class="tab-content scenario-toolbar-tab-content"></div>
    {% if isOnlyCurrentConditions and editable %}
    <button id="add-changes" class="btn btn-link" type="button" aria-expanded="true">
        <i class="fa fa-plus-circle"></i> Add changes to this area
    </button>
    {% endif %}
</div>
