{% if isOnlyCurrentConditions and isGwlfe %}
<button id="download-cc-gms" class="btn btn-sm btn-default inverted btn-scenario" type="button" aria-expanded="true">
    <i class="fa fa-download"></i> Export GMS
</button>

{% include "./gmsDownloadForm.html" %}

{% endif %}
<div class="right-controls-container">
    <div class="tab-content scenario-toolbar-tab-content"></div>
    {% if isOnlyCurrentConditions and editable %}
    <button id="add-changes" class="btn btn-link" type="button" aria-expanded="true">
        <i class="fa fa-plus-circle"></i> Add changes to this area
    </button>
    {% endif %}
    {% if isCurrentConditions and isGwlfe %}
    <button id="custom-weather-data" class="btn btn-sm btn-default inverted btn-scenario" type="button" aria-expanded="true">
        <i class="fa fa-cloud-upload"></i> Custom Weather
    </button>
    {% endif %}
</div>
