<div id="land-cover-tools" class="dropdown"> <!-- Landcover Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Land Cover
    </button>
    <div id="land-tools" class="dropdown-menu menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                <li>
                    <div class="thumb"></div>
                    <label class="dark">LIR</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">HIR</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Commercial</label>
                </li>
            </ul>
            <ul class="row">
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Forest</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Turf Grass</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Pasture</label>
                </li>
            </ul>
            <ul class="row">
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Grassland</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Row Crop</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Wetland</label>
                </li>
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1"> <!-- Dropdown Footer -->
            <h2 class="dark">Grassland</h2>
            <br>
            <span>Grassland is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</span>
        </div> <!-- End Dropdown Footer -->
    </div> <!-- End Dropdown -->
</div> <!-- End Land Cover Tools -->

<div id="conservation-practice-tools" class="dropdown"> <!-- Conservation Practice Tools -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-plus-circle"></i> Conservation Practice
    </button>
    <div id="conserve-tools" class="dropdown-menu draw-tools menu-left" role="menu"> <!-- Dropdown -->
        <div class="pad-1"> <!-- Dropdown Content -->
            <ul class="row">
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Rain garden</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Veg Infil Basin</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Porous Paving</label>
                </li>
            </ul>
            <ul class="row">
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Green Roof</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">No-Till Agriculture</label>
                </li>
                <li>
                    <div class="thumb"></div>
                    <label class="dark">Cluster Housing</label>
                </li>
            </ul>
        </div> <!-- End Dropdown Content -->

        <div class="dropdown-footer pad-1"> <!-- Dropdown Footer -->
            <h2 class="dark">Cluster Housing</h2>
            <br>
            <span>Cluster Housing is lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</span>
        </div> <!-- End Dropdown Footer -->
    </div> <!-- End Dropdown -->
</div> <!-- End Conservation Practice Tools -->

<select class="selectpicker" data-style="btn btn-sm btn-primary" data-size="3"> <!-- Weather Tools -->
    <option data-target="24hour">24 Hour</option>
    <option>Historical</option>
    <option>Custom</option>
</select> <!-- End Weather Tools -->

<div class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Advanced"> <!-- Advanced Settings -->
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
    <i class="fa fa-cog"></i>
    </button>
    <ul class="dropdown-menu menu-right" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Advanced Inputs</a></li>
    </ul>
</div>

<div id="modification-btn-wrapper"> <!-- Modifications Dropdown -->
    <div class="dropdown"> <!-- Dropdown Button -->
        <button class="btn btn-sm btn-default inverted" type="button" data-toggle="dropdown" aria-expanded="true">
        <span id="modification-number"><strong>3</strong></span> Modifications
        </button>
        <div id="modifications" class="dropdown-menu menu-right" role="menu"> <!-- DropdownContent -->
            <div class="pad-1 brd-bottom"> <!-- Land Cover Modifications -->
                <table id="mod-landCover" class="table modifications custom-hover">
                    <label class="medium">Land Cover</label>
                    <tr>
                        <td>Grassland</td>
                        <td class="strong text-right">+3.2 Acres</td>
                        <td class="text-right"><button class="btn btn-sm btn-icon dark" type="button">
                        <i class="fa fa-trash"></i>
                        </button></td>
                    </tr>
                    <tr>
                        <td>Pasture</td>
                        <td class="strong text-right">+2.3 Acres</td>
                        <td class="text-right"><button class="btn btn-sm btn-icon dark" type="button">
                        <i class="fa fa-trash"></i>
                        </button></td>
                    </tr>
                </table>
            </div> <!-- End Land Cover Modifications -->
            <div class="pad-1"> <!-- Conservation Practice Modifications -->
                <table id="mod-conservationPractice" class="table modifications custom-hover">
                    <label class="medium">Conservation Practice</label>
                    <tr>
                        <td>Cluster Housing</td>
                        <td class="strong text-right">+0.5 Acres</td>
                        <td class="text-right"><button class="btn btn-sm btn-icon dark" type="button">
                        <i class="fa fa-trash"></i>
                        </button></td>
                    </tr>
                </table>
            </div> <!-- End Conservation Practice Modifications -->
        </div> <!-- End Dropdown Content -->
    </div> <!-- End Dropdown Button -->
</div> <!-- Modifications Dropdown -->
