
.icon-boundary:before { content: '\e804'; } /* '' */
.icon-observations:before { content: '\e805'; } /* '' */
.icon-coverage:before { content: '\e807'; } /* '' */
.icon-basemaps:before { content: '\e809'; } /* '' */
.icon-streams:before { content: '\e80e'; } /* '' */