[Unit]
Description=mmw-geoprocessing
After=network.target

[Service]
{% if ['development', 'test'] | some_are_in(group_names) -%}
Environment=AWS_PROFILE={{ aws_profile }}
{% endif %}
Environment="JAVA_WITH_ENV=/usr/bin/envdir /etc/mmw.d/env /usr/bin/java"
User=mmw
WorkingDirectory={{ geop_home }}
ExecStart=/bin/sh -c '${JAVA_WITH_ENV} -jar mmw-geoprocessing-{{ geop_version }}.jar'

[Install]
{% if ['development', 'test'] | some_are_in(group_names) -%}
WantedBy=opt-app.mount
{% else %}
WantedBy=multi-user.target
{% endif %}
